<div class="featuresDiv">
    <div style="font-family: 'Open Sans', sans-serif;font-size: 16px;left:0;width:100%;text-align:center; color:white;padding-bottom: 20px;">
       <%= msg.html_safe %>
    </div>
    <table>
        <tbody>
        </tbody>
        <tr>
            <td>
                <%= image_tag "cat_food.png", alt:"Diet"%><br>
                 <%=t 'menu_diet' %>
            </td>
            <td>
                <%= image_tag "cat_exercise.png", alt:"Exercise" %><br>
                 <%=t 'menu_exercise' %>
            </td>
            <td>
                <%= image_tag "cat_health.png", alt:"Health" %><br>
                 <%=t 'menu_health' %>
            </td>
            <td>
                <%= image_tag "cat_medication.png", alt:"Medication" %><br>
                 <%=t 'menu_medication' %>
            </td>
            <td>
                <%= image_tag "cat_wellbeing.png", alt:"Well-Being" %><br>
                 <%=t 'menu_wellbeing' %>
            </td>
            <td>
                <%= image_tag "cat_genetics.png", alt:"Genetics" %><br>
                 <%=t 'menu_genetics' %>
            </td>
            <td>
                <%= image_tag "cat_labresult.png", alt:"Lab Results" %><br>
                 <%=t 'menu_labresults' %>
            </td>
        </tr>
    </table>


<div class="welcomeMessage">
  <%=t 'welcome_message' %>
</div>

</div>