<div class="featuresDiv">
    <div style="font-family: 'Open Sans', sans-serif;font-size: 16px;left:0;width:100%;text-align:center; color:white;padding-bottom: 20px;">
       <%= msg.html_safe %>
    </div>
    <table>
        <tbody>
        </tbody>
        <tr>
            <td>
                <%= image_tag "cat_food.png", alt:"Diet"%><br>
                Diet
            </td>
            <td>
                <%= image_tag "cat_exercise.png", alt:"Exercise" %><br>
                Exercise
            </td>
            <td>
                <%= image_tag "cat_health.png", alt:"Health" %><br>
                Health
            </td>
            <td>
                <%= image_tag "cat_medication.png", alt:"Medication" %><br>
                Medication
            </td>
            <td>
                <%= image_tag "cat_wellbeing.png", alt:"Well-Being" %><br>
                Well-Being
            </td>
            <td>
                <%= image_tag "cat_genetics.png", alt:"Genetics" %><br>
                Genetics
            </td>
        </tr>
    </table>


<div class="welcomeMessage">
  Controlling diabetes involves thinking about all the factors that impact on blood glucose, including the carbohydrate you eat, and the amount of insulin you need for it, the exercise you have recently done and the exercise you are planning to do, and learning how your body responds to different circumstances. SmartDiab offers you an easy-to-use interface to track and analyze all important factors that may impact the way you feel and your blood glucose level.
</div>

</div>