<div class="featuresDiv">
    <div style="font-family: 'Open Sans', sans-serif;font-size: 16px;left:0;width:100%;text-align:center; color:white;padding-bottom: 20px;">
       <%= msg.html_safe %>
    </div>
    <table>
        <tbody>
        </tbody>
        <tr>
            <td>
                <%= image_tag "cat_food.png", alt:"Diet"%><br>
                Diet
                <p>
                    Having diabetes doesn't mean that you have to give up all of the foods you like or buy special
                    "diabetic" foods.
                </p>
            </td>
            <td>
                <%= image_tag "cat_exercise.png", alt:"Exercise" %><br>
                Exercise
                <p>Physical activity can help you to feel better both physically and mentally. There are many benefits
                    of staying active.
                </p>
            </td>
            <td>
                <%= image_tag "cat_health.png", alt:"Health" %><br>
                Health
                <p>
                    In humans it is the ability of individuals or communities to adapt and self-manage when facing
                    physical, mental or social challenges.
                </p>
            </td>
            <td>
                <%= image_tag "cat_medication.png", alt:"Medication" %><br>
                Medication
                <p>
                    Injecting insulin only takes a minute or two. Insulin pens are light and easy to carry, and you can
                    take insulin anywhere you go.


                </p>
            </td>
            <td>
                <%= image_tag "cat_wellbeing.png", alt:"Well-Being" %><br>
                Well-Being
                <p>Being able to cope with diabetes, and living a full, healthy and productive life requires support
                    from many sides.</p>

            </td>
            <td>
                <%= image_tag "cat_genetics.png", alt:"Genetics" %><br>
                Genetics
                <p>
                    Find out about your ancestral origins, what percent of your DNA comes from populations around the
                    world.
                </p>
            </td>
        </tr>
    </table>
</div>