
<% if is_mobile_device? || is_tablet_device? %>
    <div style="position:absolute;left:50%;margin-left:-240px;top:0px;">

        <div style="width: 480px;height: 228px;color: white;">
            <div style="padding-left: 100px;padding-top:20px;">
                <%= image_tag "logo-login.png", id:"loginLogo", class: "loginLogo", alt:"Login" %>
            </div>
            <div style="float: left;padding-top: 15px;padding-left: 100px;">
                <span style="font-family: 'Open Sans', sans-serif;font-size: 30px;">Sign up to SmartDiab</span><br>
                <span>Your health is our mission</span>
            </div>
        </div>
    </div>
<% else %>
    <div style="position:absolute;left:50%;margin-left:-240px;top:100px;">

        <div style="width: 480px;height: 128px;color: white;">
            <%= image_tag "logo-login.png", id:"loginLogo", class: "loginLogo", alt:"Login" %>

            <div style="float: left;padding-top: 35px;padding-left: 20px;">
                <span style="font-family: 'Open Sans', sans-serif;font-size: 30px;">Sign up to SmartDiab</span><br>
                <span>Your health is our mission</span>
            </div>
        </div>
    </div>
<% end %>

<div id="registerDiv" class="registerDiv">
    <div>
        <%= form_tag users_path, :method => :post do %>
        <input id="username_field" name="user[email]" type="text" class="loginField animField"/><br>
        <input id="password_field" name="user[password]" type="password" class="loginField animField"/><br>
        <input id="password_retry_field" name="user[password_confirmation]" type="password" class="loginField animField"/><br>
        <input type="submit" class="loginButton animButton" value="Join"/>
        <% end %>
        <div style="padding-top: 5px;color: #A5A5A5;font-size: 12px;">
            By joining SmartDiab, you agree to our Terms of Service and Privacy Policy.
        </div>
    </div>
</div>

<% if is_mobile_device? || is_tablet_device? %>
    <%= render partial: 'features_mobile', locals: {  msg: "Already a Member? Click <a class=\"signupLink\" href=\"#{login_path}\">Here</a> to Login!"} %>
<% else %>
    <%= render partial: 'features', locals: {  msg: "Already a Member? Click <a class=\"signupLink\" href=\"#{login_path}\">Here</a> to Login!"} %>
<% end %>

<script>
    signup_loaded()
</script>

