

<div style="position:absolute;left:50%;margin-left:-144px;width: 288px;top:100px;font-family: 'Open Sans', sans-serif;font-size: 30px;">
    <center>
        <%= image_tag "logo-login.png", id:"loginLogo", class: "loginLogo", alt:"Login" %>
        <br/>
        <span style="color:white">Sign in to SmartDiab</span>
    </center>
</div>

<div id="loginDiv" class="loginDiv">
    <div>
        <%= form_tag sessions_path, :method => :post do %>
        <input id="username_field" name="email" type="text" class="loginField animField"/><br>
        <input id="password_field" name="password" type="password" class="loginField animField"/><br>
        <input type="submit" class="loginButton animButton" value="Login"/>
        <% end %>
        <div style="padding-top: 5px;color: #A5A5A5;font-size: 12px;">
            <a class="forgottenPwLink" href="<%= sessions_reset_password_path %>">Forgotten password</a>
        </div>
    </div>
</div>

<% if is_mobile_device? || is_tablet_device? %>
    <%= render partial: 'features.mobile', locals: { msg: "Not a Member? <a class=\"signupLink\" href=\"#{signup_path}\">Sign Up Now</a> and Start Managing Your Diabetes-related Data!"} %>
<% else %>
    <%= render partial: 'features', locals: { msg: "Not a Member? <a class=\"signupLink\" href=\"#{signup_path}\">Sign Up Now</a> and Start Managing Your Diabetes-related Data!"} %>
<% end %>

<script>
    signin_loaded()
</script>
