<table>
    <tr>
        <th>username</th>
        <th>source</th>
        <th>date</th>
        <th>group</th>
        <th>total_duration</th>
        <th>steps</th>
        <th>soft_duration</th>
        <th>moderate_duration</th>
        <th>hard_duration</th>
        <th>distance</th>
        <th>calories</th>
        <th>elevation</th>
        <th>synced_at</th>
        <th>sync_final</th>
    </tr>
    <% for s in @summaries %>

        <tr>
            <td><%= s.user.name %></td>
            <td><%= s.source %></td>
            <td><%= s.date %></td>
            <td><%= s.group %></td>
            <td><%= s.total_duration %></td>
            <td><%= s.steps %></td>
            <td><%= s.soft_duration %></td>
            <td><%= s.moderate_duration %></td>
            <td><%= s.hard_duration %></td>
            <td><%= s.distance %></td>
            <td><%= s.calories %></td>
            <td><%= s.elevation %></td>
            <td><%= s.synced_at %></td>
            <td><%= s.sync_final %></td>
        </tr>

    <% end %>
</table>