<h1>Listing lifestyles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Source</th>
      <th>Start Time</th>
      <th>Group</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lifestyles.each do |lifestyle| %>
      <tr>
        <td><%= lifestyle.user_id %></td>
        <td><%= lifestyle.source %></td>
        <td><%= lifestyle.start_time %></td>
        <td><%= lifestyle.group %></td>
        <td><%= lifestyle.name %></td>
        <td><%= lifestyle.amount %></td>
        <td><%= lifestyle.data %></td>
        <td><%= link_to 'Show', user_lifestyle_path(lifestyle.user, lifestyle) %></td>
        <td><%= link_to 'Edit', edit_user_lifestyle_path(lifestyle.user, lifestyle) %></td>
        <td><%= link_to 'Destroy', user_lifestyle_path(lifestyle.user, lifestyle), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Lifestyle', new_user_lifestyle_path(@user) %>