<p id="notice"><%= notice %></p>

<p>
    <strong>ID:</strong>
    <%= @user.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>User Name:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Activities', user_activities_path(@user) %>
<br/>
<%= link_to 'Measurements', user_measurements_path(@user) %>
<br/>
<%= link_to 'Lifestyles', user_lifestyles_path(@user) %>
<br/>
<br/>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
