<li>

  <table>
      <tr>
        <td>
          <% if activity_item.activity_type %>
              <%= image_tag get_activity_image(activity_item.activity_type.name) %>
          <% else %>
              <%= image_tag 'walking40.png' %>
          <% end %>
        </td>
        <td class="activity_item">
          <input id="activity_data_<%=activity_item.id%>" type="hidden" value="<%=
                d = activity_item.as_json
                if activity_item.activity_type
                  d.merge!({'activity_name' => activity_item.activity_type.name})
                  d.merge!({'activity_category' => activity_item.activity_type.category})
                end
                JSON.dump(d)
          %>">
          <strong><%= activity_item.title %></strong> <%=t :intensity %>: <%=(t :intensities).split(" ")[activity_item.intensity.to_i-1]%> <br/>
          <%=(t :start)%>: <%= activity_item.start_time.strftime("%F %H:%M") if activity_item.start_time %>,
          <%=t :duration %>: <%= activity_item.duration %> <%=t :minute_abbr %></span>
        </td>
      </tr>
      <tr>
        <td class="iconColumn">
          <%= form_tag( "/users/#{current_user.id}/activities/#{activity_item.id}", id: "updateExerciseForm", remote: true, method: "put", class: "resource-update-form") do %>
              <button id="fav-icon" class="tableControl">
                <% if activity_item.favourite %>
                    <i class="fa fa-star fa-2x is-favorite"></i>
                    <input type="hidden" name="activity[favourite]" value="false" >
                <% else %>
                    <i class="fa fa-star fa-2x no-favorite"></i>
                    <input type="hidden" name="activity[favourite]" value="true" >
                <% end %>
              </button>
          <% end %>
        </td>
        <td class="iconColumn deleteExercise">
          <%= form_tag( "/users/#{current_user.id}/activities/#{activity_item.id}", id: "deleteExerciseForm", remote: true, method: "delete", class: "resource-delete-form") do %>
              <button class="tableControl">
                <i class="fa fa-trash-o fa-2x"></i>
              </button>
          <% end %>
        </td>
      </tr>
  </table>

</li>
