<tr class="bg">
    <!-- TODO change this, add measurement type to model-->
    <% if activity_item.group %>
        <td style="width:40px;" class="padded">
            <%= image_tag activity_item.group+"40.png" %>
        </td>
        <td class="historyTitle padded">
            <%= activity_item.group %>
            <% if activity_item.steps %>
                <%= activity_item.steps %>steps
            <% end %>

            <% if activity_item.duration %>
                <%= activity_item.duration %>minutes
            <% end %>

            <% if activity_item.distance %>
                <%= activity_item.distance/1000.0 %>km
            <% end %>
        </td>
        <td class="padded" style="width: 150px">
            <%= activity_item.start_time.strftime("%F %T") if activity_item.start_time %>
        </td>
    <% else %>
        <td style="width:40px;" class="padded">
            <%= image_tag "walking40.png" %>
        </td>
        <td class="historyTitle padded">
            Unknown <%= activity_item.distance %>
        </td>
        <td class="padded" style="width: 150px">
            <%= activity_item.start_time.strftime("%F %T") if activity_item.start_time %>
        </td>
    <% end %>
    <td>
        <%= form_tag( "/users/#{current_user.id}/activities/#{activity_item.id}", id: "delete_meas_#{activity_item.id}", remote: true, method: :delete, class: "resource-delete-form") do %>
            <button class="deleteForm">Delete</button>
        <% end %>
    </td>
</tr>