<tr class="bg">

  <td style="width:40px;" class="padded">
    <% if activity_item.activity_type %>
        <%= image_tag get_activity_image(activity_item.activity_type.name) %>
    <% else %>
        <%= image_tag 'walking40.png' %>
    <% end %>

  </td>
  <td class="historyTitle padded activityItem">
    <input id="activity_data_<%=activity_item.id%>" type="hidden" value="<%=
        d = {'activity' => activity_item.as_json }
        if activity_item.activity_type
          d.merge!({'activity_name' => activity_item.activity_type.name})
          d.merge!({'activity_category' => activity_item.activity_type.category})
        end
        d.to_json
    %>">

    <span class="itemTitle">
        <%if I18n.locale == :hu%>
            <%= DB_HU_CONFIG['activities'][activity_item.title] %>
        <%else%>
            <%= DB_EN_CONFIG['activities'][activity_item.title] %>
        <%end%>
    </span>
    <span> <%=t :intensity %>: <%=(t :intensities).split(" ")[activity_item.intensity.to_i]%>,  <%=t :duration %>: <% if activity_item.duration < 60 %> <%=activity_item.duration%><%=t :minute_abbr %> <%else%> <%=activity_item.duration/60%> <%=t :hours %> <%=activity_item.duration%60%><%=t :minute_abbr %><%end%>  </span>
    <div class="right">
      <% if activity_item.calories %>
          <span class="tag kcal"><%= activity_item.calories.round(2) %> kcal</span>
      <% end %>
    </div><br/>

    <span><%=(t :start)%>: <%= activity_item.start_time.strftime("%F %H:%M") if activity_item.start_time %> <%=(t :end)%>: <%= activity_item.end_time.strftime("%F %H:%M") if activity_item.end_time %></span>

  </td>


  <td class="iconColumn">
    <%= form_tag(root_path+"users/#{current_user.id}/activities/#{activity_item.id}", id: "mod_act_#{activity_item.id}", remote: true, method: "put", class: "resource-update-form") do %>
        <button id="fav-icon" class="tableControl">
          <% if activity_item.favourite %>
              <i class="fa fa-star fa-2x is-favorite"></i>
              <input type="hidden" name="activity[favourite]" value="false" >
          <% else %>
              <i class="fa fa-star fa-2x no-favorite"></i>
              <input type="hidden" name="activity[favourite]" value="true" >
          <% end %>
        </button>
    <% end %>
  </td>

  <td class="iconColumn deleteExercise">
    <%= form_tag(root_path+"users/#{current_user.id}/activities/#{activity_item.id}", id: "delete_act_#{activity_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>

