<tr class="bg">

  <td style="width:40px;" class="padded">
    <% if activity_item.activity_type %>
        <%= image_tag get_activity_image(activity_item.activity_type.name) %>
    <% else %>
        <%= image_tag 'walking40.png' %>
    <% end %>

  </td>
  <td class="historyTitle padded activityItem">
    <input id="activity_data_<%=activity_item.id%>" type="hidden" value="<%=
        d = activity_item.as_json
        if activity_item.activity_type
          d.merge!({'activity_name' => activity_item.activity_type.name})
          d.merge!({'activity_category' => activity_item.activity_type.category})
        end
        JSON.dump(d)
    %>">
    <span class="itemTitle"><%= activity_item.title %></span><span> <%= activity_item.subtitle %></span><br/>
    <span><%= activity_item.start_time.strftime("%F %H:%M") if activity_item.start_time %> </span>

    <div class="right">
      <% if activity_item.calories %>
          <span class="tag kcal"><%= activity_item.calories.round(2) %> kcal</span>
      <% end %>
    </div>
  </td>


  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/activities/#{activity_item.id}", id: "mod_act_#{activity_item.id}", remote: true, method: "put", class: "resource-update-form") do %>
        <button id="fav-icon" class="tableControl">
          <% if activity_item.favourite %>
              <i class="fa fa-star fa-2x is-favorite"></i>
              <input type="hidden" name="activity[favourite]" value="false" >
          <% else %>
              <i class="fa fa-star fa-2x no-favorite"></i>
              <input type="hidden" name="activity[favourite]" value="true" >
          <% end %>
        </button>
    <% end %>
  </td>

  <td class="iconColumn deleteExercise">
    <%= form_tag( "/users/#{current_user.id}/activities/#{activity_item.id}", id: "delete_act_#{activity_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>
