<tr class="bg">

  <td style="width:40px;" class="padded">
    <%=if activity_item.group == "sport"
         image_tag "bicycle40.png"
       elsif  activity_item.group == "other"
         image_tag "regular40.png"
       end%>

  </td>
  <td class="historyTitle padded activityItem">
    <input id="activity_data_<%=activity_item.id%>" type="hidden" value="<%=
        d = activity_item.as_json
        if activity_item.activity_type
          d.merge!({'activity_name' => activity_item.activity_type.name})
          d.merge!({'activity_category' => activity_item.activity_type.category})
        end
        JSON.dump(d)
    %>">
    <strong><%= activity_item.try(:activity_type).try(:name) || "Unknown sport" %></strong>

    <div class="right">
      <% if activity_item.calories %>
          <span class="tag kcal"><%= activity_item.calories.round(2) %> kcal</span>
      <% end %>
    </div>

    <br>
    <span> <%= activity_item.start_time.strftime("%F") if activity_item.start_time %></span>,
    <span> <%= activity_item.start_time.strftime("%H:%M") if activity_item.start_time %></span>,
    <% if activity_item.duration %>
        <span><%= activity_item.duration %> minutes</span>
    <% end %>
  </td>
  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/activities/#{activity_item.id}", id: "mod_act_#{activity_item.id}", remote: true, method: "put", class: "resource-update-form") do %>
        <button id="fav-icon" class="tableControl">
          <% if activity_item.favourite %>
              <i class="fa fa-star fa-2x is-favorite"></i>
              <input type="hidden" name="activity[favourite]" value="false" >
          <% else %>
              <i class="fa fa-star fa-2x no-favorite"></i>
              <input type="hidden" name="activity[favourite]" value="true" >
          <% end %>
        </button>
    <% end %>
  </td>
  <td class="iconColumn deleteExercise">
    <%= form_tag( "/users/#{current_user.id}/activities/#{activity_item.id}", id: "delete_act_#{activity_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>
