<tr class="bg">
    <!-- TODO change this, add measurement type to model-->
    <% if activity_item.group == "walking" %>
        <td style="width:40px;" class="padded">
            <%= image_tag "weight40.png" %>
        </td>
        <td class="historyTitle padded">
            Walking <%= activity_item.steps %>
        </td>
        <td class="padded" style="width: 150px">
            <%= activity_item.start_time.strftime("%F %T") if activity_item.start_time %>
        </td>
    <% elsif activity_item.group == "running" %>
        <td style="width:40px;" class="padded">
            <%= image_tag "weight40.png" %>
        </td>
        <td class="historyTitle padded">
            Running <%= activity_item.distance %>
        </td>
        <td class="padded" style="width: 150px">
            <%= activity_item.start_time.strftime("%F %T") if activity_item.start_time %>
        </td>
    <% elsif activity_item.group == "cycling" %>
        <td style="width:40px;" class="padded">
            <%= image_tag "weight40.png" %>
        </td>
        <td class="historyTitle padded">
            Cycling <%= activity_item.distance %>
        </td>
        <td class="padded" style="width: 150px">
            <%= activity_item.start_time.strftime("%F %T") if activity_item.start_time %>
        </td>
    <% elsif activity_item.group == "swimming" %>
        <td style="width:40px;" class="padded">
            <%= image_tag "weight40.png" %>
        </td>
        <td class="historyTitle padded">
            Swimming <%= activity_item.distance %>
        </td>
        <td class="padded" style="width: 150px">
            <%= activity_item.start_time.strftime("%F %T") if activity_item.start_time %>
        </td>
    <% else %>
        <td style="width:40px;" class="padded">
            <%= image_tag "weight40.png" %>
        </td>
        <td class="historyTitle padded">
            Unknown <%= activity_item.distance %>
        </td>
        <td class="padded" style="width: 150px">
            <%= activity_item.start_time.strftime("%F %T") if activity_item.start_time %>
        </td>
    <% end %>
    <td>
        <%= form_tag( "/users/#{current_user.id}/activities/#{activity_item.id}", id: "delete_meas_#{activity_item.id}", remote: true, method: :delete, class: "resource-delete-form") do %>
            <button class="deleteForm">Delete</button>
        <% end %>
    </td>
</tr>