<tr class="bg">

  <td style="width:40px;" class="padded">
    <%= image_tag "custom/"+custom_form_item.image_name+"_gray.png", class: 'customItemIcon' %>
  </td>
  <td id="custom_form_item_<%= custom_form_item.id %>" class="historyTitle padded customFormItem">

  <span class="itemTitle">
    <%= custom_form_item.form_name %>
  </span>


  <div class="right">

    </div>
    <br>
    <%= custom_form_item.created_at.strftime("%F, %H:%M") if custom_form_item.created_at %>

  </td>

  <td class="iconColumn deleteCustomForm">
    <%= form_tag(root_path+"users/#{current_user.id}/custom_forms/#{custom_form_item.id}", id: "custom_form_item_#{custom_form_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x iconTooltip" title="<%=t 'remove_item'%>"></i>
        </button>
    <% end %>
  </td>

</tr>