<tr class="bg">
    <td style="width:40px;" class="padded">
        <%= image_tag "#{diet_item.type.downcase}40.png" %>
    </td>

    <td onclick="fill_form('<%=diet_item.type%>', '<%=diet_item.name%>', '<%=diet_item.calories%>', '<%=diet_item.carbs%>', '<%=diet_item.amount%>')" class="historyTitle padded">
      <strong>
        <% if diet_item.type!= "Smoke"  && diet_item.food_type %>
            <%= diet_item.food_type.name %>
        <% else %>
            <%= diet_item.type %><%= diet_item.name %>
        <% end %>
      </strong>

        <div class="right">
            <span class="tag kcal"><%= diet_item.calories.round(2) %> kcal</span>
            <span class="tag fat"><%= diet_item.fat.round(2) %> g</span>
            <span class="tag carbs"><%= diet_item.carbs.round(2) %> g</span>
        </div>
        <br>
        <%= diet_item.date.strftime("%F %T") if diet_item.date %>

    </td>

    <td class="iconColumn">
        <%= form_tag( "/users/#{current_user.id}/diets/#{diet_item.id}", id: "mod_diet_#{diet_item.id}", remote: true, method: "put", class: "resource-update-form") do %>
            <button id="fav-icon" class="tableControl">
              <% if diet_item.favourite %>
                  <i class="fa fa-star fa-2x is-favorite"></i>
                  <input type="hidden" name="diet[favourite]" value="false" >
              <% else %>
                  <i class="fa fa-star fa-2x no-favorite"></i>
                  <input type="hidden" name="diet[favourite]" value="true" >
              <% end %>
            </button>
        <% end %>
    </td>
    <td class="iconColumn">
        <%= form_tag( "/users/#{current_user.id}/diets/#{diet_item.id}", id: "delete_diet_#{diet_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
            <button class="tableControl">
                <i class="fa fa-trash-o fa-2x"></i>
            </button>
        <% end %>
    </td>
    <td class="iconColumn">
        <%= form_tag( "/users/#{current_user.id}/diets/#{diet_item.id}/edit", id: "edit_diet_#{diet_item.id}", remote: true, method: "get", class: "resource-delete-form") do %>
            <button class="tableControl" onclick="alert('Not implemented yet...'); return(false);">
            <i class="fa fa-pencil fa-2x"></i>
            </button>
        <% end %>
    </td>
</tr>