<li>
  <!--<a id="diet_item_<!%= diet_item.id %>" href="#editFoodPage" data-foodid="<!%= diet_item.id %>" data-transition="slidefade">-->
    <!--<!%= image_tag "#{diet_item.type.downcase}40.png" %>-->
    <!--<!% if diet_item.type != "Smoke" %>-->
      <!--<h2><!%= diet_item.food_type.name if diet_item.food_type %></h2>-->
      <!--<p><!%= diet_item.date %></p>-->
    <!--<!% else %>-->
      <!--<h2><!%= diet_item.name %></h2>-->
      <!--<p><!%= diet_item.date %></p>-->
    <!--<!% end %>-->
  <!--</a>-->

  <table>
    <tr>
      <td>
        <% if diet_item.diet_type && diet_item.diet_type != "Calory" %>
            <%= image_tag "#{diet_item.diet_type.downcase}40.png" %>
        <% else %>
            <%= image_tag "food40.png" %>
        <%end%>
      </td>
      <td class="diet_item">
        <input id="diet_data_<%= diet_item.id %>" type="hidden" value="<%=
            d = diet_item.as_json
            if diet_item.diet_type!= "Smoke" && diet_item.diet_type!= "Calory" && diet_item.food_type
              d.merge!({'food_name' => diet_item.food_type.name})
            else
              d.merge!({'food_name' => diet_item.name})
            end
            JSON.dump(d)
        %>">
        <% if diet_item.diet_type== "Smoke" %>
            <strong><%= diet_item.name %></strong>
        <% elsif diet_item.diet_type== "Calory" %>
            <% if diet_item.calories %>
                <strong><%= t "quick_calories" %></strong> <%= diet_item.calories %>kcal
            <% end %>
            <% if diet_item.carbs %>
                <strong> carbs: <%= diet_item.carbs %>g</strong>
            <% end %>
        <% elsif diet_item.diet_type== "Food" %>
            <% if diet_item.food_type %>
                <strong><%= diet_item.food_type.name %></strong> <%= diet_item.amount * 100 %>g
            <% else %>
                <strong>Food</strong> <%= diet_item.name %>
            <% end %>
        <% elsif diet_item.diet_type== "Drink" %>
            <% if diet_item.food_type %>
                <strong><%= diet_item.food_type.name %></strong> <%= diet_item.amount %>dl
            <% else %>
                <strong>Drink</strong> <%= diet_item.name %>
            <% end %>
        <% end %>
        <br/>
        <%= diet_item.date.strftime("%F, %H:%M") if diet_item.date %>
      </td>
    </tr>
    <tr>
      <td class="iconColumn">
        <%= form_tag( "/users/#{current_user.id}/diets/#{diet_item.id}", id: "updateFoodForm", remote: true, method: "put", class: "resource-update-form") do %>
            <button id="fav-icon" class="tableControl">
              <% if diet_item.favourite %>
                  <i class="fa fa-star fa-2x is-favorite"></i>
                  <input type="hidden" name="diet[favourite]" value="false" >
              <% else %>
                  <i class="fa fa-star fa-2x no-favorite"></i>
                  <input type="hidden" name="diet[favourite]" value="true" >
              <% end %>
            </button>
        <% end %>
      </td>
      <td class="iconColumn deleteDiet">
        <%= form_tag( "/users/#{current_user.id}/diets/#{diet_item.id}", id: "deleteFoodForm", remote: true, method: "delete", class: "resource-delete-form") do %>
            <button class="tableControl">
              <i class="fa fa-trash-o fa-2x"></i>
            </button>
        <% end %>
      </td>
    </tr>
  </table>
</li>
