<tr class="bg">
  <td style="width:40px;" class="padded">
    <% if diet_item.diet_type && diet_item.diet_type != "Calory" %>
         <%= image_tag "#{diet_item.diet_type.downcase}40.png" %>
    <% else %>
        <%= image_tag "food40.png" %>
    <%end%>
  </td>

  <td id="diet_item_<%= diet_item.id %>" class="historyTitle padded dietItem">
    <input id="diet_data_<%= diet_item.id %>" type="hidden" value="<%=
        d = {'diet' => diet_item.as_json}
        if diet_item.diet_type!= "Smoke" && diet_item.diet_type!= "Calory" && diet_item.food_type && diet_item.name.nil?
          d.merge!({'diet_name' => diet_item.food_type.name})
        else
          d.merge!({'diet_name' => diet_item.name})
        end
        JSON.dump(d)
    %>">

  <% if diet_item.diet_type== "Smoke" %>
      <span class="itemTitle">
        <%if I18n.locale == :hu%>
            <%=DB_HU_CONFIG['diets']['Smoke'][diet_item.food_type.name]%>
        <%else%>
            <%= DB_EN_CONFIG['diets']['Smoke'][diet_item.food_type.name]%>
        <%end%>
      </span>

  <% elsif diet_item.diet_type== "Food" %>
      <% if diet_item.food_type %>
          <% vals = (t :amount_values).split(",")
             amount = diet_item.amount
             if amount > 2
                amount = 1
             end
          %>
          <span class="itemTitle">
            <%if I18n.locale == :hu%>
                <%= DB_HU_CONFIG['diets']['Food'][diet_item.food_type.name] %>
            <%else%>
                <%= DB_EN_CONFIG['diets']['Food'][diet_item.food_type.name] %>
            <%end%>
          </span>
            <span> <%= vals[amount] %></span>
      <% else %>
          Food <%= diet_item.name %>
      <% end %>
  <% elsif diet_item.diet_type== "Calory" %>
        <% if diet_item.calories %>
            <span class="itemTitle"><%= (t :quick_calories) %></span>
            <span> <%= diet_item.calories %>kcal</span>
        <% end %>
        <% if diet_item.carbs %>
            <span> <%= (t :carbs) %>: <%= diet_item.carbs %>g</span>
        <% end %>
  <% elsif diet_item.diet_type== "Drink" %>
      <% if diet_item.food_type %>
          <span class="itemTitle">
            <%if I18n.locale == :hu%>
                <%= DB_HU_CONFIG['diets']['Drink'][diet_item.food_type.name] %>
            <%else%>
                <%= DB_EN_CONFIG['diets']['Drink'][diet_item.food_type.name] %>
            <%end%>
          </span>
          <span> <%= diet_item.amount %>dl</span>
      <% else %>
          Drink <%= diet_item.name %>
      <% end %>
  <% end %>


    <div class="right">
      <% if diet_item.calories %>
          <span class="tag kcal"><%= diet_item.calories.round(2) %> kcal</span>
      <% end %>
      <% if diet_item.carbs %>
          <span class="tag carbs"><%= diet_item.carbs.round(2) %> g</span>
      <% end %>
      <% if diet_item.fat %>
          <span class="tag fat"><%= diet_item.fat.round(2) %> g</span>
      <% end %>
      <% if diet_item.prot %>
          <span class="tag prot"><%= diet_item.prot.round(2) %> g</span>
      <% end %>
    </div>
    <br>
    <%= diet_item.date.strftime("%F, %H:%M") if diet_item.date %>

  </td>

  <td class="iconColumn">
    <% if diet_item.diet_type != "Calory" %>
        <%= form_tag(root_path+"users/#{current_user.id}/diets/#{diet_item.id}", id: "mod_diet_#{diet_item.id}", remote: true, method: "put", class: "resource-update-form") do %>
            <button id="fav-icon" class="tableControl">
              <% if diet_item.favourite %>
                  <i class="fa fa-star fa-2x is-favorite"></i>
                  <input type="hidden" name="diet[favourite]" value="false">
              <% else %>
                  <i class="fa fa-star fa-2x no-favorite"></i>
                  <input type="hidden" name="diet[favourite]" value="true">
              <% end %>
            </button>
        <% end %>
    <% end %>
  </td>
  <td class="iconColumn deleteDiet">
    <%= form_tag(root_path+"users/#{current_user.id}/diets/#{diet_item.id}", id: "delete_diet_#{diet_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>