<tr class="bg">

    <td style="width:40px;" class="padded">
        <%= image_tag "family40.png" %>
    </td>

    <td class="historyTitle padded familyhistoryItem">
      <span class="itemTitle"><%= family_history_item.disease %></span>
      <span>
        <%gen_type = GeneticsType.find(family_history_item.genetics_type_id) %>
        <%if I18n.locale == :hu%>
            <%= DB_HU_CONFIG['genetics']['relatives'][gen_type.name] %>
        <%else%>
            <%= DB_EN_CONFIG['genetics']['relatives'][gen_type.name] %>
        <%end%>
      </span><br/>
      <span><%= family_history_item.note %></span>
    </td>


  <td class="iconColumn">
    <%= form_tag(root_path+"users/#{current_user.id}/family_histories/#{family_history_item.id}", id: "delete_ls_#{family_history_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>