<li>
  <table>
    <tr>
        <td>
          <% if labresult_item.category=='hba1c' %>
              <%= image_tag "test_tube40.png" %>
          <% elsif  labresult_item.category=='ldl_chol' %>
              <%= image_tag "water40.png" %>
          <% elsif  labresult_item.category=='egfr_epi' %>
              <%= image_tag "kidney40.png" %>
          <% elsif  labresult_item.category=='ketone' %>
              <%= image_tag "ketone40.png" %>
          <% end %>
        </td>

        <td class="labresult_item">
          <% if labresult_item.category=='hba1c' %>
              <strong>HbA1c: </strong><%= labresult_item.hba1c %> %
          <% elsif  labresult_item.category=='ldl_chol' %>
              <strong>LDL-chol: </strong><%= labresult_item.ldl_chol %> mmol/L
          <% elsif  labresult_item.category=='egfr_epi' %>
              <strong>eGFR-EPI: </strong><%= labresult_item.egfr_epi %> ml/min/1.73m2
          <% elsif  labresult_item.category=='ketone' %>
              <strong>Ketone: </strong><%= labresult_item.ketone %>
          <% else %>
              <strong>Unknown labresult</strong>
          <% end %>
          <br>
          <span> <%= labresult_item.date.strftime("%F") if labresult_item.date %></span>
        </td>

      <td class="deleteLabresult">
        <%= form_tag( "/users/#{current_user.id}/lab_results/#{labresult_item.id}", id: "deleteLabresult", remote: true, method: "delete", class: "resource-delete-form") do %>
            <button class="tableControl">
              <i class="fa fa-trash-o fa-2x"></i>
            </button>
        <% end %>
      </td>
    </tr>
  </table>
</li>