<tr class="bg">

    <td style="width:40px;" class="padded">
      <% if labresult_item.category=='hba1c' %>
          <%= image_tag "test_tube40.png" %>
      <% elsif  labresult_item.category=='ldl_chol' %>
          <%= image_tag "water40.png" %>
      <% elsif  labresult_item.category=='egfr_epi' %>
          <%= image_tag "kidney40.png" %>
      <% elsif  labresult_item.category=='ketone' %>
          <%= image_tag "ketone40.png" %>
      <% end %>
    </td>

    <td class="historyTitle padded labresultItem">
      <input id="labresult_data_<%=labresult_item.id%>" type="hidden" value="<%=
          m = labresult_item.as_json
          JSON.dump(m)
      %>">
      <% if labresult_item.category=='hba1c' %>
          <strong>HbA1c: <%= labresult_item.hba1c %> </strong>
      <% elsif  labresult_item.category=='ldl_chol' %>
          <strong>LDL-chol: <%= labresult_item.ldl_chol %> </strong>
      <% elsif  labresult_item.category=='egfr_epi' %>
          <strong>eGFR-EPI: <%= labresult_item.egfr_epi %> </strong>
      <% elsif  labresult_item.category=='ketone' %>
          <strong>Ketone: <%= labresult_item.ketone %> </strong>
      <% else %>
          <strong>Unknown labresult</strong>
      <% end %>
      <br>
      <span> <%= labresult_item.date.strftime("%F") if labresult_item.date %></span>
    </td>

  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/lab_results/#{labresult_item.id}", id: "delete_labresult_#{labresult_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/lab_results/#{labresult_item.id}/edit", id: "edit_labresult_#{labresult_item.id}", remote: true, method: "get", class: "resource-delete-form") do %>
        <button class="tableControl" onclick="alert('Not implemented yet...'); return(false);">
          <i class="fa fa-pencil fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>