<tr class="bg">

    <td style="width:40px;" class="padded">
      <% if labresult_item.category=='hba1c' %>
          <%= image_tag "test_tube40.png" %>
      <% elsif  labresult_item.category=='ldl_chol' %>
          <%= image_tag "water40.png" %>
      <% elsif  labresult_item.category=='egfr_epi' %>
          <%= image_tag "kidney40.png" %>
      <% elsif  labresult_item.category=='ketone' %>
          <%= image_tag "ketone40.png" %>
      <% end %>
    </td>

    <td class="historyTitle padded labresultItem">
      <% if labresult_item.category=='hba1c' %>
          <span class="itemTitle">HbA1c: </span><span><%= labresult_item.hba1c %> %</span>
      <% elsif  labresult_item.category=='ldl_chol' %>
          <span class="itemTitle">LDL-chol: </span><span><%= labresult_item.ldl_chol %> mmol/L</span>
      <% elsif  labresult_item.category=='egfr_epi' %>
          <span class="itemTitle">eGFR-EPI: </span><span><%= labresult_item.egfr_epi %> ml/min/1.73m2</span>
      <% elsif  labresult_item.category=='ketone' %>
          <span class="itemTitle"><%=t 'labresult_ketone' %>: </span><span>
            <%if labresult_item.labresult_type%>
                <%if I18n.locale == :hu%>
                    <%= DB_HU_CONFIG['labresult']['ketone'][labresult_item.labresult_type.name]%>
                <%else%>
                    <%= DB_EN_CONFIG['labresult']['ketone'][labresult_item.labresult_type.name]%>
                <%end%>
            <%end%>
          </span>
      <% else %>
          <span class="itemTitle">Unknown labresult</span>
      <% end %>
      <br>
      <span> <%= labresult_item.date.strftime("%F") if labresult_item.date %></span>
    </td>

  <td class="iconColumn">
    <%= form_tag(root_path+"users/#{current_user.id}/labresults/#{labresult_item.id}", id: "delete_labresult_#{labresult_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>