<tr class="bg">

  <td style="width:40px;" class="padded">
    <%= image_tag lifestyle_item.group+"40.png" %>
  </td>

  <td class="historyTitle padded lifestyleItem">
    <input id="lifestyle_data_<%=lifestyle_item.id%>" type="hidden" value="<%=
        l = lifestyle_item.as_json
        if lifestyle_item.group == "illness" && lifestyle_item.illness_type
            l.merge!({'illness_illname' => lifestyle_item.illness_type.name})
        end
        JSON.dump(l)
    %>">
    <% if lifestyle_item.group %>
        <strong><%= lifestyle_item.group %></strong>
        <span>
          <% if lifestyle_item.group == 'stress' %>
            <span> <%=  stressList = ["Below average", "Average", "Medium", "High"]
                        stressList[lifestyle_item.amount] %></span>
            <br>
            <%= lifestyle_item.start_time.strftime("%F") if lifestyle_item.start_time %>
          <% elsif lifestyle_item.group == 'sleep' %>
            <span> <%= sleepList = ["Very bad", "Fairly bad", "Fairly good", "Very good"]
                       sleepList[lifestyle_item.amount] %></span>
            <br>
            <%= lifestyle_item.start_time.strftime("%F, %H:%M") if lifestyle_item.start_time %> ---
            <%= lifestyle_item.end_time.strftime("%F, %H:%M") if lifestyle_item.end_time %>
          <% elsif lifestyle_item.group == 'illness' %>
            <span> <%= lifestyle_item.illness_type.name if lifestyle_item.illness_type %></span>
            <br>
              <%= lifestyle_item.start_time.strftime("%F") if lifestyle_item.start_time %> ---
              <%= lifestyle_item.end_time.strftime("%F") if lifestyle_item.end_time %>
          <% elsif lifestyle_item.group == 'pain' && lifestyle_item.pain_type_name%>
            <span> <%= lifestyle_item.pain_type_name %></span>
            <br>
              <%= lifestyle_item.start_time.strftime("%F, %H:%M") if lifestyle_item.start_time %> ---
              <%= lifestyle_item.end_time.strftime("%F, %H:%M") if lifestyle_item.end_time %>
          <% elsif lifestyle_item.group == 'period' %>
            <span> <%= periodList = ["No pain","Mild pain","Moderate pain","Severe pain","Very painful"]
                       periodList[lifestyle_item.amount]
                       periodVolumeList = ["Light", "Moderate", "Strong", "Quite heavy","Heavy"]
                       periodVolumeList[lifestyle_item.period_volume] %></span>
            <br>
              <%= lifestyle_item.start_time.strftime("%F, %H:%M") if lifestyle_item.start_time %> ---
              <%= lifestyle_item.end_time.strftime("%F, %H:%M") if lifestyle_item.end_time %>
          <% end %>
        </span>
    <% else %>
        <strong>Ismeretlen</strong>
    <% end %>
  </td>

  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/lifestyles/#{lifestyle_item.id}", id: "delete_ls_#{lifestyle_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/lifestyles/#{lifestyle_item.id}/edit", id: "edit_ls_#{lifestyle_item.id}", remote: true, method: "get", class: "resource-delete-form") do %>
        <button class="tableControl" onclick="alert('Not implemented yet...'); return(false);">
          <i class="fa fa-pencil fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>