<tr class="bg">
    <% if lifestyle_item.group %>
        <td style="width:40px;" class="padded">
            <%= image_tag lifestyle_item.group+"40.png" %>
        </td>
        <td class="historyTitle padded">
            <%= lifestyle_item.group %>
            <%= lifestyle_item.name %>
            <%= lifestyle_item.amount %>
        </td>
        <td class="padded" style="width: 150px">
            <%= lifestyle_item.start_time.strftime("%F %T") if lifestyle_item.start_time %>
        </td>
    <% else %>
        <td style="width:40px;" class="padded">
            <%= image_tag "palmtree40.png" %>
        </td>`
        <td class="historyTitle padded">
            Unknown <%= lifestyle_item.group %>
        </td>
        <td class="padded" style="width: 150px">
            <%= lifestyle_item.start_time.strftime("%F %T") if lifestyle_item.start_time %>
        </td>
    <% end %>
    <td>
        <%= form_tag( "/users/#{current_user.id}/lifestyles/#{lifestyle_item.id}", id: "delete_diet_#{lifestyle_item.id}", remote: true, method: :delete, class: "resource-delete-form") do %>
            <button class="deleteForm">Delete</button>
        <% end %>
    </td>
</tr>