<tr class="bg">

  <td style="width:40px;" class="padded">
    <%= image_tag lifestyle_item.group+"40.png" %>
  </td>

  <td class="historyTitle padded lifestyleItem">


    <% if lifestyle_item.group=='sleep' %>
        <span class="itemTitle"><%=(t :sleep)%></span> <span><%=(t :sleepList).split(",")[lifestyle_item.amount-1]%></span><br/>
    <% elsif  lifestyle_item.group=='stress' %>
        <span class="itemTitle"><%=(t :stress)%></span> <span><%=(t :stressList).split(",")[lifestyle_item.amount-1]%></span><br/>
    <% elsif  lifestyle_item.group=='illness' %>
        <span class="itemTitle"><%=(t :illness)%></span> <span><%=(t :illnessList).split(",")[lifestyle_item.amount-1]%></span><br/>
    <% elsif  lifestyle_item.group=='pain' %>
        <span class="itemTitle"><%=(t :pain)%></span> <span><%=(t :painList).split(",")[lifestyle_item.amount-1]%></span><br/>
    <% elsif  lifestyle_item.group=='period' %>
        <span class="itemTitle"><%=(t :periods)%></span> <span><%=(t :periodPainList).split(",")[lifestyle_item.amount-1]%>  <%=(t :periodVolumeList).split(",")[lifestyle_item.period_volume-1]%></span><br/>
    <% else %>
        <strong><%=(t :unknown)%></strong>
    <% end %>
    <span><%=(t :start)%>: <%= lifestyle_item.start_time.strftime("%F %H:%M") if lifestyle_item.start_time %> <%=(t :end)%>: <%= lifestyle_item.end_time.strftime("%F %H:%M") if lifestyle_item.end_time %> </span>

  </td>

  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/lifestyles/#{lifestyle_item.id}", id: "delete_ls_#{lifestyle_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>