<tr class="bg">

  <td style="width:40px;" class="padded">
    <%= image_tag lifestyle_item.group+"40.png" %>
  </td>

  <td class="historyTitle padded lifestyleItem">
    <input id="lifestyle_data_<%=lifestyle_item.id%>" type="hidden" value="<%=
        l = lifestyle_item.as_json
        JSON.dump(l)
    %>">
    <% if lifestyle_item.group %>
        <strong><%= lifestyle_item.group %></strong>
        <span> <%= lifestyle_item.amount %></span>
        <br>
        <span>
          <% if lifestyle_item.group == 'stress' %>
            <%= lifestyle_item.start_time.strftime("%F") if lifestyle_item.start_time %>
          <% else %>
            <%= lifestyle_item.start_time.strftime("%F, %H:%M") if lifestyle_item.start_time %>
          <% end %>
        </span>
    <% else %>
        <strong>Ismeretlen</strong>
    <% end %>
  </td>

  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/lifestyles/#{lifestyle_item.id}", id: "delete_ls_#{lifestyle_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/lifestyles/#{lifestyle_item.id}/edit", id: "edit_ls_#{lifestyle_item.id}", remote: true, method: "get", class: "resource-delete-form") do %>
        <button class="tableControl" onclick="alert('Not implemented yet...'); return(false);">
          <i class="fa fa-pencil fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>