<li>
  <table>
    <tr>

      <td>
        <%= image_tag lifestyle_item.group+"40.png" %>
      </td>

      <td class="lifestyle_item">

        <% if lifestyle_item.group=='sleep' %>
            <strong><%=(t :sleep)%></strong> <%=(t :sleepList).split(",")[lifestyle_item.amount]%><br/>
            <%=(t :start)%>: <%= lifestyle_item.start_time.strftime("%F %H:%M") if lifestyle_item.start_time %> <%=(t :end)%>: <%= lifestyle_item.end_time.strftime("%F %H:%M") if lifestyle_item.end_time %>
        <% elsif  lifestyle_item.group=='stress' %>
            <strong><%=(t :stress)%></strong> <%=(t :stressList).split(",")[lifestyle_item.amount]%><br/>
            <%=(t :start)%>: <%= lifestyle_item.start_time.strftime("%F") if lifestyle_item.start_time %> <%=(t :end)%>: <%= lifestyle_item.end_time.strftime("%F") if lifestyle_item.end_time %>
        <% elsif  lifestyle_item.group=='illness' %>
            <strong><%=(t :illness)%></strong> <%=(t :illnessList).split(",")[lifestyle_item.amount]%> <%=lifestyle_item.illness_type.name%><br/>
            <%=(t :start)%>: <%= lifestyle_item.start_time.strftime("%F") if lifestyle_item.start_time %> <%=(t :end)%>: <%= lifestyle_item.end_time.strftime("%F") if lifestyle_item.end_time %>
        <% elsif  lifestyle_item.group=='pain' %>
            <strong><%=(t :pain)%></strong> <%=(t :painList).split(",")[lifestyle_item.amount]%> <%=lifestyle_item.pain_type_name%><br/>
            <%=(t :start)%>: <%= lifestyle_item.start_time.strftime("%F %H:%M") if lifestyle_item.start_time %> <%=(t :end)%>: <%= lifestyle_item.end_time.strftime("%F %H:%M") if lifestyle_item.end_time %>
        <% elsif  lifestyle_item.group=='period' %>
            <strong><%=(t :periods)%></strong> <%=(t :periodVolumeList).split(",")[lifestyle_item.period_volume]%>, <%=(t :periodPainList).split(",")[lifestyle_item.amount]%><br/>
            <%=(t :start)%>: <%= lifestyle_item.start_time.strftime("%F") if lifestyle_item.start_time %> <%=(t :end)%>: <%= lifestyle_item.end_time.strftime("%F") if lifestyle_item.end_time %>
        <% else %>
            <strong><%=(t :unknown)%></strong>
            <%=(t :start)%>: <%= lifestyle_item.start_time.strftime("%F %H:%M") if lifestyle_item.start_time %> <%=(t :end)%>: <%= lifestyle_item.end_time.strftime("%F %H:%M") if lifestyle_item.end_time %>
        <% end %>
      </td>

      <td class="iconColumn deleteLifestyle">
        <%= form_tag( "/users/#{current_user.id}/lifestyles/#{lifestyle_item.id}", id: "deleteLifestyle", remote: true, method: "delete", class: "resource-delete-form") do %>
            <button class="tableControl">
              <i class="fa fa-trash-o fa-2x"></i>
            </button>
        <% end %>
      </td>

    </tr>
  </table>
</li>