<tr class="bg">

  <td style="width:40px;" class="padded">
    <%= image_tag lifestyle_item.group+"40.png" %>
  </td>

  <td class="historyTitle padded lifestyleItem">
    <% if lifestyle_item.group %>
        <span class="itemTitle"><%= lifestyle_item.title %> </span><span><%= lifestyle_item.subtitle %></span><br/>
        <span><%= lifestyle_item.interval %></span>
    <% else %>
        <strong>Ismeretlen</strong>
    <% end %>
  </td>

  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/lifestyles/#{lifestyle_item.id}", id: "delete_ls_#{lifestyle_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>