<tr class="bg">

    <td style="width:40px;" class="padded">
      <% if meas_item.meas_type %>
        <%= image_tag meas_map[meas_item.meas_type]+".png" %>
      <% else %>
          <%= image_tag meas_map['weight']+".png" %>
      <% end %>
    </td>

    <td class="historyTitle padded measItem">
      <input id="measurement_data_<%=meas_item.id%>" type="hidden" value="<%=
          m = meas_item.as_json
          JSON.dump(m)
      %>">
      <% if meas_item.meas_type=='blood_pressure' %>
          <strong>SYS/DIA/HR: <%= meas_item.systolicbp %> / <%= meas_item.diastolicbp %> / <%= meas_item.pulse %></strong>
      <% elsif  meas_item.meas_type=='blood_sugar' %>
          <strong>Blood Sugar: <%= meas_item.blood_sugar %>mmol/L</strong>
      <% elsif  meas_item.meas_type=='weight' %>
          <strong>Weight: <%= meas_item.weight %>kg</strong>
      <% elsif  meas_item.meas_type=='waist' %>
          <strong>Waist Circumfence: <%= meas_item.waist %>cm</strong>
      <% else %>
          <strong>Unknown measurement</strong>
      <% end %>
      <br>
      <span> <%= meas_item.date.strftime("%F %T") if meas_item.date %></span>
    </td>

  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/measurements/#{meas_item.id}", id: "mod_meas_#{meas_item.id}", remote: true, method: "put", class: "resource-update-form") do %>
        <button id="fav-icon" class="tableControl">
          <% if meas_item.favourite %>
              <i class="fa fa-star fa-2x is-favorite"></i>
              <input type="hidden" name="measurement[favourite]" value="false" >
          <% else %>
              <i class="fa fa-star fa-2x no-favorite"></i>
              <input type="hidden" name="measurement[favourite]" value="true" >
          <% end %>
        </button>
    <% end %>
  </td>
  <td class="iconColumn deleteMeas">
    <%= form_tag( "/users/#{current_user.id}/measurements/#{meas_item.id}", id: "delete_meas_#{meas_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/measurements/#{meas_item.id}/edit", id: "edit_meas_#{meas_item.id}", remote: true, method: "get", class: "resource-delete-form") do %>
        <button class="tableControl" onclick="alert('Not implemented yet...'); return(false);">
          <i class="fa fa-pencil fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>