<tr class="bg">

    <td style="width:40px;" class="padded">
      <% if meas_item.meas_type %>
        <%= image_tag meas_map[meas_item.meas_type]+".png" %>
      <% else %>
          <%= image_tag meas_map['weight']+".png" %>
      <% end %>
    </td>

    <td class="historyTitle padded measItem">
      <input id="measurement_data_<%=meas_item.id%>" type="hidden" value="<%=
         m = meas_item.as_json
         JSON.dump({'measurement' => m})
      %>">
      <% if meas_item.meas_type=='blood_pressure' %>
          <% if !meas_item.systolicbp && !meas_item.diastolicbp && meas_item.pulse%>
            <strong><%=(t :pulse)%>: <%= meas_item.pulse %></strong>
          <%else%>
            <strong><%=(t :blood_pressure)%>: <%= meas_item.systolicbp %> / <%= meas_item.diastolicbp %> / <%= meas_item.pulse %></strong>
          <%end%>
      <% elsif  meas_item.meas_type=='blood_sugar' %>
          <strong><%=(t :blood_glucose)%>: <%= meas_item.blood_sugar.round(2) %> mmol/L</strong> <%if meas_item.stress_amount %><%=(t :stress_level)%>: <%= (t :stressList).split(",")[meas_item.stress_amount] %> <%end%><%if meas_item.blood_sugar_time %><%=(t :blood_sugar_time)%>: <%= (t :bgTimeList).split(",")[meas_item.blood_sugar_time]%><%end%>
      <% elsif  meas_item.meas_type=='weight' %>
          <strong><%=(t :body_weight)%>: <%= meas_item.weight %>kg</strong>
      <% elsif  meas_item.meas_type=='waist' %>
          <strong><%=(t :waist_circumfence)%>: <%= meas_item.waist %>cm</strong>
      <% else %>
          <strong><%=(t :activity_unknown)%></strong>
      <% end %>
      <br>
      <span> <%= meas_item.date.strftime("%F, %H:%M") if meas_item.date %></span>
    </td>

  <td class="iconColumn">
    <%= form_tag(root_path+"users/#{current_user.id}/measurements/#{meas_item.id}", id: "mod_meas_#{meas_item.id}", remote: true, method: "put", class: "resource-update-form") do %>
        <button id="fav-icon" class="tableControl">
          <% if meas_item.favourite %>
              <i class="fa fa-star fa-2x is-favorite"></i>
              <input type="hidden" name="measurement[favourite]" value="false" >
          <% else %>
              <i class="fa fa-star fa-2x no-favorite"></i>
              <input type="hidden" name="measurement[favourite]" value="true" >
          <% end %>
        </button>
    <% end %>
  </td>
  <td class="iconColumn deleteMeas">
    <%= form_tag(root_path+"users/#{current_user.id}/measurements/#{meas_item.id}", id: "delete_meas_#{meas_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>
</tr>