<tr class="bg">

    <% if medication_item.medication_type.group %>
        <td style="width:40px;" class="padded">
            <%= image_tag "#{medication_item.medication_type.group}40.png" %>
        </td>
        <td class="historyTitle padded">
            <%= medication_item.medication_type.name %>
            <%= medication_item.amount %>
        </td>
        <td class="padded" style="width: 150px">
            <%= medication_item.date.strftime("%F %T") if medication_item.date %>
        </td>
    <% else %>
        <td style="width:40px;" class="padded">
            <%= image_tag "oral40.png" %>
        </td>
        <td class="historyTitle padded">
            Unknown <%= medication_item.name %>
        </td>
        <td class="padded" style="width: 150px">
            <%= medication_item.date.strftime("%F %T") if medication_item.date %>
        </td>
    <% end %>
    <td>
        <%= form_tag( "/users/#{current_user.id}/medications/#{medication_item.id}", id: "delete_medication_#{medication_item.id}", remote: true, method: :delete, class: "resource-delete-form") do %>
            <button class="deleteForm">Delete</button>
        <% end %>
    </td>
</tr>