<li>
  <table>
    <tr>

      <td>
        <% if  medication_item.medication_type %>
            <%= image_tag "#{medication_item.medication_type.group}40.png" %>
        <% else %>
            <%= image_tag "oral40.png" %>
        <% end %>
      </td>

      <td class="medication_item">
        <input id="medication_data_<%= medication_item.id %>" type="hidden" value="<%=
            m = medication_item.as_json
            if medication_item.medication_type
              m.merge!({'medication_type' => medication_item.medication_type.group})
              m.merge!({'medication_name' => medication_item.medication_type.name})
            end
            JSON.dump(m)
        %>">
        <% if  medication_item.medication_type and medication_item.medication_type.group %>
            <strong><%= medication_item.medication_type.name %></strong>
            <% if medication_item.amount && medication_item.amount > 0 %>
                <%= (t :amount) %>: <%= medication_item.amount %>
            <% end %>
        <% else %>
            <strong><%= (t :unknown_med) %></strong>
        <% end %>
        <br/><%= medication_item.date.strftime("%F, %H:%M") if medication_item.date %>
      </td>
    </tr>
    <tr>
      <td class="iconColumn">
        <%= form_tag(root_path+"users/#{current_user.id}/medications/#{medication_item.id}", id: "updateMedicationForm", remote: true, method: "put", class: "resource-update-form") do %>
            <button id="fav-icon" class="tableControl">
              <% if medication_item.favourite %>
                  <i class="fa fa-star fa-2x is-favorite"></i>
                  <input type="hidden" name="medication[favourite]" value="false">
              <% else %>
                  <i class="fa fa-star fa-2x no-favorite"></i>
                  <input type="hidden" name="medication[favourite]" value="true">
              <% end %>
            </button>
        <% end %>
      </td>
      <td class="iconColumn deleteMedication">
        <%= form_tag(root_path+"users/#{current_user.id}/medications/#{medication_item.id}", id: "deleteMedicationForm", remote: true, method: "delete", class: "resource-delete-form") do %>
            <button class="tableControl">
              <i class="fa fa-trash-o fa-2x"></i>
            </button>
        <% end %>
      </td>
    </tr>
  </table>
</li>