<tr id="notification_<%= notification_item.id %>" class="bg notification_<%= notification_item.id %>">

  <td class="headerIcon">
    <div style="height: 100%;"><i class="fa <%= get_notification_icon(notification_item) %> fa-2x patientColor"></i></div>
  </td>

  <td class="historyTitle labresultItem">
    <span class="itemTitle"><%= notification_item.title %></span>
    <span>
      <%= if notification_item.detail
            notification_item.detail
          else
            ""
          end
          %>
    </span>
    <% if notification_item.location && notification_item.location!="" %>
        <span class="itemTitle">Location: </span>
        <span><%= notification_item.location %></span>
    <% end %>
    <% if notification_item.location_url && notification_item.location_url!="" %>

        <span><a href="<%= notification_item.location_url.html_safe %>" target="_blank"><i class="fa fa-map-marker patientColor"></i></a></span>
    <% end %>

    <br/>
    <span class="itemTitle"><%=(t :time) %>: </span><span><%= if notification_item.date
                                     notification_item.date.strftime("%F %R")
                                    else
                                        ""
                                    end
    %> </span>
    <% notifdata = notification_item.recurrence_data %>
    <span id="mon" class="dayTag <% if recurringOnDay(notifdata, 'mon')%>selected<%end%>">Mon</span>
    <span id="tue" class="dayTag <% if recurringOnDay(notifdata, 'tue')%>selected<%end%>">Tue</span>
    <span id="wed" class="dayTag <% if recurringOnDay(notifdata, 'wed')%>selected<%end%>">Wed</span>
    <span id="thu" class="dayTag <% if recurringOnDay(notifdata, 'thu')%>selected<%end%>">Thu</span>
    <span id="fri" class="dayTag <% if recurringOnDay(notifdata, 'fri')%>selected<%end%>">Fri</span>
    <span id="sat" class="dayTag <% if recurringOnDay(notifdata, 'sat')%>selected<%end%>">Sat</span>
    <span id="sun" class="dayTag <% if recurringOnDay(notifdata, 'sun')%>selected<%end%>">Sun</span>

    <% if notification_item.form_name %>
        <span class="itemTitle">Form: </span><span><%= notification_item.form_name %></span>
    <% end %>
  </td>

  <td class="iconColumn">
    <%= form_tag(root_path+"users/#{notification_item.user_id}/notifications/#{notification_item.id}",
                  id: "delete_visit_#{notification_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl left">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>

</tr>
