<tr class="bg notification_<%= notification_patient_item.id %> notificationItem">

  <td class="headerIcon">
    <div style="height: 100%;"><i class="fa <%= get_notification_icon(notification_patient_item) %> fa-2x patientColor"></i></div>
  </td>

  <td class="historyTitle labresultItem showNotifClickArea">
    <span class="itemTitle"><%= notification_patient_item.title %></span>
    <span>
      <%= if notification_patient_item.detail
            notification_patient_item.detail
          else
            ""
          end
      %>
    </span>
    <% if notification_patient_item.location && notification_patient_item.location!="" %>
        <span class="itemTitle">Location: </span>
        <span><%= notification_patient_item.location %></span>
    <% end %>
    <% if notification_patient_item.location_url && notification_patient_item.location_url!="" %>

        <span><a href="<%= notification_patient_item.location_url.html_safe %>" target="_blank"><i class="fa fa-map-marker patientColor"></i></a></span>
    <% end %>

    <br/>
    <span class="itemTitle"><%=(t :time) %>: </span><span><%= if notification_patient_item.date
                                                                notification_patient_item.date.strftime("%F %R")
                                                              else
                                                                ""
                                                              end
  %> </span>

    <% if notification_patient_item.form_name %>
        <span class="itemTitle">Form: </span><span><%= notification_patient_item.form_name %></span>
        <input type="hidden" class="formName" name="formName" value="<%= notification_patient_item.form_name %>">
    <% end %>
    <input type="hidden" class="notificationId" name="notificationId" value="<%= notification_patient_item.id%>">
    <% if notification_patient_item.default_data %>
        <input type="hidden" class="defaultData" value="<%= notification_patient_item.default_data %>">
    <% end %>
  </td>

  <td class="iconColumn">
    <%= form_tag(root_path+"users/#{notification_patient_item.user_id}/notifications/#{notification_patient_item.id}",
                  id: "dismiss_notif_#{notification_patient_item.id}", remote: true, method: "patch", class: "notification-dismiss-form") do %>
        <input type="hidden" name="dismiss" value="true" />
        <button class="tableControl left dismissNotif">
          <i class="fa fa-close fa-2x patientColor"></i>
        </button>
    <% end %>
  </td>

</tr>
