<tr class="bg">
  <td class="padded rowicon">
    <%= image_tag "sleep40.png" %>
  </td>
  <td class="historyTitle padded">
    <span class="rowtitle"><%= sensor_measurement.group%></span>
    <%if sensor_measurement.has_heart? %><span class="tag heart">heart</span><% end %>
    <%if sensor_measurement.has_cadence? %><span class="tag cadence">cadence</span><% end %>
    <br/>
    <span><%= sensor_measurement.start_time.strftime("%F %T") %></span></span><br/>
    <% if sensor_measurement.duration %>
        <span>Duration: <%= sensor_measurement.duration/60 %> min</span><br/>
    <% else %>
        <span>Duration: -</span><br/>
    <%end%>
    <span class="rowsmall tag sensor">Polar H7 4790EC17</span>
    <span class="rowsmall tag sensor">Polar CAD 385D4C18</span><br/>
  </td>
  <td class="iconColumn">
    <button id="fav-icon" class="tableControl">
      <i class="fa fa-star fa-2x is-favorite"></i>
    </button>
  </td>
  <td class="iconColumn">
    <button id="show-sensor-button-<%= sensor_measurement.id %>" class="tableControl">
      <i class="fa fa-bar-chart fa-2x"></i>
    </button>
  </td>
  <!--<td class="iconColumn">-->
    <!--<button class="tableControl">-->
      <!--<i class="fa fa-trash-o fa-2x"></i>-->
    <!--</button>-->
  <!--</td>-->
</tr>
