<tr class="bg" id="sensor-meas-<%= sensor_measurement.id %>">
  <td class="padded rowicon">
    <%= image_tag get_sensor_image(sensor_measurement.group) %>
  </td>
  <td class="historyTitle padded">
    <span class="rowtitle"><%= sensor_measurement.group%></span>
    <%if sensor_measurement.has_heart? %><span class="tag heart">heart</span><% end %>
    <%if sensor_measurement.has_cadence? %><span class="tag cadence">cadence</span><% end %>
    <br/>
    <span><%= sensor_measurement.start_time.strftime("%F %T") %></span></span><br/>
    <span>Duration: <%= get_duration(sensor_measurement.duration) %></span><br/>
    <% sensor_measurement.sensors.try(:split, ";").try(:each) do |sens| %>
        <span class="rowsmall tag sensor"><%= sens %></span>
    <% end %>
  </td>
  <td class="iconColumn">
    <button id="fav-icon" class="tableControl">
      <i class="fa fa-star fa-2x is-favorite"></i>
    </button>
  </td>
  <td class="iconColumn">
    <button id="show-sensor-button-<%= sensor_measurement.id %>" class="tableControl">
      <i class="fa fa-bar-chart fa-2x"></i>
    </button>
  </td>
</tr>
