<tr class="bg">

  <td style="width:40px;" class="padded">
    <%= image_tag "doctor_40.png" %>
  </td>

  <td class="historyTitle padded labresultItem">
    <span class="itemTitle"><%=(t :doctors_visit) %>: </span><span><%=(t visit_item.notification_type) %></span>
    <span> <%= visit_item.date.strftime("%F %R") %> </span><br/>
    <span><%=(t :reminder) %>: <%= visit_item.remind_at.strftime("%F %R") %> </span>
  </td>

  <td class="iconColumn">
    <%= form_tag( "/users/#{current_user.id}/notifications/#{visit_item.id}", id: "delete_visit_#{visit_item.id}", remote: true, method: "delete", class: "resource-delete-form") do %>
        <button class="tableControl">
          <i class="fa fa-trash-o fa-2x"></i>
        </button>
    <% end %>
  </td>

</tr>
