<div class="contentBg" style="margin-top: 20px;border-radius: 20px;">
  <div id="traffic-container">
    <div id="traffic-all">
      <%= form_tag( pages_traffic_path(), id: "user_traffic_all", remote: true, method: "get", class: "traffic-form") do %>
          <input type="image" class="sumicon" src="<%= image_url "sum.png" %>" alt="All traffic" width="32" height="32">
      <%end%>
    </div>
    <div id="traffic-legend" class="rbow2">
      <ul>
        <li class="q1-11"></li>
        <li class="q2-11"></li>
        <li class="q3-11"></li>
        <li class="q4-11"></li>
        <li class="q5-11"></li>
        <li class="q6-11"></li>
        <li class="q7-11"></li>
        <li class="q8-11"></li>
        <li class="q9-11"></li>
        <li class="q10-11"></li>
        <li class="q11-11"></li>
      </ul>
      <p class="more">more traffic</p>

      <p class="less">less traffic</p>
    </div>
    <div id="traffic-uinfo">
        <p class="email">All traffic of site</p>
    </div>
    <div id="traffic-vis"></div>

  </div>
  <div style="padding: 10px;">
    <table id="traffic-table" style="width: 100%;color: #3d3d3d;">
      <tr>
        <th>id</th>
        <th>E-mail</th>
        <th>Firstname</th>
        <th>LastName</th>
        <th>All clicks</th>
        <th>Last login</th>
      </tr>
      <tbody>
        <% for k in @clickrecords.keys %>
          <% u = @users.where(id: k)[0] %>
          <% if u  %>
              <tr>
                <td>
                  <%= k %>
                </td>
                <td>
                  <%= u.try(:email) %> <%= u.id.to_s %>
                </td>
                <% p = @profiles.where(user_id: k)[0] %>
                <td>
                  <%= p.try(:firstname) %>
                </td>
                <td>
                  <%= p.try(:lastname) %>
                </td>
                <td>
                  <% if k %>
                      <%=@clickrecords[k] %>
                  <%end%>
                </td>
                <td>
                  <%last = ClickRecord.where(msg: 'login', success: true).where(user_id: k).order('created_at desc').limit(1) %>
                  <% if last && last.size > 0 %>
                      <%=last[0].created_at.strftime("%F %R:%S") %>
                  <%end%>
                </td>
                <td style="width: 130px;">
                  <%= form_tag( pages_traffic_path(:usid => u.id.to_s), id: "user_traffic_"+u.id.to_s, remote: true, method: "get", class: "traffic-form") do %>
                   <button id="user-traffic-button" style="width: 120px;height: 40px; background: #4FBDF2;color: #ffffff;font-size: 15px;border: none;float: right">
                       <%= t :traffic %>
                   </button>
                  <%end%>
                </td>
                <td style="width: 130px;">
                  <button id="edit-user-button" style="width: 120px;height: 40px; background: #4FBDF2;color: #ffffff;font-size: 15px;border: none;float: right">
                    <%= t :edit %>
                  </button>
                </td>
                <td style="width: 130px;">
                  <button id="delete-user-button" style="width: 120px;height: 40px; background: #4FBDF2;color: #ffffff;font-size: 15px;border: none;float: right">
                    <%= t :delete %>
                  </button>
                </td>
              </tr>
          <%end%>
      <%end%>
      </tbody>
    </table>
  </div>
</div>