<%= render partial: 'static_data' %>

<div class="sectionTitle customBodyLogo customTitleColor">
  <div class="left"><%=t 'menu_custom_full' %></div>
  <div class="right"><i id="add-custom-form" class="fa fa-plus-circle fa-2x add-custom-form"></i></div>
</div>

<div class="diet-block mainContent">
  <input id="formlist" type="hidden" value="<%= @formlist.as_json %>">
  <%= render partial: 'custom_form_header',  collection: @custom_forms %>
</div>

<script>
    window.load_custom_form_element_defaults = function() {
        <% for f in @custom_forms %>
        <%for cfe in f.custom_form_elements %>
        initfn_<%=cfe.property_code%>__<%=cfe.id%>();
        <% end %>
        <% end %>
    }
</script>

<div id="openModalAddCustomForm" class="modalDialog">
  <div class="customStyle">
    <div class="table-toolbar">
      <div class="modalTitle left"><%=t 'add_custom_form' %></div>
      <span id="closeModalAddCustomForm" class="right page-control modalClose"><i class="fa fa-times fa-2x"></i></span>
    </div>
    <br/>
    <br/>
    <div id="customDataContainer">
      <!--<div class="form_warning">Info</div>-->
      <!--<h3 class="form_title"></h3>-->
      <div class="dialogFormContainer">
        <style>
            <% for i in @icons %>
            .iconselect_<%= i %> {
                background: url("/assets/custom/<%= i %>_gray.png"), url("/assets/downarrow.png");
                background-repeat: no-repeat, no-repeat;
                background-size: 30px, 30px, 30px, 30px;
                background-position: left, right;
                padding-left: 34px;
            }
            <% end %>
        </style>
        <%= form_tag( root_path+"users/#{current_user.id}/custom_forms", remote: true, id: "custom-create-form") do %>
            <div id="dataform" class="dataForm">
              <p class="dataFormRemark"><%=t 'add_custom_form_info' %></p>
              <p class="titleSub"><%=t 'add_custom_form_title' %></p>
              <input id="iconselect" class="dataFormField left iconselect_img_myForms" placeholder="<%=t 'add_custom_form_icon_placeholder' %>">
              <br/>
              <input type="text" name="custom_form[form_name]" id="input-form_name" class="dataFormField" placeholder="<%=t 'add_custom_form_name_placeholder' %>">
              <input type="text" name="custom_form[form_tag]" id="input-form_name" class="dataFormField" placeholder="<%=t 'add_custom_form_tag_placeholder' %>">
              <i class="fa fa-exclamation-circle fa-2x formFailSign hidden"></i>

              <input id="formicon" name="custom_form[image_name]" type="hidden" value="img_myForms">
              <button id="add-custom-button" class="dataFormField" ><%=t 'add_form' %></button>
            </div>
            <div id="iconform" class=hidden>
              <ul class="img-list cf">
                <% for i in @icons %>
                    <li>
                      <span class="iconsel" id="<%= i %>" style="background: no-repeat left url('/assets/custom/<%= i %>_gray.png');background-size: 30px 30px;"></span>
                    </li>
                <% end %>
              </ul>
              <br/>
              <span id="backToForm" class="backbtn"><%=t 'add_custom_back' %></span>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>


<div id="openModalAddCustomFormElement" class="modalDialog">
  <div class="customStyle">
    <div class="table-toolbar">
      <div class="modalTitle left"><%=t 'add_custom_item' %></div>
      <span id="closeModalAddCustomForm" class="right page-control modalClose"><i class="fa fa-times fa-2x"></i></span>
    </div>
    <div class="clearBoth"></div>
    <div id="customDataContainer">

      <div class="addElementContainer">

        <div class="dataForm">
          <p class="titleSub"><%=t 'add_custom_item_title' %></p>
          <input type="search" id="elementName" class="dataFormField" placeholder="<%=t 'add_custom_item_type' %>">
          <input type="hidden" name="customFormId">
          <div class="formContents">

          </div>
        </div>

        <div class="clearBoth"></div>

      </div>
    </div>
  </div>
</div>