<style>.cf_icon_<%=custom_form.id %> {
    background: url('/assets/custom/<%= custom_form.image_name%>_gray.png') 10px 10px no-repeat;
    background-size: 40px 40px;
}
</style>
<div class="sectionTitle healthColor cf_icon_<%=custom_form.id %>">
  <span class="left"><%= t custom_form.form_name %></span>
  <div class="left" style="padding-left: 10px;">
    <i class="fa fa-plus-circle add-form-element" data-formid="<%=custom_form.id %>"></i>
  </div>
  <div class="left" style="padding-left: 10px;">

    <%= form_tag(root_path+"users/#{current_user.id}/custom_forms/#{custom_form.id}", remote: true, method: "delete", class: "delete-form-form") do %>
        <button class="tableControl healthColor headerButton">
            <i class="fa fa-trash-o delete-form" data-formid="<%=custom_form.id %>"></i>
        </button>
    <% end %>

  </div>
</div>

<div class="contentBg ">
  <div class="p10 cform-<%=custom_form.id%>">

    <% for cfe in custom_form.custom_form_elements %>
        <%= render "forms/element", locals: {
            :showButton => false,
            :elementName => cfe.property_code,
            :style => "#{@form_params[cfe.property_code][1]}",
            :title => "#{@form_params[cfe.property_code][2]}",
            :img => "#{@form_params[cfe.property_code][0]}.png",
            :elementId => "#{cfe.property_code}__#{cfe.id}",
            :eid => "#{cfe.id}"
        }%>
        <script>
          var initfn_<%=cfe.property_code%>__<%=cfe.id%> = function ()
          {
              var fname = "load_<%= cfe.property_code.html_safe%>"
              var fn = window[fname];
              if (typeof fn == 'function')
                  fn('#<%= "#{cfe.property_code}__#{cfe.id}".html_safe %>', JSON.parse('<%= cfe.defaults.html_safe %>'));
              else
                  console.log("function " + fname + " missing")
          }
        </script>
    <% end %>
    <button class="dataFormField healthColor addCustomButton" data-cform="<%= custom_form.id%>" data-elements="<%= custom_form.custom_form_elements.collect{|c| c.id}.join(',')%>"><%=t 'button_add'%></button>
    <div class="clearBoth"></div>
  </div>
</div>
