<section class="dataSelect">
  <ul class="patientControl">
    <li class="patientSelect">
        <i class="fa fa-user fa-fw patientColor"></i>
        <input type="search" name="patient_name" class="patientName" placeholder="<%=t :select_patient_placeholder%>" disabled>
        <input class="patientId" name="patientId" type="hidden">
    </li>

    <li class="patientSelectDone">
      <i class="fa fa-chevron-right fa-fw patientColor"></i>
    </li>
    <li class="attrSelect grayed">
      <i class="fa fa-database fa-fw patientColor"></i>
      <input type="search" name="attributeName" class="attrSelect" placeholder="<%=t :select_attribute_placeholder%>" disabled>
      <input class="measureName" name="measureName" type="hidden">
    </li>

    <li class="attrSelectDone grayed">
      <i class="fa fa-chevron-right fa-fw patientColor"></i>
    </li>
    <li class="aSelect grayed">
      <i class="fa fa-clock-o fa-fw patientColor"></i>
      <input type="search" name="startA" class="startASelect" placeholder="<%=t :select_a_start_placeholder%>" disabled>
      <input type="search" name="endA" class="endASelect" placeholder="<%=t :select_a_end_placeholder%>" disabled>
    </li>

    <li class="aSelectDone grayed">
      <i class="fa fa-chevron-right fa-fw patientColor"></i>
    </li>
    <li class="bSelect grayed">
      <i class="fa fa-clock-o fa-fw patientColor"></i>
      <input type="search" name="startB" class="startBSelect" placeholder="<%=t :select_b_start_placeholder%>" disabled>
      <input type="search" name="endB" class="endBSelect" placeholder="<%=t :select_b_end_placeholder%>" disabled>
    </li>

    <li class="showChart grayed" disabled>
      <i class="fa fa-check fa-2x patientColor showAnalysis"></i>
    </li>
  </ul>

  <div class="titleInput right">
  </div>
</section>
