<div class="lifestyle-item">
    <input type="text" class="hidden" id="<%= curr %>-timer-started-at">
    <input type="text" class="hidden" id="<%= curr %>-timer-stopped-at">
    <input type="text" class="hidden" id="<%= curr %>-timer-running">
    <span><%= curr.capitalize %></span>
    <i id="<%= curr %>-lifestyle-add" class="fa fa-plus-circle fa-2x text-green lifestyle-add"></i>
    <span id="<%= curr %>-timer-value" class="hidden">12</span>
    <span id="<%= curr %>-timer-stop" class="stop-control-holder hidden"><div class="stop-control">Stop</div></span>
</div>