<div class="app2Menu">
  <div class="inner ">
    <div class="menuitem mdProfile">
        <a id="patients-link" class="menulink" href="<%= url_for( :action => 'md_patients', :locale => I18n.locale ) %>">
          <%= t 'menu_patients' %>
        </a>
    </div>
<!--
    <div class="menuitem c0 myprofile">
      <a id="forms-link" class="menulink" href="<%= url_for( :action => 'md_customforms', :locale => I18n.locale ) %>">
        <%= t 'menu_forms' %>
      </a>
    </div>
-->
    <div class="menuitem c8 b8">
      <a id="statistics-link" class="menulink" href="<%= url_for( :action => 'md_statistics', :locale => I18n.locale ) %>">
        <%=t 'menu_statistics' %>
      </a>
    </div>

  </div>
</div>
