
  <div class="sectionTitle misfit_large c0">
    Misfit
  </div>
  <div class="contentBg" style="margin-top: 20px;border-radius: 20px;">
    <div style="padding: 10px;">
      <table style="width: 100%;color: #3d3d3d;">
        <tbody>
        <tr>
          <% if @active_since_misfit %>
              <td style="width: 180px;height: 50px;">
                <%=t 'settings_active_since' %>
              </td>
              <td>
                <%=@active_since_misfit.strftime("%Y. %m. %d.  %H:%M")%>
              </td>
          <% else %>
              <td style="width: 180px;height: 50px;">
                <%=t 'settings_not_connected' %>
              </td>
              <td></td>
          <% end %>
          <td style="width: 200px;text-align: right;" rowspan="3">

            <% if @misfitconn %>
                <p>
                  <button id="sync-misfit-button" style="width: 180px;height: 50px; background: #4FBDF2;color: #ffffff;font-size: 15px;border: none">
                    <%=t 'settings_sync_now' %>
                  </button>
                  <button id="disconnect-misfit-button" style="margin-top: 15px;width: 180px;height: 50px; background: #ff0000;color: #ffffff;font-size: 15px;border: none">
                    <%=t 'settings_disconnect' %>
                  </button>
                </p>
            <% else %>
                <p>
                  <button id="signin-misfit-button" style="width: 180px;height: 50px; background: #4FBDF2;color: #ffffff;font-size: 15px;border: none">
                    <%=t 'settings_connect' %>
                  </button>
                </p>
            <% end %>
          </td>
        </tr>
        <tr>

          <% if @last_sync_date_misfit %>
              <td style="width: 180px;height: 50px;">
                <%=t 'settings_last_sync' %>
              </td>
              <td>
                <%=@last_sync_date_misfit.strftime("%Y. %m. %d.  %H:%M")%>
              </td>
          <% end %>

        </tr>
        <tr>
          <td>

          </td>
          <td>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
