<div class="navbar-header">
  <% if current_user %>
      <%= link_to root_path do %>
          <%= image_tag("logo-login.png", alt: "Dashboard", style: "margin-top: 10px; width: 40px; float: left;", id: "headerLoginLogo", class: "loginLogo") %>
      <% end %>

      <div style="float: left; padding-top: 5px; padding-left: 10px;">
        <div class="headerItemRight topBannerControl" title="<%= t 'alt_sign_out' %>">
          <%= link_to logout_path, :method => :post, :id => 'logoutForm', :remote => true do %>
              <i class="fa fa-sign-out fa-lg headerItemIconMod" style="width: 20px;padding-top: 17px;"></i>
          <% end %>
        </div>

        <% if current_user.admin? %>
            <div class="imgContainer headerItemIcon topBannerControl" title="Admin">
              <%= link_to url_for(:action => 'admin', :locale => I18n.locale) do %>
                  <i class="fa fa-gear fa-lg headerItemIconMod"></i>
              <% end %>
            </div>
        <% end %>

        <% if not SmartSports::SHOW_DOCTOR or not current_user.doctor? %>
            <div class="imgContainer headerItemIcon topBannerControl" title="<%= t 'alt_data_explorer' %>">
              <%= link_to url_for(:action => 'analytics', :locale => I18n.locale) do %>
                  <i class="fa fa-line-chart fa-lg headerItemIconMod"></i>
              <% end %>
            </div>
        <% end %>

        <div class="topBannerRight topBannerControl" title="<%= t 'alt_profile_settings' %>">
          <%= link_to url_for(:action => 'profile', :locale => I18n.locale), :class => "titleIcon" do %>
              <%= image_tag current_user.avatar.url(:medium), class: "headerItemAvatar" %>
          <% end %>
        </div>

      </div>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  <% end %>
</div>