<section class="patientSelect">
  <ul class="patientControl">
    <li class="patientSelect left"><i class="fa fa-user fa-fw patientColor fa-2x"></i></li>
    <li class="patientSelect">

        <select name="patient_name" class="dataFormField patientName">
          <% for p in @users %>
              <option value="<%= p.id %>"
                      data-bgmin="<%= p.profile.blood_glucose_min%>"
                      data-bgmax="<%= p.profile.blood_glucose_max%>"
              ><%= p.name %></option>
          <% end %>
        </select>
    </li>
    <li class="patientSelect">
      <%= image_tag "unknown.jpeg", id: "headerItemAvatar", class: "patientItemAvatar" %>
    </li>
  </ul>
  <div class="titleInput right">
  </div>
</section>
