
<div class="hidden patientData" id="analytics-container">

  <div class="columns hidden patientDetails">
    <div class="boxed-group connection-block">
      <h3 class="noClickSelect">
        <i class="fa fa-envelope fa-2x patientColor left"></i>
        <div class="patientTitle left">Details</div>
      </h3>
      <div class="boxed-group-inner">
        <pre >
        </pre>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="boxed-group connection-block">
      <h3 class="noClickSelect">
        <i class="fa fa-envelope fa-2x patientColor left"></i>
        <div class="patientTitle left"><%=t 'notifications'%></div>
        <i id="addNotification" class="fa fa-plus-circle fa-2x add-analysis"></i>
        <div class="selected-meas legend-container right">
        </div>
      </h3>

      <div class="boxed-group-inner">
          <table class="historyTable notificationTable"  cellpadding="0" cellspacing="0">
            <tbody class="recentResourcesTable">
            </tbody>
          </table>
      </div>
    </div>
  </div>

    <div class="columns">
      <div class="boxed-group connection-block patientStyle">
        <h3 class="noClickSelect">
          <img src="<%= asset_path( "logo-login.png")%>" width="24px" height="24px" class="left">
          <div class="training-type left patientTitle chartTitle"><%=t 'daily_timeline'%></div>
          <span class="left md-show-table"><i class="fa fa-table page-control fa-2x"></i></span>


          <div class="selected-meas legend-container right">
            <input id='timeline_datepicker' type='text' class="dataFormField" value="<%= DateTime.current.strftime("%F") %>"/>
          </div>
          <div class="selected-meas legend-container right">
            <input id='timeline_period' type='search' class="dataFormField" value="weekly" autocomplete="off"/>
          </div>
        </h3>

        <div id="timeline" class="boxed-group-inner chart timelineChart">
        </div>
      </div>
    </div>

    <div class="columns">
      <div   class="boxed-group connection-block">
        <h3 class="noClickSelect">
          <img src="<%= asset_path( "logo-login.png")%>" width="24px" height="24px" class="left">
          <div class="training-type left"><%=t 'blood_glucose'%></div>

        </h3>

        <div id="bg-container" class="boxed-group-inner chart bloodglucose-chart">
          <svg class="bg-chart-svg">
          </svg>
        </div>
      </div>
    </div>

    <div class="columns">
      <div id="heart-trend-container" class="boxed-group connection-block">
        <h3 class="noClickSelect">
          <img src="<%= asset_path( "withings-logo.png")%>" width="24px" height="24px" class="left">
          <div class="training-type left"><%=t 'heart_trend'%></div>
          <div class="selected-meas legend-container right"></div>
        </h3>

        <div class="boxed-group-inner chart bloodpressure-chart">
          <svg class="heart-trend-chart-svg">
          </svg>
        </div>
      </div>
    </div>


    <div id="openModalAddNotification" class="modalDialog">
      <div class="customStyle notificationStyle">
        <div class="table-toolbar">
          <div class="modalTitle left"><%=t 'notification' %></div>
          <span id="closeModalAddNotification" class="right page-control modalClose"><i class="fa fa-times fa-2x"></i></span>
        </div>
        <br/>
        <br/>
        <div id="notificationContainer">
          <!--<div class="form_warning">Info</div>-->
          <!--<h3 class="form_title"></h3>-->

            <%= form_tag(root_path+"users/_/notifications", remote: true, id: "notificationCreateForm") do %>
              <div class="dialogFormContainer">
                <div id="dataform" class="dataForm">
                  <br/>
                  <br/>
                  <p class="dataFormRemark"><%=t 'add_notifications' %></p>
                  <input type="text" name="notification[title]" id="notifTitle" class="dataFormField" placeholder="<%=t 'notification_title' %>">
                  <i class="fa fa-exclamation-circle fa-2x formFailSign hidden"></i>
                  <br/>
                  <textarea name="notification[detail]" class="dataFormField custom_textarea"
                            placeholder="<%=t 'notification_details_part1' %> &#13;&#10;<%=t 'notification_details_part2' %>"></textarea>
                  <br/>
                  <label class="dataFormRemark" for="fillForm"><%=t 'notification_fill_form' %></label>
                  <input type="checkbox" id="fillForm">
                  <br/>
                  <input type="hidden" name="notification[created_by]" value="<%= current_user.id %>">
                  <div id="formDetails" class="hidden">
                    <input type="search" name="elementName" id="elementName" class="dataFormField" placeholder="<%=t 'notification_form_to_fill' %>">

                  </div>

                  <!--<input type="text" name="notification[location]" class="dataFormField" placeholder="Location">-->
                  <!--<input type="text" name="notification[location_url]" class="dataFormField" placeholder="Location URL">-->

                  <button class="dataFormField add-notification-button" ><%=t 'add_notification' %></button>

                </div>

              </div>
              <div class="dialogFormContainer formContents hidden">

              </div>

              <div class="clearBoth"></div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<%= render "device_data" %>