<input id="popup-messages" value="<%=@values%>" type="hidden" />
<div class="sectionTitle c0">
  <%= t :title_profile %>
</div>

<div class="contentBg" style="margin-top: 20px;border-radius: 20px;">
    <div style="padding: 10px;">
      <%= form_tag(root_path+"users/#{current_user.id}", remote: true, id: "update-user-form", method: "PUT", class: "resource-update-form user-form") do %>
      <table style="width: 100%;color: #3d3d3d;">
        <tbody>

            <input name="lang" value="<%=I18n.locale%>" type="hidden" />


            <tr>
              <td style="width: 180px;height: 50px;">
                ID
              </td>
              <td>
                <%= @user.id %>
              </td>
              <td>
              </td>
            </tr>

            <tr>
              <td style="width: 180px;height: 50px;">
                <%= t :name %>
              </td>
              <td>
                <%= @user.get_name %>
              </td>
              <td>
              </td>
            </tr>

            <tr>
              <td style="width: 180px;height: 50px;">
                <%= t :email %>
              </td>
              <td>
                <%= @user.email %>
              </td>
              <td>
              </td>
            </tr>

            <tr>
              <td style="width: 180px;height: 50px;">
                <%= t :password %>
              </td>
              <td>
                <input id="password_field" name="user[password]" type="password" class="loginField" placeholder="<%= t 'password' %>"/>
                <input id="password_retry_field" name="user[password_confirmation]" type="password" class="loginField" placeholder="<%= t 'password_confirm' %>"/>
              </td>
              <td>
                <button id="update-user-button" class="settingsButton">
                  <%= t :update %>
                </button>
              </td>
            </tr>
        </tbody>
      </table>
      <% end %>
   </div>
</div>

<div class="contentBg" style="margin-top: 20px;border-radius: 20px;">
  <div style="padding: 10px;">
    <%= form_tag(root_path+"users/#{current_user.id}/uploadAv", :multipart => true, :'data-ajax' => false, :method => "POST") do %>
    <table style="width: 100%;color: #3d3d3d;">
      <tbody>

          <tr>
            <td style="width: 180px;height: 50px;">
              <%= t :upload_photo %> <br> <div style="font-size: 11px;"><%= t :recommended_size %></div>

            </td>
            <td>
              <input type="file" name="avatar" data-clear-btn="true" accept="image/*" id="takePictureField">
            </td>
            <td>
              <%= image_tag current_user.avatar.url(:medium) %>
            </td>
            <td>
              <button id="upload-image-button" class="settingsButton">
                <%= t :update %>
              </button>
            </td>
          </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<%if @profile %>
    <div class="contentBg" style="margin-top: 20px;border-radius: 20px;">
      <div style="padding: 10px;">
        <%= form_tag(root_path+"users/#{current_user.id}/profile/#{@profile.id}", remote: true, id: "update-profile-form", method: "PUT", class: "resource-update-form profile-form") do %>
        <table style="width: 100%;color: #3d3d3d;">
          <tbody>
              <input name="lang" value="<%=I18n.locale%>" type="hidden" />
              <tr>
                <td style="width: 180px;height: 50px;">
                  <%= t :default_lang %>
                </td>
                <td>
                  <!--TODO ez valamiert veletlenszeru lesz ha nyomkodon a nyelv valaszto gombot es ez befolyasolja a hibauzenet nyelvet-->
                  <% if I18n.locale.to_s == "hu" %>
                      <input type="radio"  name="profile[default_lang]" value="hu" <%= @profile.default_lang && @profile.default_lang == "hu" ? "checked" : "" %>/><span>Magyar</span>
                      <input type="radio"  name="profile[default_lang]" value="en" <%= @profile.default_lang && @profile.default_lang == "en" ? "checked" : "" %>/><span>English</span>
                  <%else%>
                      <input type="radio"  name="profile[default_lang]" value="en" <%= @profile.default_lang && @profile.default_lang == "en" ? "checked" : "" %>/><span>English</span>
                      <input type="radio"  name="profile[default_lang]" value="hu" <%= @profile.default_lang && @profile.default_lang == "hu" ? "checked" : "" %>/><span>Magyar</span>
                  <%end%>
                </td>
                <td>
                </td>
              </tr>
              <% if I18n.locale.to_s == "hu" %>
                  <tr>
                    <td style="width: 180px;height: 50px;">
                      <%= t :lastname %>
                    </td>
                    <td>
                      <input id="lastname_field" name="profile[lastname]" type="text" class="loginField" value="<%= @profile.lastname %>"/>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 180px;height: 50px;">
                      <%= t :firstname %>
                    </td>
                    <td>
                      <input id="firstname_field" name="profile[firstname]" type="text" class="loginField" value="<%= @profile.firstname %>"/>
                    </td>
                    <td>
                    </td>
                  </tr>
              <%else%>
                  <tr>
                    <td style="width: 180px;height: 50px;">
                      <%= t :firstname %>
                    </td>
                    <td>
                      <input id="firstname_field" name="profile[firstname]" type="text" class="loginField" value="<%= @profile.firstname %>"/>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 180px;height: 50px;">
                      <%= t :lastname %>
                    </td>
                    <td>
                      <input id="lastname_field" name="profile[lastname]" type="text" class="loginField" value="<%= @profile.lastname %>"/>
                    </td>
                    <td>
                    </td>
                  </tr>
              <%end%>
              <tr>
                <td style="width: 180px;height: 50px;">
                  <%= t :sex %>
                </td>
                <td>
                  <input type="radio" name="profile[sex]" value="male" <%= @profile.sex == "male" ? "checked" : "" %>/> <%= t 'male' %>
                  <input type="radio" name="profile[sex]" value="female" <%= @profile.sex == "female" ? "checked" : "" %>
                  "/> <%= t 'female' %>
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td style="width: 180px;height: 50px;">
                  <%= t :height %>
                </td>
                <td>
                  <input id="height_field" name="profile[height]" type="text" class="loginField" value="<%= @profile.height %>"/> (cm)
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td style="width: 180px;height: 50px;">
                  <%= t :body_weight %>
                </td>
                <td>
                  <input id="weight_field" name="profile[weight]" type="text" class="loginField" value="<%= @profile.weight %>"/> (kg)
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td style="width: 180px;height: 50px;">
                  <%= t :smoke_question %>
                </td>
                <td>
                  <%=check_box("profile", "smoke")%>
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td style="width: 180px;height: 50px;">
                  <%= t :insulin_question %>
                </td>
                <td>
                  <%=check_box("profile", "insulin")%>
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td style="width: 180px;height: 50px;">
                  <%= t :date_of_birth %>
                </td>
                <td>
                  <!--<input id='profile_birth_datepicker' type='text' class="loginField" name="profile[dateofbirth]" value="<!%= @profile.try(:dateofbirth).try(:strftime, "%F") %>"/>-->
                  <%=select("profile", "dateofbirth", options_for_select((1900..2015).step(1), (@profile.dateofbirth && (@profile.dateofbirth.year >= 1900 && @profile.dateofbirth.year <= 2015)) ? @profile.dateofbirth.year : 0), :include_blank => true)%>
                </td>
                <td>
                  <button id="update-profile-button" class="settingsButton">
                    <%= t :update %>
                  </button>
                </td>
              </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
<%end%>

<%= render partial: 'shared/popups' %>
<script>
    pages_menu()
</script>