<div class="app2Menu">
  <div class="inner ">
    <div class="menuitem c0 myprofile">
      <a id="myprofile-link" class="menulink menulink-selected" href="<%= url_for( :action => 'profile', :locale => I18n.locale ) %>">
        <%=t 'menu_profile' %>
      </a>
    </div>
    <div class="menuitem c0 moves">
      <a id="moves-link" class="menulink" href="<%= url_for( :action => 'moves', :locale => I18n.locale ) %>">
        Moves
      </a>
    </div>
    <div class="menuitem c0 withings">
      <a id="withings-link" class="menulink" href="<%= url_for( :action => 'withings', :locale => I18n.locale ) %>">
        Withings
      </a>
    </div>
    <div class="menuitem c0 fitbit">
      <a id="fitbit-link" class="menulink" href="<%= url_for( :action => 'fitbit', :locale => I18n.locale ) %>">
        Fitbit
      </a>
    </div>
    <div class="menuitem c0 misfit">
      <a id="misfit-link" class="menulink" href="<%= url_for( :action => 'misfit', :locale => I18n.locale ) %>">
        Misfit
      </a>
    </div>
    <div class="menuitem c0 googlefit">
      <a id="googlefit-link" class="menulink" href="<%= url_for( :action => 'googlefit', :locale => I18n.locale ) %>">
        Google Fit
      </a>
    </div>

    <div style="float: right;width: 50px;">

    </div>
    <div style="clear: both;"></div>

  </div>
  <div class="footer">
    <p>© 2015 Larkbio</p>
  </div>
</div>