<% if @selected_user %>
    <input type="hidden" id="selected-user-id" value="<%= @selected_user.id %>" >
<% end %>

<div class="analytics-block mainContent" id="analytics-container">
  <div class="sectionTitle analiticsBodyLogo analyticsColor">
    <%=t 'analytics' %>
    <% if @selected_user %>
        <span>for user: id=<%= @selected_user.id%>, <%= @selected_user.email %></span>
    <% end %>
  </div>
  <div class="contentBg ">
  </div>

  <div class="columns">
    <div   class="boxed-group connection-block">
      <h3 class="noClickSelect">
        <img src="<%= asset_path( "logo-login.png")%>" width="24px" height="24px" class="left">
        <div class="training-type left chartTitle"><%=t 'daily_timeline'%></div>
        <div class="selected-meas legend-container right">
          <input id='timeline_datepicker' type='text' class="dataFormField" value="<%= DateTime.current.strftime("%F") %>"/>
        </div>
      </h3>

      <div id="timeline" class="boxed-group-inner chart timelineChart">
      </div>
    </div>
  </div>

  <div class="columns">
    <div id="bg-container" class="boxed-group connection-block">
      <h3 class="noClickSelect">
        <img src="<%= asset_path( "logo-login.png")%>" width="24px" height="24px" class="left">
        <div class="training-type left"><%=t 'blood_glucose'%></div>
        <div class="selected-meas legend-container right"></div>
      </h3>

      <div class="boxed-group-inner chart bloodglucose-chart">
        <svg class="bg-chart-svg">
        </svg>
      </div>
    </div>
  </div>

  <div class="columns">
    <div id="heart-trend-container" class="boxed-group connection-block">

        <h3 class="noClickSelect">
            <img src="<%= asset_path( "withings-logo.png")%>" width="24px" height="24px" class="left">
            <div class="training-type left"><%=t 'heart_trend'%></div>
            <div class="selected-meas legend-container right"></div>
        </h3>

        <div class="boxed-group-inner chart bloodpressure-chart">
            <svg class="heart-trend-chart-svg">
            </svg>
        </div>
    </div>
  </div>

</div>

<%= render "device_data" %>

<script>
    pages_menu();
    analytics_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t :analytics %> | <%= t :project_name %>
<% end %>
