<div class="analytics-block mainContent" id="analytics-container">
  <%= render "patients" %>
</div>

<script>
    pages_menu();
    analytics_loaded();
</script>

<% content_for :menu do %>
    <%= render "menu" %>
<% end %>

<% content_for :mobile_menu do %>
    <%= render "mobile_menu" %>
<% end %>

<% content_for :title_text do %>
    <%=t :analytics %> | <%= t :project_name %>
<% end %>
