<input id="popup-messages" value="<%=@values%>" type="hidden" />
<input id="addconn-message" class='hidden' value="<%=t('popupmessages.connection_added_html', :conn=> @add_conn.try(:capitalize))%>"/>
<input id="synced-message" class='hidden' value="<%=t('popupmessages.connection_synced', :conn=> @add_conn.try(:capitalize))%>"/>

<div id="conntitle" class="sectionTitle c0 hidden">
  <%= t :title_connections %>
</div>
<div id="noconntitle" class="sectionTitle c0 hidden">
  <%= t :title_no_connections %>
</div>

<input type="hidden" id="addconn" value="<%= @add_conn %>" />
<div id="sectionConnections" class="menu-section">
  <table class="historyTable"  cellpadding="0" cellspacing="0">
    <tbody id="recentResourcesTable">

    </tbody>
  </table>
</div>

<table class="hidden">
  <tbody id="template_addconn">
  <tr class="bg">
    <td style="width:40px;">
    </td>

    <td class="historyTitle addConnItem">
      <button id="addDeviceButton" class="dataFormField addDeviceButton"><%= t :settings_add_device %></button>
      <form id="addconnForm" class="hidden">
          <select class="dataFormField connectionsSelect" name="connectionName">
          </select>
          <button class="tableControl addConnButton"><i class="fa fa-plus-square-o fa-2x"></i></button>
      </form>
    </td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

<% content_for :menu do %>
    <%= render "settingsmenu" %>
<% end %>
<script type="text/javascript">
  pages_menu()
  connections_loaded();
</script>
<% content_for :title_text do %>
    <%=t :menu_connections %> | <%= t :project_name %>
<% end %>