<input id="popup-messages" value="<%=@values%>" type="hidden" />
<div class="sectionTitle customBodyLogo customTitleColor">
  <div class="left"><%=t 'menu_custom_full' %></div>
  <div class="right"><i id="add-custom-form" class="fa fa-plus-circle fa-2x add-custom-form"></i></div>
</div>

<div class="diet-block mainContent">
    <input id="formlist" type="hidden" value="<%= @formlist.as_json %>">
    <%= render partial: 'custom_form',  collection: @custom_forms %>

    <div class="sectionTitle dietBodyLogo dietColor">
        <%=t 'menu_diet' %>
    </div>

    <div class="contentBg ">
      <div style="padding: 10px;">
        <div class="dataFormContainer dietStyle">
          <div class="dataFormTitle">
            <%= image_tag "food40.png" %><br/>
            <%=t 'food' %>
          </div>
          <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "food-create-form", class: "resource-create-form diet-form") do %>
              <%= render 'forms/diet_food' %>
              <button id="addFoodButton" class="dataFormField"><%=t 'button_add'%></button>
          <% end %>
        </div>
        <div class="dataFormSeparator dietStyle"></div>

        <div class="dataFormContainer healthStyle">
          <div class="dataFormTitle">
            <%= image_tag "bloodpressure40.png" %><br/>
            <%=t 'blood_pressure'%>
          </div>
          <%= form_tag( "/users/#{current_user.id}/measurements", id: "bp-create-form", remote: true, class: "resource-create-form health-form") do %>
              <%= render "forms/health_blood_pressure" %>
              <button id="addMeasurementButton" class="dataFormField"><%=t 'button_add'%></button>
          <% end %>
        </div>

        <div class="dataFormSeparator healthStyle"></div>

        <div class="dataFormContainer wellbeingStyle">
          <div class="dataFormTitle">
            <%= image_tag "sleep40.png" %><br/>
            <%=t 'sleep'%>
          </div>
          <%= form_tag( "/users/#{current_user.id}/lifestyles", id: "sleep-create-form", remote: true, class: "resource-create-form lifestyle-form") do %>
              <%= render "forms/wellbeing_sleep" %>
              <button id="addWellbeingButton" class="dataFormField"><%=t 'button_add'%></button>
          <% end %>
        </div>
        <div class="dataFormSeparator wellbeingStyle"></div>

        <div class="clearBoth"></div>

      </div>

    </div>

  <!-- xxxx -->

  <div class="sectionTitle dietBodyLogo dietColor">
    <%=t 'menu_diet' %>
  </div>

  <div class="contentBg">
    <div style="padding: 10px;">
      <div class="dataFormContainer dietStyle">
        <div class="dataFormTitle">
          <%= image_tag "food40.png" %><br/>
          <%=t 'food' %>
        </div>
        <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "food-create-form", class: "resource-create-form diet-form") do %>
            <%= render 'forms/diet_food' %>
            <button id="addFoodButton" class="dataFormField"><%=t 'button_add'%></button>
        <% end %>
      </div>
      <div class="dataFormSeparator dietStyle"></div>

      <div class="dataFormContainer exerciseStyle">
        <div class="dataFormTitle">
          <%= image_tag "bicycle40.png" %><br/>
          <%=t 'exercise' %>
        </div>
        <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "food-create-form", class: "resource-create-form diet-form") do %>
            <%= render "forms/activity_exercise" %>
            <button id="addFoodButton" class="dataFormField"><%=t 'button_add'%></button>
        <% end %>
      </div>
      <div class="dataFormSeparator exerciseStyle"></div>


      <div class="dataFormContainer medicationStyle">
        <div class="dataFormTitle">
          <%= image_tag "oral40.png" %><br/>
          <%=t 'drugs' %>
        </div>
        <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "food-create-form", class: "resource-create-form diet-form") do %>
            <%= render "forms/medication_drugs" %>
            <button id="addFoodButton" class="dataFormField"><%=t 'button_add'%></button>
        <% end %>
      </div>
      <div class="dataFormSeparator medicationStyle"></div>

      <div class="dataFormContainer labresultStyle">
        <div class="dataFormTitle">
          <%= image_tag "kidney40.png" %><br/>
          <%=t 'drugs' %>
        </div>
        <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "food-create-form", class: "resource-create-form diet-form") do %>
            <%= render "forms/labresult_egfrepi" %>
            <button id="addFoodButton" class="dataFormField"><%=t 'button_add'%></button>
        <% end %>
      </div>
      <div class="dataFormSeparator labresultStyle"></div>

      <div class="clearBoth"></div>
    </div>
  </div>

</div>

<div id="openModalAddCustomForm" class="modalDialog">
  <div class="customStyle">
    <div class="table-toolbar">
      <div class="dataFormTitle left">Add Custom Form</div>
      <span id="closeModalAddCustomForm" class="right page-control modalClose"><i class="fa fa-times fa-2x"></i></span>
    </div>
    <br/>
    <br/>
    <div id="customDataContainer">
        <!--<div class="form_warning">Info</div>-->
        <!--<h3 class="form_title"></h3>-->
        <div class="dialogFormContainer">
          <style>
              <% for i in @icons %>
              .iconselect_<%= i %> {
                  background: url("/assets/custom/<%= i %>_gray.png"), url("/assets/downarrow.png");
                  background-repeat: no-repeat, no-repeat;
                  background-size: 30px, 30px, 30px, 30px;
                  background-position: left, right;
                  padding-left: 34px;
              }
              <% end %>
          </style>
          <%= form_tag( "/users/#{current_user.id}/custom_forms", remote: true, id: "custom-create-form") do %>
              <div id="dataform" class="dataForm">
                <p class="dataFormRemark">You can create your own forms with your frequently recorded data and default values.</p>
                <p class="titleSub">Form Data</p>
                <input type="text" name="custom_form[form_name]" id="input-form_name" class="dataFormField" placeholder="Form name, e.g. Morning Form">
                <i class="fa fa-exclamation-circle fa-2x formFailSign hidden"></i>
                <br/>

                <input id="iconselect" class="dataFormField left iconselect_img_myForms" placeholder="Select icon for the new form">
                <input id="formicon" name="custom_form[image_name]" type="hidden" value="img_myForms">
                <button id="add-custom-button" class="dataFormField" >Add Form</button>
            </div>
            <div id="iconform" class=hidden>
              <ul class="img-list cf">
                <% for i in @icons %>
                <li>
                  <span class="iconsel" id="<%= i %>" style="background: no-repeat left url('/assets/custom/<%= i %>_gray.png');background-size: 30px 30px;"></span>
                </li>
                    <% end %>
              </ul>
              <br/>
              <span id="backToForm" class="backbtn">Back</span>
            </div>
          <% end %>

        </div>
    </div>
  </div>
</div>


<div id="openModalAddCustomFormElement" class="modalDialog">
  <div class="customStyle">
    <div class="table-toolbar">
      <div class="dataFormTitle left">Add Form Element</div>
      <span id="closeModalAddCustomForm" class="right page-control modalClose"><i class="fa fa-times fa-2x"></i></span>
    </div>
    <br/>
    <br/>
    <div id="customDataContainer">

      <div class="dialogFormContainer">

        <%= form_tag( "/users/#{current_user.id}/custom_forms", remote: true, id: "add-form-element") do %>
            <div id="dataform" class="dataForm">
              <p class="dataFormRemark">Add elements to your forms.</p>
              <p class="titleSub">Element</p>
              <input type="search" id="input-element_type" class="dataFormField" placeholder="Select element type">

              <% for f in @formlist %>

                  <%= render 'forms/'+f, locals: {:defaultHidden => true} %>

              <% end %>

              <button id="add-custom-button" class="dataFormField" >Add Element</button>
              <div class="clearBoth"></div>

            </div>

        <% end %>


      </div>
    </div>
  </div>
</div>

<script>
    pages_menu();
    custom_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t 'menu_custom' %> | SmartDiab
<% end %>
