<% content_for :title, "SmartDiab" %>

<div class="dashboard-block" id="training-container">
    <div class="columns">
        <div class="column one-half">

            <div id="manualdata-container" class="boxed-group connection-block">
                <div class="boxed-group-inner spaced gray">

                    <input id="form-user-id" value="<%= @user.id %>" type="hidden">
                    <input id="form-source" value="smartsport" type="hidden">

                    <%= render partial: 'health_form' %>
                    <%= render partial: 'diet_form' %>
                    <%= render partial: 'medication_form' %>
                    <%= render partial: 'activity_form' %>
                    <%= render partial: 'emotional_form' %>

                    <div class="clearfix">
                        <div class="logbutton left selected" id="health-form-sel">
                            <div class="log-sign">
                            </div>
                            <span class="log-icon">
                                <i class="fa fa-line-chart fa-2x"></i>
                                <div>Health</div>
                            </span>
                        </div>

                        <div class="logbutton left" id="lifestyle-form-sel">
                            <div class="log-sign hidden-placed">
                            </div>
                            <span class="log-icon">
                                <i class="fa fa-cutlery fa-2x"></i>
                                <div>Diet</div>
                            </span>
                        </div>

                        <div class="logbutton left" id="medication-form-sel">
                            <div class="log-sign hidden-placed">
                            </div>
                            <span class="log-icon">
                                <i class="fa fa-medkit fa-2x"></i>
                                <div>Medication</div>
                            </span>
                        </div>

                        <div class="logbutton left" id="act-form-sel">
                            <div class="log-sign hidden-placed">
                            </div>
                            <span class="log-icon">
                                <i class="fa fa-bicycle fa-2x"></i>
                                <div>Excercise</div>
                            </span>
                        </div>

                        <div class="logbutton left" id="friend-form-sel">
                            <div class="log-sign hidden-placed">
                            </div>
                            <span class="log-icon">
                                <i class="fa fa-sun-o fa-2x"></i>
                                <div>Emotional</div>
                            </span>
                        </div>

                        <div class="logbutton left" id="gen-form-sel">
                            <div class="log-sign hidden-placed">
                            </div>
                            <span class="log-icon">
                                <i class="fa fa-table fa-2x"></i>
                                <div>Genetics</div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="event-list-header">
                <div class="event-list-header-item">
                    <i class="fa fa-inbox"></i>
                    <span>Recent notifications</span>
                </div>
            </div>

            <div id="event-list" class="events">
                <!--place for activity records, loaded dynamically-->
            </div>
        </div>

        <div class="column one-half">

            <div id="dashboard-summary-container" class="boxed-group connection-block">
                <%= render partial: 'summary_chart' %>
            </div>

        </div>
    </div>
</div>

<div id="event-template" class="hidden">
    <div class="event">
        <div class="body">
            <i class="fa fa-2x event-icon"></i>
            <div class="event-time">
                    <span>
                    </span>
            </div>
            <div class="event-title">
            </div>
            <div class="event-details">
                    <span>
                    </span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    dashboard_loaded();
</script>