<script>
    pages_menu();
    dashboard_loaded();
</script>

<%= render partial: 'static_data' %>

<div class="topcolor">
  <div class="historyContainer" >
    <div class="title">
      <!--<%=t 'today'%>-->
    </div>

    <div id="canv" class="canv">
    </div>

    <div class="clearBoth">
    </div>
  </div>

  <div class="tilesContainer">

  <% if @show_bg %>
    <div class="dashboardT">
      <div class="tileTitle">
        <div class="tileImage">
          <div class="historyItem bgc3 titleIcon">
            <div class="inner blood_sugar"></div>
          </div>
        </div>
        <span class="tileText">
          <%=t 'blood_glucose_today_html'%>
        </span>
      </div>
      <% if @show_day_bg %>
          <div class="tileBody">
            <span class="tileContent <%=@day_bg_status%>"><%=@day_bg_min%>/<%=@day_bg_avg%>/<%=@day_bg_max%></span><br/><span class="tileUnit">mmol/L</span>
          </div>
      <%else%>
          <div>
            <span><%=t('no_bg_today_html', :href => link_to( t('add_bg'), url_for( :action => 'health', :locale => I18n.locale ))) %></span>
          </div>
      <%end%>
    </div>
  <% end %>

    <% if @show_bw %>
        <div class="dashboardT">
          <div class="tileTitle">
            <div class="tileImage">
              <div class="historyItem bgc3 titleIcon">
                <div class="inner weight"></div>
              </div>
            </div>
            <span class="tileTitle">
              <%=t 'body_weight'%>
            </span>
          </div>
          <div class="tileBody">
            <% if @bw_today >0 %>
            <span class="tileContent">&nbsp;<%=@bw_today%></span><span class="tileUnit">kg</span>
            <% else %>
                <span class="tileContent">&nbsp;<%=@bw_last%></span><span class="tileUnit">kg</span>
            <% end %>
          </div>
          <div class="tileBody">
              <% if @show_bw_diff %>
                  <span class="tileUnit"><%= @bw_diff %> kg (<i class="fa fa-arrow-<%=@bw_arrow%>"></i><%= @bw_diff_percent%>%)</span>
            <% else %>
                <span class="tileUnit"><%= @bw_last_time %></span>
              <% end %>
          </div>
        </div>
    <% end %>

    <div class="dashboardT">
      <div class="tileTitle">
        <div class="tileImage">
          <div class="historyItem bgc1 titleIcon">
            <div class="inner food"></div>
          </div>
        </div>
        <span class="tileText" >
          <%=t 'calories_taken'%>
        </span>
      </div>
      <% if @calories_taken > 0 %>
          <div class="tileBody">
            <span class="tileContent">&nbsp;<%=@calories_taken%></span><span class="tileUnit">kcal</span>
          </div>
          <div class="tileBody">
            <% if @calories_diff_show %>
                <span class="tileUnit <%= @calories_status %>"><%= @calories_diff %> kcal (<i class="fa fa-arrow-<%=@calories_arrow%>"></i><%= @calories_diff_percent%>)</span>
            <% end %>
          </div>
      <% else %>
          <div>
            <span><%=t('no_calories_today_html', :href => link_to( t('add_calorie'), url_for( :action => 'diet', :locale => I18n.locale ))) %></span>
          </div>
      <% end %>
    </div>


    <div class="dashboardT">
      <div class="tileTitle">
        <div class="tileImage">
          <div class="historyItem bgc2 titleIcon">
            <div class="inner exercise"></div>
          </div>
        </div>
        <span class="tileText">
          <%=t 'exercise_calories'%>
        </span>
      </div>
      <% if @calories_burned > 0 %>
          <div class="tileBody">
            <span class="tileContent">&nbsp;<%=@calories_burned%></span><span class="tileUnit">kcal</span>
          </div>
          <div class="tileBody">
            <% if @calories_burned_diff_show %>
                <span class="tileUnit <%= @calories_burned_status %>"><%= @calories_burned_diff %> kcal (<i class="fa fa-arrow-<%=@calories_burned_arrow%>"></i><%= @calories_burned_diff_percent%>)</span>
            <% end %>
          </div>
      <% else %>
          <div>
            <span><%=t('no_calories_burned_today_html', :href => link_to( t('add_exercise'), url_for( :action => 'exercise', :locale => I18n.locale ))) %></span>
          </div>
      <% end %>
    </div>

    <% if @day_exercise_time > 0 %>
        <div class="dashboardT">
          <div class="tileTitle">
            <div class="tileImage">
              <div class="historyItem bgc2 titleIcon">
                <div class="inner exercise"></div>
              </div>
            </div>
            <div class="tileText">
              <%=t 'exercise_time'%>
            </div>
          </div>
          <div class="tileBody">
            <span class="tileContent">&nbsp;<%=@day_exercise_time%></span><span class="tileUnit">min</span>
          </div>
        </div>
    <% end %>

    <% if @show_sleep %>
    <div class="dashboardT">
      <div class="tileTitle">
        <div class="tileImage">
          <div class="historyItem bgc3 titleIcon">
            <div class="inner weight"></div>
          </div>
        </div>
        <div class=tileText"">
          <%=t 'sleep_amount_today'%>
        </div>
      </div>
      <div class="tileBody">
        <span class="tileContent"><%=@sleep_amount%></span>
      </div>
    </div>
    <% end %>

    <% if @show_walk_today %>
    <div class="dashboardT">
      <div class="tileTitle">
        <div class="tileImage">
          <div class="historyItem bgc3 titleIcon">
            <div class="inner steps"></div>
          </div>
        </div>
        <div class="tileText">
          <%=t 'walking_today'%>
        </div>
      </div>
      <div class="tileBody">
        <span class="tileContent"><%=@walk_today_value%></span><span class="tileUnit"><%=@walk_today_unit%></span>
      </div>
    </div>
    <% end %>

    <% if @show_cycle_today %>
    <div class="dashboardT">
      <div class="tileTitle">
        <div class="tileImage">
          <div class="historyItem bgc3 titleIcon">
            <div class="inner steps"></div>
          </div>
        </div>
        <div class="tileText">
          <%=t 'cycling_today'%>
        </div>
      </div>
      <div class="tileBody">
        <span class="tileContent"><%=@cycle_today_value%></span><span class="tileUnit"><%=@cycle_today_unit%></span>
      </div>
    </div>
    <% end %>

    <% if @connected_devices && @connected_devices.size > 0 %>
      <div class="dashboardT">
        <div class="tileTitle">
          <div class="tileImage">
            <div class="historyItem bgc3 titleIcon">
              <div class="inner devices"></div>
            </div>
          </div>
          <div class="tileText">
            <%=t 'connected_devices'%>
          </div>
        </div>
        <div class="tileBody">
          <% for a in @connected_devices %>
            <%= image_tag "menu/#{a.name}60.png", class: "connIcon" %>
          <%end%>
        </div>
      </div>
  <% end %>

    <!--
    <div class="dashboardT">
      <div class="tileTitle">
        <div style="height: 40px">
          <div class="historyItem bgc3 titleIcon">
            <div class="inner weight"></div>
          </div>
        </div>
        <div class="" style="padding-top: 10px;">
          Walking this month
        </div>
      </div>

      <div style="display: inline;">
        <table id="dashboardGraph" cellpadding="0" cellspacing="0" border="0">
          <tbody>
          <tr>
            <!% (1..31).each do %>
            <td style="vertical-align:bottom;padding-left:0px;">
              <div style="background-color:#0F6FDF;overflow:hidden;width:2px;height:<!%= 10 + Random.rand(10)*2%>px;"></div>
            </td>
            <td><div style="background-color:#fff;width:2px;height:0px;"></div></td>
            <!% end %>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
--!>

    <!--<div class="dashboardT"></div>-->
    <div style="clear: both"></div>
    <!--<div class="roundElementContainer">-->
    <!--<div class="roundElement exercise_large"></div>-->
    <!--<div class="roundElementTitle">Activity</div>-->
    <!--<div class="roundElementValue">1h 35min</div>-->
    <!--</div>-->


  </div>
    <div class="tilesContainer">
      <div id="notificationContainer" class="notifTile hidden">
          <table class="historyTable notificationTable"  cellpadding="0" cellspacing="0">
            <tbody class="recentResourcesTable">
            </tbody>
          </table>
      </div>
    </div>

    <div class="formTile hidden" id="currentForm">
    </div>

  </div>


<% content_for :background_style do %>
    <script>
        $('body').addClass("dashboardbody")
    </script>
<% end %>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t :menu_dashboard %> | <%= t :project_name %>
<% end %>

