<div class="diet-block mainContent">

    <div class="sectionTitle dietBodyLogo dietColor">
        Diet
    </div>
    <div class="contentBg dietStyle">
        <div style="padding: 10px;">
            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "food40.png" %><br/>
                    Food
                </div>
                <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="diet[source]" value="<%= @default_source %>">
                        <input type="hidden" name="diet[type]" value="Food">

                        <input id="diet_name" type="text" name="diet[name]" class="dataFormField"/>
                        <div class="dataFormFieldUnit"></div>
                        <br/>

                        <input id="diet_cal" type="text" name="diet[calories]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">Cal</div>
                        <br/>

                        <input id="diet_fat" type="text" name="diet[carbs]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">g</div>
                        <br/>

                        <input id='diet_food_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br/>

                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>

            <div class="dataFormSeparator"></div>


            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "drink40.png" %><br/>
                    Drink
                </div>
                <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="diet[source]" value="<%= @default_source %>">
                        <input type="hidden" name="diet[type]" value="Drink">


                        <select class="form-control" name="diet[name]" id="diet_drink_type">
                            <option>Water</option>
                            <option>Soft Drink</option>
                            <option>Coffee</option>
                            <option>Energy</option>
                            <option>Alcohol</option>
                        </select>


                        <input  id="diet_drink_amount" type="text" name="diet[amount]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">dl</div>
                        <br/>

                        <input id="diet_drink_calories" type="text" name="diet[calories]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">Cal</div>
                        <br/>

                        <input  id="diet_drink_carbs" type="text" name="diet[carbs]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">g</div>
                        <br/>

                        <input id='diet_drink_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br/>

                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>

            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "smoke40.png" %><br/>
                    Smoking
                </div>
                <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="diet[source]" value="<%= @default_source %>">
                        <input type="hidden" name="diet[type]" value="Smoke">

                        <select class="form-control" name="diet[name]" id="diet_smoke_type">
                            <option>1 Cigarette</option>
                            <option>1 Cigar</option>
                            <option>1 Pipe</option>
                        </select>

                        <input id='diet_smoking_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br/>

                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div style="clear: both"></div>
        </div>

    </div>

    <div class="sectionTitle dietBodyLogo dietColor" style="margin-top: 40px;">
        <span>History</span> | <span>Favorites</span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">

        <%= render partial: "shared/diet_item", collection: @diets %>

        </tbody>
    </table>

</div>

<% content_for :page_logic do %>
    diet_loaded()
<% end %>
<% content_for :title_text do %>
    Diet | SmartDiab
<% end %>
