<div class="diet-block mainContent">

    <div class="sectionTitle dietBodyLogo dietColor">
        Diet
    </div>
    <div class="contentBg dietStyle">
        <div style="padding: 10px;">
            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "food40.png" %><br/>
                    Food
                </div>
                <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="diet[source]" value="<%= @default_source %>">
                        <input type="hidden" name="diet[type]" value="Food">

                        <input id="foodname" type="search" name="food_name" class="dataFormField" placeholder="Type at least 3 letters..." disabled>
                        <input id="diet_type_id" name="diet[food_type_id]" type="hidden">
                        <input id="diet_name" name="diet[name]" type="hidden">

                        <div class="dataScale">
                          <div id="diet_scale"  name="diet_scale" class="dataFormField"></div>
                        </div>

                        <input id="diet_amount" name="diet[amount]" type="hidden">
                        <div id="diet_unit" class="dataFormFieldUnit">1 adag</div>

                        <input id='diet_food_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br/>

                    </div>
                  <button class="dataFormField">Add</button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>

            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "drink40.png" %><br/>
                    Drink
                </div>
                <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="diet[source]" value="<%= @default_source %>">
                        <input type="hidden" name="diet[type]" value="Drink">

                        <input id="drinkname" type="search" name="drink_name" class="dataFormField" placeholder="Start typing drink name..." disabled>
                        <input id="diet_drink_name" name="diet[name]" type="hidden">
                        <input id="diet_drink_type_id" name="diet[food_type_id]" type="hidden">

                        <div class="dataScale">
                          <div id="diet_drink_scale" name="diet_drink_scale" class="dataFormField"></div>
                        </div>

                        <input id="diet_drink_amount" name="diet[amount]" type="hidden">
                        <div id="diet_drink_unit" class="dataFormFieldUnit">1 adag</div>

                        <input id='diet_drink_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br/>

                    </div>
                  <button class="dataFormField">Add</button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>

            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "smoke40.png" %><br/>
                    Smoking
                </div>
                <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="diet[source]" value="<%= @default_source %>">
                        <input type="hidden" name="diet[type]" value="Smoke">

                        <select id="diet_smoke_type" name="diet[name]" class="dataFormField">
                            <option value="1 Cigaretta">1 Cigaretta</option>
                            <option value="1 Szivar">1 Szivar</option>
                            <option value="1 Szivarka">1 Szivarka</option>
                            <option value="1 Pipa">1 Pipa</option>
                            <option value="1 Elektromos cigaretta">1 Elektromos cigaretta</option>
                            <option value="1 Nikotinos orrspray">1 Nikotinos orrspray</option>
                            <option value="1 Nikotinos r치g칩">1 Nikotinos r치g칩</option>
                            <option value="1 Nikotinos tapasz">1 Nikotinos tapasz</option>
                        </select>

                        <input id='diet_smoking_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br/>

                    </div>
                    <button class="dataFormField">Add</button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div style="clear: both"></div>
        </div>

    </div>

    <div class="sectionTitle dietBodyLogo dietColor" style="margin-top: 40px;">
        <span class="hisTitle selected">History</span> | <span class="favTitle">Favorites</span>
          <div class="right">
            <span class="tag kcal">calories</span>
            <span class="tag carbs">carbs</span>
            <span class="tag fat">fat</span>
            <span class="tag prot">prot</span>
          </div>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">
        </tbody>
    </table>
</div>

<% content_for :page_logic do %>
    diet_loaded()
<% end %>
<% content_for :title_text do %>
    Diet | SmartDiab
<% end %>
