<div class="diet-block mainContent">

    <div class="sectionTitle dietBodyLogo dietColor">
      <%=t 'menu_diet' %>
    </div>
    <div class="contentBg dietStyle">
        <div style="padding: 10px;">
            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "food40.png" %><br/>
                  <%=t 'food' %>
                </div>
                <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "food-create-form", class: "resource-create-form diet-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="diet[source]" value="<%= @default_source %>">
                        <input type="hidden" name="diet[type]" value="Food">

                        <input id="foodname" type="search" name="food_name" class="dataFormField" placeholder="<%=t 'food_placeholer' %>" disabled>
                        <input id="diet_type_id" name="diet[food_type_id]" type="hidden">
                        <input id="diet_name" name="diet[name]" type="hidden">

                        <div class="dataScale">
                          <div id="diet_scale"  name="diet_scale" class="dataFormField"></div>
                        </div>

                        <input id="diet_amount" name="diet[amount]" type="hidden">
                        <div id="diet_unit" class="dataFormFieldUnit">200g</div>

                        <input id='diet_food_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br/>

                    </div>
                  <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>

            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "drink40.png" %><br/>
                  <%=t 'drink' %>
                </div>
                <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "drink-create-form", class: "resource-create-form diet-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="diet[source]" value="<%= @default_source %>">
                        <input type="hidden" name="diet[type]" value="Drink">

                        <input id="drinkname" type="search" name="drink_name" class="dataFormField" placeholder="<%=t 'drink_placeholder' %>" disabled>
                        <input id="diet_drink_name" name="diet[name]" type="hidden">
                        <input id="diet_drink_type_id" name="diet[food_type_id]" type="hidden">

                        <div class="dataScale">
                          <div id="diet_drink_scale" name="diet_drink_scale" class="dataFormField"></div>
                        </div>

                        <input id="diet_drink_amount" name="diet[amount]" type="hidden">
                        <div id="diet_drink_unit" class="dataFormFieldUnit">2dl</div>

                        <input id='diet_drink_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br/>

                    </div>
                  <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>

            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "smoke40.png" %><br/>
                  <%=t 'smoking' %>
                </div>
                <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "smoke-create-form", class: "resource-create-form diet-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="diet[source]" value="<%= @default_source %>">
                        <input type="hidden" name="diet[type]" value="Smoke">

                        <input id="diet_smoke_type" type="search" name="diet[name]" class="dataFormField" placeholder="<%=t 'smoking_placeholder' %>">

                        <input id='diet_smoking_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br/>

                    </div>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div style="clear: both"></div>
        </div>

    </div>

    <div class="sectionTitle dietBodyLogo dietColor" style="margin-top: 40px;">
        <span class="hisTitle selected"><%=t 'history_link'%></span> | <span class="favTitle"><%=t 'fav_link'%></span>
          <div class="right">
            <span class="tag kcal"><%=t 'calories'%></span>
            <span class="tag carbs"><%=t 'carbs'%></span>
            <span class="tag fat"><%=t 'fat'%></span>
            <span class="tag prot"><%=t 'prot'%></span>
          </div>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">
        </tbody>
    </table>
</div>
<script>
  pages_menu();
  diet_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t 'menu_diet' %> | SmartDiab
<% end %>
