<fieldset>
<%= image_tag "food40.png" %><br/>
Food

<%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>

    <input type="hidden" name="diet[source]" value="<%= @default_source %>">
    <input type="hidden" name="diet[type]" value="Food">

    <input type="search" id="foodname" name="food_name" placeholder="Food name, eg: chicken soup">

    <input id="diet_type_id" name="diet[food_type_id]" type="hidden">
    <input id="diet_name" name="diet[name]" type="hidden">

    <label for="diet_scale">Amount:</label>
    <input type="range" name="diet[amount]" id="diet_scale" min="0.5" max="5" step="0.5" value="2.5">

    <input id="diet_cal" name="diet[calories]" type="hidden"/>
    <input id="diet_fat" name="diet[fat]" type="hidden"/>
    <input id="diet_carbs" name="diet[carbs]" type="hidden"/>
    <input id="diet_prot" name="diet[prot]" type="hidden"/>
    <input id="diet_category" name="diet[category]" type="hidden"/>

    <input id='diet_food_datepicker' type='text' readonly="true" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
    <button class="ui-shadow ui-btn ui-corner-all sendForm">Add Food</button>

<% end %>
</fieldset>

<%= image_tag "drink40.png" %><br/>
Drink

<%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>
      <input type="hidden" name="diet[source]" value="<%= @default_source %>">
      <input type="hidden" name="diet[type]" value="Drink">

      <input type="search" id="drinkname" name="drink_name" placeholder="Drink name, eg: coke">

      <input id="diet_drink_name" name="diet[name]" type="hidden">
      <input id="diet_drink_type_id" name="diet[food_type_id]" type="hidden">

      <label for="diet_drink_scale">Amount:</label>
      <input type="range" name="diet[amount]" id="diet_drink_scale" min="0.5" max="5" step="0.5" value="2.5">

      <!--<div id="diet_drink_unit" class="dataFormFieldUnit">2.5dl</div>-->
      <input id="diet_drink_cal" name="diet[calories]" type="hidden"/>
      <input id="diet_drink_fat" name="diet[fat]" type="hidden"/>
      <input id="diet_drink_carbs" name="diet[carbs]" type="hidden"/>
      <input id="diet_drink_prot" name="diet[prot]" type="hidden"/>
      <input id="diet_drink_category" name="diet[category]" type="hidden"/>

      <input id='diet_drink_datepicker' type='text' class="dataFormField" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
      <button class="ui-shadow ui-btn ui-corner-all sendForm">Add Drink</button>
<% end %>

<%= image_tag "smoke40.png" %><br/>
Smoking
<%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>

      <input type="hidden" name="diet[source]" value="<%= @default_source %>">
      <input type="hidden" name="diet[type]" value="Smoke">

      <select id="diet_smoke_type" name="diet[name]">
        <option>1 Cigarette</option>
        <option>1 Cigar</option>
        <option>1 Pipe</option>
      </select>

      <input id='diet_smoking_datepicker' type='text' readonly="true" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>


    <button class="ui-shadow ui-btn ui-corner-all sendForm">Add Smoking</button>

<% end %>

<div class="sectionTitle dietBodyLogo dietColor" style="margin-top: 40px;">
    <span class="hisTitle selected">History</span> | <span class="favTitle">Favorites</span>
</div>

<table class="historyTable"  cellpadding="0" cellspacing="0">
<tbody id="recentResourcesTable">
    <%= render partial: "shared/diet_item", collection: @diets %>
</tbody>
</table>

<% content_for :page_logic do %>
    diet_loaded()
<% end %>
<% content_for :page_title do %>
    <h1>Diet</h1>
<% end %>
<% content_for :title_text do %>
    Diet | SmartDiab
<% end %>
