<input id="popup-messages" value="<%=@values%>" type="hidden" />

<div class="diet-block mainContent">
    <input id="data-lang-diet" value="<%=I18n.locale%>" type="hidden" />
    <div class="sectionTitle dietBodyLogo dietColor">
      <%=t 'menu_diet' %>
    </div>
    <div class="contentBg" id="diet_forms">
        <div class="p10">
          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'diet_food',
                                               :style => 'dietStyle',
                                               :title => 'food',
                                               :img => 'food40.png',
                                               :elementId => 'dietform_1'
                                    }%>

          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'diet_drink',
                                               :style => 'dietStyle',
                                               :title => 'drink',
                                               :img => 'drink40.png',
                                               :elementId => 'dietform_2'
                                    }%>

          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'diet_quick_calories',
                                               :style => 'dietStyle',
                                               :title => 'quick_calories',
                                               :img => 'food40.png',
                                               :elementId => 'dietform_3'
                                    }%>


          <% if current_user.profile.nil? || current_user.profile.smoke %>
          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'diet_smoke',
                                               :style => 'dietStyle',
                                               :title => 'smoking',
                                               :img => 'smoke40.png',
                                               :elementId => 'dietform_4'
                                    }%>
          <% end %>

            <div class="clearBoth"></div>
        </div>

    </div>

    <div class="sectionTitle dietBodyLogo dietColor" style="margin-top: 40px;">
        <span class="hisTitle selected"><%=t 'history_link'%></span> | <span class="favTitle"><%=t 'fav_link'%></span>
          <div class="right">
            <span class="tag kcal"><%=t 'calories'%></span>
            <span class="tag carbs"><%=t 'carbs'%></span>
            <!--<span class="tag fat"><!%=t 'fat'%></span>-->
            <!--<span class="tag prot"><!%=t 'prot'%></span>-->
          </div>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">
        </tbody>
    </table>
</div>
<script>
  pages_menu();
  diet_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t :menu_diet %> | <%= t :project_name %>
<% end %>
