<div class="diet-block mainContent">

    <div class="sectionTitle dietBodyLogo dietColor">
        Diet
    </div>
    <div class="contentBg dietStyle">
        <div style="padding: 10px;">
            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "food40.png" %><br/>
                    Food
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", remote: true, id: "bp-create-form", class: "resource-create-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="smartsport">

                        <input id="diet_name" type="text" name="measurement[systolicbp]" class="dataFormField"/>
                        <div class="dataFormFieldUnit"></div>
                        <br>

                        <input id="diet_cal" type="text" name="measurement[diastolicbp]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">Cal</div>
                        <br>

                        <input id="diet_fat" type="text" name="measurement[pulse]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">g</div>
                        <br>

                        <input id="diet_prot" type="text" name="measurement[pulse]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">g</div>
                        <br>

                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>


            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "drink40.png" %><br/>
                    Drink
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", remote: true, id: "bp-create-form", class: "resource-create-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="smartsport">

                        <input id="diet_name" type="text" name="measurement[systolicbp]" class="dataFormField"/>
                        <div class="dataFormFieldUnit"></div>
                        <br>

                        <input id="diet_cal" type="text" name="measurement[diastolicbp]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">Cal</div>
                        <br>

                        <input id="diet_fat" type="text" name="measurement[pulse]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">g</div>
                        <br>

                        <input id="diet_prot" type="text" name="measurement[pulse]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">g</div>
                        <br>

                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>

            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "smoking40.png" %><br/>
                    Smoking
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", remote: true, id: "bp-create-form", class: "resource-create-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="smartsport">

                        <input id="diet_name" type="text" name="measurement[systolicbp]" class="dataFormField"/>
                        <div class="dataFormFieldUnit"></div>
                        <br>

                        <input id="diet_cal" type="text" name="measurement[diastolicbp]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">Cal</div>
                        <br>

                        <input id="diet_fat" type="text" name="measurement[pulse]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">g</div>
                        <br>

                        <input id="diet_prot" type="text" name="measurement[pulse]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">g</div>
                        <br>

                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div style="clear: both"></div>
        </div>

    </div>

    <div class="sectionTitle dietBodyLogo dietColor" style="margin-top: 40px;">
        <span>History</span> | <span>Favorites</span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentMeasTable">

        <%= render partial: "shared/meas_item", collection: @measurements %>

        </tbody>
    </table>

</div>

<% content_for :page_logic do %>
    diet_loaded()
<% end %>
<% content_for :title_text do %>
    Diet | SmartDiab
<% end %>