<input id="popup-messages" value="<%=@values%>" type="hidden" />
<div class="training-block mainContent" id="training-container">
  <input id="intensity_values" value="<%=t :intensities%>" type="hidden" />
  <input id="data-lang-training" name="lang" value="<%=I18n.locale%>" type="hidden" />
  <div class="sectionTitle exerciseBodyLogo exerciseColor">
    <%=t 'activity' %>
  </div>
  <div class="contentBg">
    <div class="p10">
      <%= render "forms/element", locals: {:showButton => true,
                                           :elementName => 'activity_exercise',
                                           :style => 'exerciseStyle',
                                           :title => 'activity',
                                           :img => 'bicycle40.png',
                                           :elementId => 'exercise-create-form'
                                }%>


      <div class="clearBoth"></div>
    </div>
  </div>

  <div class="sectionTitle exerciseBodyLogo exerciseColor" style="margin-top: 40px;">
    <span class="hisTitle selected"><%=t 'history_link'%></span> | <span class="favTitle"><%=t 'fav_link'%></span>
    <div class="right">
      <span id="exercise-show-table"><i class="fa fa-table page-control"></i></span>
      <span class="tag kcal"><%=t 'calories'%></span>
    </div>
  </div>

  <table class="historyTable" cellpadding="0" cellspacing="0">
    <tbody id="recentResourcesTable">
    </tbody>
  </table>
</div>

<div id="openModalEx" class="modalDialog">
  <div>
    <div class="table-toolbar">
      <span id="close-exercise-data" class="right page-control modalClose"><i class="fa fa-times fa-2x"></i></span>
      <span id="download-exercise-data" class="right page-control"><i class="fa fa-download fa-2x"></i></span>
    </div>
    <br/>
    <br/>
    <div id="exercise-data-container">
      <table id="exercise-data" class="display" cellspacing="0" width="100%"></table>
    </div>
  </div>
</div>

<script>
    pages_menu();
    exercise_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t :exercise %> | <%= t :project_name %>
<% end %>
