<div class="training-block mainContent" id="training-container">
  <input id="intensity_values" value="<%= @intensity_values.join(';')%>" type="hidden" >
  <div class="sectionTitle exerciseBodyLogo exerciseColor">
    <%=t 'activity' %>
  </div>
  <div class="contentBg exerciseStyle">
    <div style="padding: 10px;">
      <div class="dataFormContainer">
        <div class="dataFormTitle">
          <%= image_tag "bicycle40.png" %><br/>
          <%=t 'exercise' %>
        </div>
        <%= form_tag("/users/#{current_user.id}/activities", remote: true, id: "exercise-create-form", class: "resource-create-form exercise-form") do %>
            <div class="dataForm">
              <input type="hidden" name="activity[source]" value="<%= @default_source %>">
              <input type="hidden" name="activity[group]" value="sport">

              <input  id="activityname" type="search" name="activity_name" class="dataFormField" placeholder="<%=t :activity_name_placeholder%>" disabled>
              <input id="activity_type_id" name="activity[activity_type_id]" type="hidden">

              <label for="activity_scale" style="margin-left: 20px;"><%=t :intensity%>"</label>
              <div class="dataScale">
                <div id="activity_scale" class="dataFormField"></div>
              </div>
              <div id="activity_percent" class="dataFormFieldUnit"><%=t :activity_intensity_moderate%></div>
              <input id="activity_intensity" type="hidden" name="activity[intensity]"/>

              <input id='activity_start_datepicker' type='text' class="dataFormField" name="activity[start_time]" value="<%= (DateTime.current-30.minutes).strftime("%F %R") %>"/>
              <div class="dataFormFieldUnit"><%=t :start%></div>

              <input id='activity_end_datepicker' type='text' class="dataFormField" name="activity[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
              <div class="dataFormFieldUnit"><%=t :end%></div>

            </div>
            <button class="dataFormField"><%=t 'button_add'%></button>
        <% end %>
      </div>
      <div class="dataFormSeparator"></div>

      <div class="dataFormContainer">
        <div class="dataFormTitle">
          <%= image_tag "regular40.png" %><br/>
          <%=t 'regular_activity'%>
        </div>
        <%= form_tag("/users/#{current_user.id}/activities", remote: true, id: "regular-activity-create-form", class: "resource-create-form exercise-form") do %>
            <div class="dataForm">
              <input type="hidden" name="activity[source]" value="<%= @default_source %>">
              <input type="hidden" name="activity[group]" value="other">

              <input id="otheractivityname" type="search" name="activity_name" class="dataFormField" placeholder="<%=t :other_activity_name_placeholder%>" disabled>
              <input id="activity_other_type_id" name="activity[activity_type_id]" type="hidden">

              <label for="activity_other_scale" style="margin-left: 20px;"><%=t :intensity%></label>
              <div class="dataScale">
                <div id="activity_other_scale" class="dataFormField"></div>
              </div>
              <div id="activity_other_percent" class="dataFormFieldUnit"><%=t :activity_intensity_moderate%></div>
              <input id="activity_other_intensity" type="hidden" name="activity[intensity]"/>

              <input id='activity_other_start_datepicker' type='text' class="dataFormField" name="activity[start_time]" value="<%= (DateTime.current-30.minutes).strftime("%F %R") %>"/>
              <div class="dataFormFieldUnit"><%=t :start%></div>

              <input id='activity_other_end_datepicker' type='text' class="dataFormField" name="activity[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
              <div class="dataFormFieldUnit"><%=t :end%></div>

            </div>
            <button class="dataFormField"><%=t 'button_add'%></button>
        <% end %>
      </div>

      <div class="dataFormSeparator"></div>
      <div style="clear: both"></div>
    </div>
  </div>

  <div class="sectionTitle exerciseBodyLogo exerciseColor" style="margin-top: 40px;">
    <span class="hisTitle selected"><%=t 'history_link'%></span> | <span class="favTitle"><%=t 'fav_link'%></span>
    <div class="right">
      <span class="tag kcal"><%=t 'calories'%></span>
    </div>
  </div>

  <table class="historyTable" cellpadding="0" cellspacing="0">
    <tbody id="recentResourcesTable">
    </tbody>
  </table>
</div>

<script>
    pages_menu();
    exercise_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t 'exercise' %> | SmartDiab
<% end %>
