

<div class="training-block mainContent" id="training-container">


    <div class="sectionTitle exerciseBodyLogo exerciseColor">
        Exercise
    </div>
    <div class="contentBg exerciseStyle" >
        <div style="padding: 10px;">
            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "walking40.png" %><br/>
                    Walking
                </div>
                <%= form_tag( "/users/#{current_user.id}/activities", remote: true, id: "walking-create-form", class: "resource-create-form exercise-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="activity[source]" value="<%= @default_source %>">
                        <input type="hidden" name="activity[group]" value="walking">
                        <input type="hidden" name="activity[manual]" value="true">
                        <input id="walking_steps" type="text" name="activity[steps]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">steps</div>
                        <br>
                        <input id="walking_duration" type="text" name="activity[duration]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">min</div>
                        <br>
                        <input id="walking_distance" type="text" name="activity[distance]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">m</div>
                        <br/>

                        <input id='walking_datepicker' type='text' class="dataFormField" name="activity[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br/>
                      
                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "running40.png" %><br/>
                    Running
                </div>
                <%= form_tag( "/users/#{current_user.id}/activities", remote: true, id: "running-create-form", class: "resource-create-form exercise-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="activity[source]" value="<%= @default_source %>">
                        <input type="hidden" name="activity[group]" value="running">
                        <input type="hidden" name="activity[manual]" value="true">

                        <input id="running_steps" type="text" name="activity[steps]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">steps</div>
                        <br>
                        <input id="running_duration" type="text" name="activity[duration]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">min</div>
                        <br>
                        <input id="running_distance" type="text" name="activity[distance]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">m</div>
                        <br>

                        <input id='running_datepicker' type='text' class="dataFormField" name="activity[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br>

                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "cycling40.png" %><br/>
                    Cycling
                </div>
                <%= form_tag( "/users/#{current_user.id}/activities", remote: true, id: "cycling-create-form", class: "resource-create-form exercise-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="activity[source]" value="<%= @default_source %>">
                        <input type="hidden" name="activity[group]" value="cycling">
                        <input type="hidden" name="activity[manual]" value="true">

                        <input id="cycling_duration" type="text" name="activity[duration]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">min</div>

                        <input id="cycling_distance" type="text" name="activity[distance]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">m</div>
                        <br>

                        <input id='cycling_datepicker' type='text' class="dataFormField" name="activity[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br>
                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "swimming40.png" %><br/>
                    Swimming
                </div>
                <%= form_tag( "/users/#{current_user.id}/activities", remote: true, id: "swimming-create-form", class: "resource-create-form exercise-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="activity[source]" value="<%= @default_source %>">
                        <input type="hidden" name="activity[group]" value="swimming">
                        <input type="hidden" name="activity[manual]" value="true">

                        <input id="swimming_duration" type="text" name="activity[duration]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">min</div>

                        <input id="swimming_distance" type="text" name="activity[distance]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">m</div>
                        <br>

                        <input id='swimming_datepicker' type='text' class="dataFormField" name="activity[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br>
                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>

            <div style="clear: both"></div>
        </div>

    </div>

    <div class="sectionTitle exerciseBodyLogo exerciseColor" style="margin-top: 40px;">
        <span>History</span> | <span>Favorites</span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">

        <%= render partial: "shared/activity_item", collection: @activities %>

        </tbody>
    </table>

</div>

<% content_for :page_logic do %>
    exercise_loaded()
<% end %>
<% content_for :title_text do %>
    Exercise | SmartDiab
<% end %>