<input id="relativeList" type="hidden" value="<%= @relativeList %>">
<input id="diseaseList" type="hidden" value="<%= @diseaseList %>">

<div class="genetics-block mainContent" id="genetics-container">
    <div class="sectionTitle geneticsBodyLogo geneticsColor">
        Genetics
    </div>
    <div class="contentBg geneticsStyle">
        <div style="padding: 10px;">
            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "family40.png" %><br/>
                    Family History
                </div>
                <%= form_tag( "/users/#{current_user.id}/family_histories", remote: true, id: "familyhist-create-form", class: "resource-create-form family-history-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="family_history[source]" value="<%= @default_source %>">

                        <input id="gen_hist_relative" type="search" name="family_history[relative]" class="dataFormField" placeholder="Rokon"/>
                        <br/>

                        <input id="gen_hist_disease" type="search" name="family_history[disease]" class="dataFormField" placeholder="Diabetes"/>
                        <br/>

                        <textarea id="gen_hist_note" type="text" name="family_history[note]" rows="5" class="dataFormArea" placeholder="Betegtörténet"></textarea>
                        <br>
                    </div>
                    <button class="dataFormField">Add</button>
                <% end %>
            </div>
        </div>
            <div class="dataFormSeparator"></div>
            <div style="clear: both"></div>
        </div>
    </div>

    <div class="sectionTitle geneticsBodyLogo geneticsColor" style="margin-top: 40px;">
      <span>History</span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">
        </tbody>
    </table>


</div>

<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :page_logic do %>
    genetics_loaded()
<% end %>
<% content_for :title_text do %>
    Genetics | SmartDiab
<% end %>
