<input id="popup-messages" value="<%= @values %>" type="hidden"/>

<div class="genetics-block mainContent" id="genetics-container">
  <div class="sectionTitle geneticsBodyLogo geneticsColor">
    <%= t 'genetics' %>
  </div>
  <div class="contentBg">
    <div class="p10">
      <%= render "forms/element", locals: {:showButton => true,
                                           :elementName => 'genetics_personal_history',
                                           :style => 'geneticsStyle',
                                           :title => 'personal_history',
                                           :img => 'doctor_40.png',
                                           :elementId => 'personal-history-create-form'
      } %>

      <%= render "forms/element", locals: {:showButton => true,
                                           :elementName => 'genetics_family_history',
                                           :style => 'geneticsStyle',
                                           :title => 'family_history',
                                           :img => 'family40.png',
                                           :elementId => 'family-history-create-form'
      } %>

      <div class="clearBoth"></div>
    </div>
  </div>

  <div class="sectionTitle geneticsBodyLogo geneticsColor" style="margin-top: 40px;">
    <span><%= t 'history_link' %></span>
  </div>

  <table class="historyTable" cellpadding="0" cellspacing="0">
    <tbody id="recentResourcesTable">
    </tbody>
  </table>

</div>


<script>
    pages_menu();
    genetics_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%= t :genetics %> | <%= t :project_name %>
<% end %>






