<input id="popup-messages" value="<%=@values%>" type="hidden" />
<input id="stressList" type="hidden" value="<%=t :stressList %>">
<input id="bgTimeList" type="hidden" value="<%=t :bgTimeList %>">
<div class="health-block mainContent">
    <input id="data-lang-health" value="<%=I18n.locale%>" type="hidden" />
    <div class="sectionTitle bl3 c3">
        <%=t 'health'%>
    </div>
    <div class="contentBg">
        <div style="padding: 10px;">
            <div class="dataFormContainer healthStyle">
                <div class="dataFormTitle">
                    <%= image_tag "bloodpressure40.png" %><br/>
                    <%=t 'blood_pressure'%>
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", id: "bp-create-form", remote: true, class: "resource-create-form health-form") do %>
                    <%= render "forms/health_blood_pressure" %>
                    <button id="addMeasurementButton" class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator healthStyle"></div>

            <div class="dataFormContainer healthStyle">
                <div class="dataFormTitle">
                    <%= image_tag "bloodglucose.png" %><br/>
                  <%=t 'blood_glucose'%>
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", id: "bg-create-form", remote: true, class: "resource-create-form health-form") do %>
                    <%= render "forms/health_blood_glucose" %>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator healthStyle"></div>

            <div class="dataFormContainer healthStyle">
                <div class="dataFormTitle">
                    <%= image_tag "weight40.png" %><br/>
                    <%=t 'body_weight'%>
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", id: "weight-create-form", remote: true, class: "resource-create-form health-form") do %>
                  <%= render "forms/health_weight" %>
                  <button class="dataFormField"><%=t 'button_add'%></button>

                <% end %>
            </div>
            <div class="dataFormSeparator healthStyle"></div>

            <div class="dataFormContainer healthStyle">
                <div class="dataFormTitle">
                    <%= image_tag "abdominal40.png" %><br/>
                  <%=t 'waist_circumfence'%>
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", id: "waist-create-form", remote: true, class: "resource-create-form health-form") do %>
                    <%= render "forms/health_waist" %>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator healthStyle"></div>

            <div class="clearBoth"></div>
        </div>

    </div>

    <div class="sectionTitle bl3 c3" style="margin-top: 40px;">
      <span class="hisTitle selected"><%=t 'history_link'%></span> | <span class="favTitle"><%=t 'fav_link'%></span>
      <span id="health-show-table" class="right"><i class="fa fa-table page-control"></i></span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentMeasTable">
        </tbody>
    </table>

</div>

<div id="openModal" class="modalDialog">
  <div>
    <div class="table-toolbar">
      <span id="close-health-data" class="right page-control modalClose"><i class="fa fa-times fa-2x"></i></span>
      <span id="download-health-data" class="right page-control"><i class="fa fa-download fa-2x"></i></span>
    </div>
    <br/>
    <br/>
    <div id="health-data-container">
      <table id="health-data" class="display" cellspacing="0" width="100%"></table>
    </div>
  </div>
</div>

<script>
    pages_menu();
    health_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t 'health'%> | SmartDiab
<% end %>