<div class="health-block mainContent">

    <div class="sectionTitle bl3 c3">
        <%=t 'health'%>
    </div>
    <div class="contentBg healthStyle">
        <div style="padding: 10px;">
            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "bloodpressure40.png" %><br/>
                    <%=t 'blood_pressure'%>
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", id: "bp-create-form", remote: true, class: "resource-create-form health-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="<%= @default_source %>" />
                        <input type="hidden" name="measurement[meas_type]" value="blood_pressure" />

                        <input id="bp_sys" type="text" name="measurement[systolicbp]" class="dataFormField" placeholder="Systolic, eg: 120"/>

                        <div class="dataFormFieldUnit">mmHg</div>
                        <br>
                        <input id="bp_dia" type="text" name="measurement[diastolicbp]" class="dataFormField" placeholder="Diastolic, eg: 80"/>

                        <div class="dataFormFieldUnit">mmHg</div>
                        <br>
                        <input id="bp_hr" type="text" name="measurement[pulse]" class="dataFormField" placeholder="Heart rate, eg: 60"/>

                        <div class="dataFormFieldUnit">1/min</div>
                        <br>

                        <input id='bloodpressure_datepicker' type='text' class="dataFormField" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br>

                    </div>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "bloodglucose.png" %><br/>
                  <%=t 'blood_glucose'%>
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", id: "bg-create-form", remote: true, class: "resource-create-form health-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="<%= @default_source %>">
                        <input type="hidden" name="measurement[meas_type]" value="blood_sugar" />
                        <input id="glucose" type="text" name="measurement[blood_sugar]" class="dataFormField" placeholder="Blood Glucose, eg: 6.3"/>

                        <div class="dataFormFieldUnit">mmol/L</div>
                        <br>

                        <input id='bloodsugar_datepicker' type='text' class="dataFormField" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br>
                    </div>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "weight40.png" %><br/>
                    <%=t 'body_weight'%>
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", id: "weight-create-form", remote: true, class: "resource-create-form health-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="<%= @default_source %>">
                        <input type="hidden" name="measurement[meas_type]" value="weight" />

                        <input id="weight" type="text" name="measurement[weight]" class="dataFormField"  placeholder="Body Weight, eg: 72"/>

                        <div class="dataFormFieldUnit">kg</div>
                        <br>

                        <input id='weight_datepicker' type='text' class="dataFormField" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br>
                    </div>

                    <button class="dataFormField"><%=t 'button_add'%></button>

                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "abdominal40.png" %><br/>
                  <%=t 'waist_circumfence'%>
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", id: "waist-create-form", remote: true, class: "resource-create-form health-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="<%= @default_source %>">
                        <input type="hidden" name="measurement[meas_type]" value="waist" />

                        <input id="waist" type="text" name="measurement[waist]" class="dataFormField" placeholder="Waist, eg: 63"/>

                        <div class="dataFormFieldUnit">cm</div>
                        <br>

                        <input id='waist_datepicker' type='text' class="dataFormField" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                        <br>
                    </div>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <!--<div class="dataFormSeparator"></div>-->

            <div style="clear: both"></div>
        </div>

    </div>

    <div class="sectionTitle bl3 c3" style="margin-top: 40px;">
      <span class="hisTitle selected"><%=t 'history_link'%></span> | <span class="favTitle"><%=t 'fav_link'%></span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentMeasTable">
        </tbody>
    </table>

</div>

<script>
    pages_menu();
    health_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t 'health'%> | SmartDiab
<% end %>