<input id="popup-messages" value="<%=@values%>" type="hidden" />
<input id="stressList" type="hidden" value="<%=t :stressList %>">
<input id="bgTimeList" type="hidden" value="<%=t :bgTimeList %>">
<div class="health-block mainContent">
    <input id="data-lang-health" value="<%=I18n.locale%>" type="hidden" />
    <div class="sectionTitle bl3 c3">
        <%=t 'health'%>
    </div>
    <div class="contentBg">
        <div class="p10">
          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'measurement_blood_pressure',
                                               :style => 'healthStyle',
                                               :title => 'blood_pressure',
                                               :img => 'bloodpressure40.png',
                                               :elementId => 'health_1'
                                    }%>

          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'measurement_blood_glucose',
                                               :style => 'healthStyle',
                                               :title => 'blood_glucose',
                                               :img => 'bloodglucose.png',
                                               :elementId => 'health_2'
                                    }%>

          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'measurement_weight',
                                               :style => 'healthStyle',
                                               :title => 'body_weight',
                                               :img => 'weight40.png',
                                               :elementId => 'health_3'
                                    }%>

          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'measurement_waist',
                                               :style => 'healthStyle',
                                               :title => 'waist_circumfence',
                                               :img => 'abdominal40.png',
                                               :elementId => 'health_4'
                                    }%>

            <div class="clearBoth"></div>
        </div>

    </div>

    <div class="sectionTitle bl3 c3" style="margin-top: 40px;">
      <span class="hisTitle selected"><%=t 'history_link'%></span> | <span class="favTitle"><%=t 'fav_link'%></span>
      <span id="health-show-table" class="right"><i class="fa fa-table page-control"></i></span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentMeasTable">
        </tbody>
    </table>

</div>

<div id="openModal" class="modalDialog">
  <div>
    <div class="table-toolbar">
      <span id="close-health-data" class="right page-control modalClose"><i class="fa fa-times fa-2x"></i></span>
      <span id="download-health-data" class="right page-control"><i class="fa fa-download fa-2x"></i></span>
    </div>
    <br/>
    <br/>
    <div id="health-data-container">
      <table id="health-data" class="display" cellspacing="0" width="100%"></table>
    </div>
  </div>
</div>

<script>
    pages_menu();
    health_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t :health %> | <%= t :project_name %>
<% end %>