<div class="health-block mainContent">

    <div class="sectionTitle bl3 c3">
        Health
    </div>
    <div class="contentBg healthStyle">
        <div style="padding: 10px;">
            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "bloodpressure40.png" %><br/>
                    Blood Pressure
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", remote: true, id: "bp-create-form", class: "resource-create-form health-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="<%= @default_source %>" />
                        <input type="hidden" name="measurement[meas_type]" value="blood_pressure" />

                        <input id="bp_sys" type="text" name="measurement[systolicbp]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">mmHg</div>
                        <br>
                        <input id="bp_dia" type="text" name="measurement[diastolicbp]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">mmHg</div>
                        <br>
                        <input id="bp_hr" type="text" name="measurement[pulse]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">1/min</div>
                        <br>

                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='bloodpressure_datepicker'>
                                        <input type='text' class="form-control" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "bloodglucose.png" %><br/>
                    Blood Sugar
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", remote: true, id: "bs-create-form", class: "resource-create-form health-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="<%= @default_source %>">
                        <input type="hidden" name="measurement[meas_type]" value="blood_sugar" />
                        <input id="glucose" type="text" name="measurement[blood_sugar]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">mmol/L</div>
                        <br>

                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='bloodsugar_datepicker'>
                                        <input type='text' class="form-control" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "weight40.png" %><br/>
                    Body Weight
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", remote: true, id: "weight-create-form", class: "resource-create-form health-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="<%= @default_source %>">
                        <input type="hidden" name="measurement[meas_type]" value="weight" />

                        <input id="weight" type="text" name="measurement[weight]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">kg</div>
                        <br>

                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='weight_datepicker'>
                                        <input type='text' class="form-control" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "abdominal40.png" %><br/>
                    Waist Circumference
                </div>
                <%= form_tag( "/users/#{current_user.id}/measurements", remote: true, id: "waist-create-form", class: "resource-create-form health-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="measurement[source]" value="<%= @default_source %>">
                        <input type="hidden" name="measurement[meas_type]" value="waist" />

                        <input id="waist" type="text" name="measurement[waist]" class="dataFormField"/>

                        <div class="dataFormFieldUnit">cm</div>
                        <br>

                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='waist_datepicker'>
                                        <input type='text' class="form-control" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>

            <div style="clear: both"></div>
        </div>

    </div>

    <div class="sectionTitle bl3 c3" style="margin-top: 40px;">
        <span>History</span> | <span>Favorites</span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentMeasTable">

        <%= render partial: "shared/meas_item", collection: @measurements %>

        </tbody>
    </table>

</div>

<% content_for :page_logic do %>
    health_loaded()
<% end %>
<% content_for :title_text do %>
    Health | SmartDiab
<% end %>