<input id="popup-messages" value="<%=@values%>" type="hidden" />
<input id="doctorList" value="<%= t 'doctorList'%>" type="hidden" />
<input id="data-lang-labresult" value="<%=I18n.locale%>" type="hidden" />
<div class="labresult-block mainContent">

    <div class="sectionTitle bl7 c7">
        <%=t 'lab_results'%>
    </div>
    <div class="contentBg">
        <div class="p10">
          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'notification_visit',
                                               :style => 'labresultStyle',
                                               :title => 'lab_results',
                                               :img => 'doctor40.png',
                                               :elementId => 'notification_visit_form'
                                    }%>

            <div class="dataFormContainer labresultStyle">
                <div class="dataFormTitle">
                    <%= image_tag "test_tube40.png" %><br/>
                    HbA1c
                </div>
                <%= form_tag( "/users/#{current_user.id}/labresults", remote: true, id: "hba1c-create-form", class: "resource-create-form lab_results-form") do %>
                    <%= render "forms/labresult_hba1c" %>
                    <button id="addLabResultButton" class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator labresultStyle"></div>

            <div class="dataFormContainer labresultStyle">
                <div class="dataFormTitle">
                    <%= image_tag "water40.png" %><br/>
                    LDL-chol
                </div>
                <%= form_tag( "/users/#{current_user.id}/labresults", remote: true, id: "ldlchol-create-form", class: "resource-create-form lab_results-form") do %>
                    <%= render "forms/labresult_ldlchol" %>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator labresultStyle"></div>

            <div class="dataFormContainer labresultStyle">
                <div class="dataFormTitle">
                    <%= image_tag "kidney40.png" %><br/>
                    eGFR-EPI
                </div>
                <%= form_tag( "/users/#{current_user.id}/labresults", remote: true, id: "egfrepi-create-form", class: "resource-create-form lab_results-form") do %>
                  <%= render "forms/labresult_egfrepi" %>
                  <button class="dataFormField"><%=t 'button_add'%></button>

                <% end %>
            </div>
            <div class="dataFormSeparator labresultStyle"></div>

            <div class="dataFormContainer labresultStyle">
                <div class="dataFormTitle">
                    <%= image_tag "ketone40.png" %><br/>
                    Ketone
                </div>
                <%= form_tag( "/users/#{current_user.id}/labresults", remote: true, id: "ketone-create-form", class: "resource-create-form lab_results-form") do %>
                    <%= render "forms/labresult_ketone" %>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator labresultStyle"></div>

            <div class="clearBoth"></div>
        </div>

    </div>

    <div class="sectionTitle bl7 c7" style="margin-top: 40px;">
      <span class="hisTitle"><%=t 'doctors_visit_next' %></span>
    </div>

    <table class="historyTable notificationTable"  cellpadding="0" cellspacing="0">
      <tbody class="recentResourcesTable">
      </tbody>
    </table>

  <div class="sectionTitle bl7 c7" style="margin-top: 40px;">
    <span class="hisTitle"><%=t 'history_link' %></span>
  </div>

  <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">
        </tbody>
    </table>

</div>

<script>
    pages_menu();
    labresults_loaded();
</script>

<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t :lab_results %> | <%= t :project_name %>
<% end %>