<input id="popup-messages" value="<%=@values%>" type="hidden" />
<input id="doctorList" value="<%= t 'doctorList'%>" type="hidden" />
<input id="data-lang-labresult" value="<%=I18n.locale%>" type="hidden" />
<div class="labresult-block mainContent">

    <div class="sectionTitle bl7 c7">
        <%=t 'lab_results'%>
    </div>
    <div class="contentBg labresultStyle">
        <div style="padding: 10px;">
          <div class="dataFormContainer">
            <div class="dataFormTitle">
              <%= image_tag "test_tube40.png" %><br/>
              <%=t 'lab_results' %>
            </div>
            <%= form_tag("/users/#{current_user.id}/lab_results", remote: true, id: "control-create-form", class: "resource-create-form lab_results-form") do %>
                <div class="dataForm">
                  <input type="hidden" name="labresult[source]" value="<%= @default_source %>"/>
                  <input type="hidden" name="labresult[category]" value="controll"/>
                  <input id="control" type="search" name="labresult[controll_type]" class="dataFormField" placeholder="<%=t 'select' %>">
                  <input id='controll_datepicker' type='text' class="dataFormField" name="labresult[date]" value="<%= Date.current.strftime("%F") %>"/>
                  <input id='next_controll_datepicker' type='text' class="dataFormField" name="labresult[remainder_date]" value="<%= Date.current.strftime("%F") %>"/>
                  <div class="dataFormFieldUnit"><%=t 'remainder_2' %></div>
                  <br>

                </div>
                <button id="addLabResultButton" class="dataFormField"><%= t 'button_add' %></button>
            <% end %>
          </div>
          <div class="dataFormSeparator"></div>
            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "test_tube40.png" %><br/>
                    HbA1c
                </div>
                <%= form_tag( "/users/#{current_user.id}/lab_results", remote: true, id: "hba1c-create-form", class: "resource-create-form lab_results-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="labresult[source]" value="<%= @default_source %>" />
                        <input type="hidden" name="labresult[category]" value="hba1c" />

                        <input id="hba1c" type="text" name="labresult[hba1c]" class="dataFormField" placeholder="HbA1c"/>

                        <div class="dataFormFieldUnit">%</div>
                        <br>

                        <input id='hba1c_datepicker' type='text' class="dataFormField" name="labresult[date]" value="<%= Date.current.strftime("%F") %>"/>
                        <br>

                    </div>
                    <button id="addLabResultButton" class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "water40.png" %><br/>
                    LDL-chol
                </div>
                <%= form_tag( "/users/#{current_user.id}/lab_results", remote: true, id: "ldlchol-create-form", class: "resource-create-form lab_results-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="labresult[source]" value="<%= @default_source %>">
                        <input type="hidden" name="labresult[category]" value="ldl_chol" />

                        <input id="ldl_chol" type="text" name="labresult[ldl_chol]" class="dataFormField" placeholder="LDL-chol"/>

                        <div class="dataFormFieldUnit">mmol/L</div>
                        <br>

                        <input id='ldl_chol_datepicker' type='text' class="dataFormField" name="labresult[date]" value="<%= DateTime.current.strftime("%F") %>"/>
                        <br>
                    </div>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "kidney40.png" %><br/>
                    eGFR-EPI
                </div>
                <%= form_tag( "/users/#{current_user.id}/lab_results", remote: true, id: "egfrepi-create-form", class: "resource-create-form lab_results-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="labresult[source]" value="<%= @default_source %>">
                        <input type="hidden" name="labresult[category]" value="egfr_epi" />

                        <input id="egfr_epi" type="text" name="labresult[egfr_epi]" class="dataFormField" placeholder="eGFR-EPI"/>

                        <div class="dataFormFieldUnit egfr">ml/min/1.73m<sup>2</sup></div>
                        <br>

                        <input id='egfr_epi_datepicker' type='text' class="dataFormField" name="labresult[date]" value="<%= DateTime.current.strftime("%F") %>"/>
                        <br>
                    </div>

                    <button class="dataFormField"><%=t 'button_add'%></button>

                <% end %>
            </div>
            <div class="dataFormSeparator"></div>
            <div class="dataFormContainer contentBg">
                <div class="dataFormTitle">
                    <%= image_tag "ketone40.png" %><br/>
                    Ketone
                </div>
                <%= form_tag( "/users/#{current_user.id}/lab_results", remote: true, id: "ketone-create-form", class: "resource-create-form lab_results-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="labresult[source]" value="<%= @default_source %>">
                        <input type="hidden" name="labresult[category]" value="ketone" />

                      <input id="ketone" type="search" name="labresult[ketone]" class="dataFormField" placeholder="Ketone">

                      <div class="dataFormFieldUnit"></div>
                        <br>

                        <input id='ketone_datepicker' type='text' class="dataFormField" name="labresult[date]" value="<%= DateTime.current.strftime("%F") %>"/>
                        <br>
                    </div>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>

            <div style="clear: both"></div>
        </div>

    </div>

    <div class="sectionTitle bl7 c7" style="margin-top: 40px;">
      <span class="hisTitle"><%=t 'history_link'%></span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">
        </tbody>
    </table>

</div>

<script>
    pages_menu();
    labresults_loaded();
</script>

<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t 'lab_results'%> | SmartDiab
<% end %>