<input id="sleepList" type="hidden" value="<%=t :sleepList%>">
<input id="stressList" type="hidden" value="<%=t :stressList %>">
<input id="illnessList" type="hidden" value="<%=t :illnessList %>">
<input id="painList" type="hidden" value="<%=t :painList %>">
<input id="periodPainList" type="hidden" value="<%=t :periodPainList %>">
<input id="periodVolumeList" type="hidden" value="<%=t :periodVolumeList %>">
<input id="painTypeList" type="hidden" value="<%=t :painTypeList %>">
<input id="popup-messages" value="<%=@values%>" type="hidden" />
<input id="intensity_values" value="<%=t :intensities%>" type="hidden" />

<div class="wellbeing-block mainContent" id="wellbeing-container">
        <input id="data-lang-wellbeing" value="<%=I18n.locale%>" type="hidden" />
        <div class="sectionTitle wellbeingBodyLogo wellbeingColor">
            <%=t 'lifestyle'%>
        </div>
        <div id="lifestyle_forms" class="contentBg">
            <div class="p10">
              <%= render "forms/element", locals: {:showButton => true,
                                                   :elementName => 'lifestyle_sleep',
                                                   :style => 'wellbeingStyle',
                                                   :title => 'sleep',
                                                   :img => 'sleep40.png',
                                                   :elementId => 'lifestyle_sleep_form'
                                        }%>

              <%= render "forms/element", locals: {:showButton => true,
                                                   :elementName => 'lifestyle_stress',
                                                   :style => 'wellbeingStyle',
                                                   :title => 'stress',
                                                   :img => 'stress40.png',
                                                   :elementId => 'lifestyle_stress_form'
                                        }%>

              <%= render "forms/element", locals: {:showButton => true,
                                                   :elementName => 'lifestyle_illness',
                                                   :style => 'wellbeingStyle',
                                                   :title => 'illness',
                                                   :img => 'illness40.png',
                                                   :elementId => 'lifestyle_illness_form'
                                        }%>

              <%= render "forms/element", locals: {:showButton => true,
                                                   :elementName => 'lifestyle_pain',
                                                   :style => 'wellbeingStyle',
                                                   :title => 'pain',
                                                   :img => 'pain40.png',
                                                   :elementId => 'lifestyle_pain_form'
                                        }%>


              <% if current_user.profile.nil? || current_user.profile.sex=='female' %>
                  <%= render "forms/element", locals: {:showButton => true,
                                                       :elementName => 'lifestyle_period',
                                                       :style => 'wellbeingStyle',
                                                       :title => 'periods',
                                                       :img => 'period40.png',
                                                       :elementId => 'lifestyle_period_form'
                                            }%>
              <% end %>

                <div class="clearBoth"></div>
            </div>
        </div>

        <div class="sectionTitle wellbeingBodyLogo wellbeingColor" style="margin-top: 40px;">
            <span class="hisTitle"><%=t 'history_link'%></span>
        </div>

        <table class="historyTable"  cellpadding="0" cellspacing="0">
            <tbody id="recentResourcesTable">
            </tbody>
        </table>
    </div>
</div>

<script>
    pages_menu();
    wellbeing_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%= t :wellbeing %> | <%= t :project_name %>
<% end %>
