<%= render partial: 'static_data' %>

<%= render "patient_select" %>

  <div class="patientData" id="analytics-container">
    <%= render "patients" %>
  </div>

  <div class="columns">
      <div class="boxed-group connection-block">
        <h3 class="noClickSelect">
            <i class="fa fa-envelope fa-2x patientColor left"></i>
            <div class="patientTitle left"><%=t 'notifications'%></div>
            <i id="addNotification" class="fa fa-plus-circle fa-2x add-analysis"></i>
            <div class="selected-meas legend-container right">
            </div>
        </h3>
        <div class="boxed-group-inner">
            <table class="historyTable notificationTable"  cellpadding="0" cellspacing="0">
                <tbody class="recentResourcesTable">
                </tbody>
            </table>
        </div>
        </div>
  </div>

  <div id="openModalAddNotification" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3><%=t 'notification' %></h3>
          <p class="dataFormRemark"><%=t 'add_notifications' %></p>
        </div>

          <div class="modal-body">

            <!--<div class="form_warning">Info</div>-->
            <!--<h3 class="form_title"></h3>-->

            <%= form_tag(root_path+"users/_/notifications", remote: true, id: "notificationCreateForm") do %>
                <input type="hidden" class="form-control" name="notification[created_by]" value="<%= current_user.id %>">
                <div class="form-group">
                    <label for="notifTitle">Notification text</label>
                    <input type="text" name="notification[title]" id="notifTitle" class="form-control" placeholder="<%=t 'notification_title' %>">
                </div>
                <div class="form-group">
                  <label for="notifDetail">Notification detail</label>
                  <textarea name="notification[detail]" class="form-control" id="notifDetail"
                                placeholder="<%=t 'notification_details_part1' %> &#13;&#10;<%=t 'notification_details_part2' %>"></textarea>
                </div>

                <div class="form-group">
                  <label for="notifTime">Notification time</label>
                  <input type="text" name="notification[date]" id="notifTime" class="form-control">
                </div>

                <div class="form-group">
                  <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#formSelect" aria-expanded="false" aria-controls="formSelect">
                    <%=t 'notification_fill_form' %>
                  </button>
                </div>

                <div class="collapse" id="formSelect">
                    <div class="form-group">
                        <label for="formSel">Require form</label>
                        <select id="formSel" class="form-control" name="notification[form_name]">
                          <% for f in @form_list %>
                              <option value="<%= f %>"><%= t( f ) %></option>
                          <% end %>
                        </select>
                    </div>
                </div>
                    <!--<div id="formDetails" class="hidden">-->
                      <!--<input type="search" name="elementName" id="elementName" class="dataFormField" placeholder="<%=t 'notification_form_to_fill' %>">-->
                    <!--</div>-->

                    <!--<input type="text" name="notification[location]" class="dataFormField" placeholder="Location">-->
                    <!--<input type="text" name="notification[location_url]" class="dataFormField" placeholder="Location URL">-->
            <% end %>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary sendNotifButton"><%= t :add_notification %></button>
        </div>
        </div>
    </div>
  </div>

<% content_for :menu do %>
    <%= render "mdmenu" %>
<% end %>
<% content_for :mobile_menu do %>
    <%= render "mobile_mdmenu" %>
<% end %>

<script type="text/javascript">
    mdPatientsLoaded();
</script>