<%= render "data_select" %>

<section class="menu-section patientData sectionPatients hidden">

    <div class="analytics-block mainContent" id="analytics-container">

        <div class="columns">
            <div id="bg-container" class="boxed-group connection-block">
              <h3 class="noClickSelect chartHeader allDataChart">
              </h3>

              <div  class="boxed-group-inner chart bloodglucose-chart">
                <svg class="bg-chart-svg" id="overviewChart">
                </svg>
              </div>
            </div>
        </div>

      <div class="columns stat-container hidden">
        <div class="boxed-group connection-block">

          <h3 class="noClickSelect statHeader">
            <img src="<%= asset_path( "logo-login.png")%>" width="24px" height="24px" class="left">
            <div class="training-type left"></div>
            <div class="title left"></div>
            <div class="selected-meas legend-container right"></div>
          </h3>

          <div class="boxed-group-inner chart stat-chart">
          </div>
        </div>
      </div>

    </div>

</section>

<div id="legend-template" class="hidden">
  <span class="chart-legend"></span>
</div>

<script>
    pages_menu();
    loadStatistics();
</script>
<% content_for :menu do %>
    <%= render "mdmenu" %>
<% end %>
<% content_for :title_text do %>
    <%=t :statistics %> | <%=t :project_name %>
<% end %>
