<input id="popup-messages" value="<%=@values%>" type="hidden" />
<div class="medication-block mainContent">
    <input id="data-lang-medication" value="<%=I18n.locale%>" type="hidden" />
    <div class="sectionTitle medicationBodyLogo medicationColor">
        <%=t 'medication' %>
    </div>
    <div id=medicationForms" class="contentBg">
        <div class="p10">
          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'medication_drugs',
                                               :style => 'medicationStyle',
                                               :title => 'drugs',
                                               :img => 'oral40.png',
                                               :elementId => 'drugs_form'
                                    }%>
          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'medication_insulin',
                                               :style => 'medicationStyle',
                                               :title => 'insulin',
                                               :img => 'insulin40.png',
                                               :elementId => 'insulin_form'
                                    }%>

          <div class="clearBoth"></div>

        </div>

    </div>

    <div class="sectionTitle medicationBodyLogo medicationColor" style="margin-top: 40px;">
      <span class="hisTitle selected"><%=t 'history_link'%></span> | <span class="favTitle"><%=t 'fav_link'%></span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">
        </tbody>
    </table>

</div>

<script>
    pages_menu();
    medications_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t :medication %> | <%=t :project_name %>
<% end %>