<input id="popup-messages" value="<%=@values%>" type="hidden" />
<div class="medication-block mainContent">
    <input id="data-lang-medication" value="<%=I18n.locale%>" type="hidden" />
    <div class="sectionTitle medicationBodyLogo medicationColor">
        <%=t 'medication' %>
    </div>
    <div class="contentBg">
        <div style="padding: 10px;">
            <div class="dataFormContainer medicationStyle">
                <div class="dataFormTitle">
                    <%= image_tag "oral40.png" %><br/>
                    <%=t 'drugs'%>
                </div>
                <%= form_tag( "/users/#{current_user.id}/medications", remote: true, id: "oral-med-create-form", class: "resource-create-form medication-form") do %>
                    <%= render "forms/medication_drugs" %>
                    <button id="addMedicationButton" class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator medicationStyle"></div>

          <% if current_user.profile.nil? || current_user.profile.insulin %>
            <div class="dataFormContainer medicationStyle">
                <div class="dataFormTitle">
                    <%= image_tag "insulin40.png" %><br/>
                    <%=t 'insulin' %>
                </div>
                <%= form_tag( "/users/#{current_user.id}/medications", remote: true, id: "insulin-create-form", class: "resource-create-form medication-form") do %>
                    <%= render "forms/medication_insulin" %>
                    <button class="dataFormField"><%=t 'button_add'%></button>
                <% end %>
            </div>
            <div class="dataFormSeparator medicationStyle"></div>
          <% end %>

          <div class="clearBoth"></div>

        </div>

    </div>

    <div class="sectionTitle medicationBodyLogo medicationColor" style="margin-top: 40px;">
      <span class="hisTitle selected"><%=t 'history_link'%></span> | <span class="favTitle"><%=t 'fav_link'%></span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">
        </tbody>
    </table>

</div>

<script>
    pages_menu();
    medications_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t 'medication'%> | SmartDiab
<% end %>