<div class="medication-block mainContent">

    <div class="sectionTitle medicationBodyLogo medicationColor">
        Medication
    </div>
    <div class="contentBg medicationStyle">
        <div style="padding: 10px;">
            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "oral40.png" %><br/>
                    Medications
                </div>
                <%= form_tag( "/users/#{current_user.id}/medications", remote: true, id: "oral-med-create-form", class: "resource-create-form medication-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="medication[source]" value="<%= @default_source %>">

                        <select  name="medication[medication_type_id]" id="oral_medication_name" class="dataFormField">
                            <option value="0"></option>
                            <% for omed in @oral_medication_types %>
                                <option value="<%= omed.id %>"><%= omed.name %></option>
                            <% end %>
                        </select>


                        <input id="medication_amount" type="text" name="medication[amount]" class="dataFormField"/>

                        <!--
                        <input id="medication_name" type="text" name="measurement[systolicbp]" class="dataFormField"/>
                        <div class="dataFormFieldUnit"></div>
                        <br>

                        <input id="medication_dosage" type="text" name="measurement[diastolicbp]" class="dataFormField"/>
                        <div class="dataFormFieldUnit">mg</div>
                        <br>
-->

                        <div class="dataFormFieldUnit"></div>
                        <br>

                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='medications_datepicker'>
                                        <input type='text' class="form-control" name="medication[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>

            <div class="dataFormContainer">
                <div class="dataFormTitle">
                    <%= image_tag "insulin40.png" %><br/>
                    Insulin
                </div>
                <%= form_tag( "/users/#{current_user.id}/medications", remote: true, id: "insulin-create-form", class: "resource-create-form medication-form") do %>
                    <div class="dataForm">
                        <input type="hidden" name="medication[source]" value="<%= @default_source %>">

                        <select name="medication[medication_type_id]" id="insulin_name" class="dataFormField">
                            <option value="0"></option>
                            <% for ins in @insulin_types %>
                            <option value="<%= ins.id %>"><%= ins.name %></option>
                            <% end %>
                        </select>



                        <input id="medication_insulin_dosage" type="text" name="medication[amount]" class="dataFormField "/>
                        <div class="dataFormFieldUnit ">unit</div>
                        <br>

                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' id='medications_insulin_datepicker'>
                                        <input type='text' class="form-control" name="medication[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>


                    </div>
                    <div class="dataFormButton">
                        <button class="sendForm">Add</button>
                    </div>
                <% end %>
            </div>
            <div class="dataFormSeparator"></div>



            <div style="clear: both"></div>
        </div>

    </div>

    <div class="sectionTitle medicationBodyLogo medicationColor" style="margin-top: 40px;">
        <span>History</span> | <span>Favorites</span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">

        <%= render partial: "shared/medication_item", collection: @medications %>

        </tbody>
    </table>

</div>

<% content_for :page_logic do %>
    medications_loaded()
<% end %>
<% content_for :title_text do %>
    Medication | SmartDiab
<% end %>