<input id="popup-messages" value="<%=@values%>" type="hidden" />
<div class="medication-block mainContent">
    <input id="data-lang-medication" value="<%=I18n.locale%>" type="hidden" />
    <input id="medication_header_values" value="<%=t :medication_header_values%>" type="hidden" />
    <div class="sectionTitle medicationBodyLogo medicationColor">
        <%=t 'medication' %>
    </div>
    <div id=medicationForms" class="contentBg">
        <div class="p10">
          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'medication_drugs',
                                               :style => 'medicationStyle',
                                               :title => 'drugs',
                                               :img => 'oral40.png',
                                               :elementId => 'drugs_form'
                                    }%>
          <%= render "forms/element", locals: {:showButton => true,
                                               :elementName => 'medication_insulin',
                                               :style => 'medicationStyle',
                                               :title => 'insulin',
                                               :img => 'insulin40.png',
                                               :elementId => 'insulin_form'
                                    }%>

          <div class="clearBoth"></div>

        </div>

    </div>

    <div class="sectionTitle medicationBodyLogo medicationColor" style="margin-top: 40px;">
      <span class="hisTitle selected"><%=t 'history_link'%></span>
      <span id="medication-show-table" class="right"><i class="fa fa-table page-control"></i></span>
    </div>

    <table class="historyTable"  cellpadding="0" cellspacing="0">
        <tbody id="recentResourcesTable">
        </tbody>
    </table>

</div>

<div id="openModalMedication" class="modalDialog">
  <div>
    <div class="table-toolbar">
      <span id="close-medication-data" class="right page-control modalClose"><i class="fa fa-times fa-2x"></i></span>
      <span id="download-medication-data" class="right page-control"><i class="fa fa-download fa-2x"></i></span>
    </div>
    <br/>
    <br/>
    <div id="medication-data-container">
      <table id="medication-data" class="display" cellspacing="0" width="100%"></table>
    </div>
  </div>
</div>

<script>
    pages_menu();
    medications_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :mobile_menu do %>
    <%= render "mobile_menu" %>
<% end %>
<% content_for :title_text do %>
    <%=t :medication %> | <%=t :project_name %>
<% end %>