<input id="popup-messages" value="<%=@values%>" type="hidden" />
<div style="position:absolute;left:50%;margin-left:-144px;width: 288px;top:100px;font-family: 'Open Sans', sans-serif;font-size: 20px;">
    <center>
        <%= image_tag "logo-login.png", id: "loginLogo", class: "loginLogo", alt: "Login"%>
        <br/>
        <span style="color:white"><%=t 'forgotten_password' %></span>
    </center>
</div>


<div class="forgottenDiv">
    <%= form_tag password_resets_path, :method => :post, :id => 'pwResetForm', :remote => true do %>
    <input type="text" class="forgottenField colorField animField" id="forgotten_email_field" name="email" placeholder="<%=t 'your_email' %>"/>
      <input name="lang" value="<%=I18n.locale%>" type="hidden" />
      <button class="forgottenButton colorButton animButton"><%=t 'password_restore_button' %></button>
    <% end %>
    <div class="welcomeMessage">
      <%=t 'password_restore_text' %>
    </div>
</div>

<script>
    resetpw_loaded()
</script>