<div class="settings-block">
    <div class="columns">
        <div class="column one-half">
            <div class="boxed-group">
                <h3>Moves</h3>
                <div class="boxed-group-inner">
                    <p>Active since 2014-10-01</p>
                    <p id="moves-sync-status">Synced 1 day ago</p>
                    <% if @movesconn %>
                        <p>
                            <%= link_to "Sync Moves", "#", :class => "button primary", :id => "sync-moves-button" %>
                            <%= link_to "Disconnect", "/pages/mdestroy", :class => "button danger", :id => "disconnect-moves-button" %>
                        </p>
                    <% else %>
                        <p>
                            <%= link_to "Sign in to Moves", "/auth/moves", :class => "button primary", :id => "signin-moves-button" %>
                        </p>
                    <% end %>
                </div>
            </div>

            <div class="boxed-group">
                <h3>Withings</h3>
                <div class="boxed-group-inner">
                    <p>Active since 2014-10-01</p>
                    <p id="withings-sync-status">Synced 1 day ago</p>
                    <% if @withingsconn %>
                       <p><%= link_to "Sync Withings", "#", :class => "button primary", :id => "sync-withings-button" %>
                          <%= link_to "Disconnect", "/pages/wdestroy", :class => "button danger", :id => "disconnect-withings-button" %>
                        </p>
                    <% else %>
                        <p><%= link_to "Sign in to Withings", "/auth/withings", :class => "button primary", :id => "signin-withings-button" %></p>
                    <% end %>
                </div>
            </div>

            <div class="boxed-group">
                <h3>Fitbit</h3>
                <div class="boxed-group-inner">
                    <p>Active since 2014-10-01</p>
                    <p id="fitbit-sync-status">Synced 1 day ago</p>
                    <% if @fitbitconn %>
                        <p><%= link_to "Sync Fitbit", "#", :class => "button primary", :id => "sync-fitbit-button" %>
                            <%= link_to "Disconnect", "/pages/fdestroy", :class => "button danger", :id => "disconnect-fitbit-button" %>
                        </p>
                    <% else %>
                        <p><%= link_to "Sign in to Fitbit", "/auth/fitbit", :class => "button primary", :id => "signin-fitbit-button" %></p>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="column one-half">
            <div class="boxed-group">
                <h3>Settings</h3>
                <ul class="boxed-group-inner table-list nomargin-top">
                    <li class="table-list-item">
                        <div class="table-list-cell table-list-cell-type">
                            <i class="fa fa-cog"></i>
                        </div>
                        <div class="table-list-cell">
                            <%= link_to "Edit Profile", "#", :class => "title-link", :id => "edit-profile-button" %>

                            <p id="update-profile-info"/>
                            <div id="update-profile-form" class="hidden">
                                <%= render 'edit_profile_form' %>
                            </div>

                        </div>
                    </li>
                    <li class="table-list-item">
                        <div class="table-list-cell table-list-cell-type">
                            <i class="fa fa-sign-out"></i>
                        </div>
                        <div class="table-list-cell">
                            <%= link_to "Logout", logout_path, method: :post, :class => "title-link" %>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    settings_loaded();
</script>