<div id="sectionProfile" class="menu-section">
  <%= render "profile" %>
</div>
<div id="sectionMoves" class="menu-section hiddenSection">
  <%= render "moves" %>
</div>
<div id="sectionWithings" class="menu-section hiddenSection">
  <%= render "withings" %>
</div>
<div id="sectionFitbit" class="menu-section hiddenSection">
  <%= render "fitbit" %>
</div>
<div id="sectionMisfit" class="menu-section hiddenSection">
  <%= render "misfit" %>
</div>
<div id="sectionGooglefit" class="menu-section hiddenSection">
  <%= render "googlefit" %>
</div>


<% content_for :menu do %>
    <%= render "settingsmenu" %>
<% end %>
<script type="text/javascript">
    settings_loaded();
</script>