<div class="training-block">
    <div class="columns">
        <div class="column one-half">
            <%= render 'moves_daily' %>


        </div>
        <div class="column one-half">
            <%= render 'moves_weekly' %>
        </div>
    </div>
    <div class="boxed-group">
        <h3>Moves weekly</h3>
        <div class="boxed-group-inner">
        </div>
    </div>
</div>

<p>
    <strong>Moves:</strong>
</p>
<% if @moves %>
    <%= @moves.profile %>
    <%= @moves.daily_summary(:pastDays => 3) %>
<% end %>

<p>
       <strong>Withings:</strong>
</p>
<% if @user %>
    <%= @user.measurement_groups(:per_page => 10, :page => 1, :end_at => Time.now) %>
    <%= @user.get_activities %>
<% end %>

<script type="text/javascript">
    training_loaded();
</script>