<input id="sleepList" type="hidden" value="<%= @sleepList %>">
<input id="stressList" type="hidden" value="<%= @stressList %>">
<input id="illnessList" type="hidden" value="<%= @illnessList %>">
<input id="painList" type="hidden" value="<%= @painList %>">
<input id="periodPainList" type="hidden" value="<%= @periodPainList %>">
<input id="periodVolumeList" type="hidden" value="<%= @periodVolumeList %>">
<input id="painTypeList" type="hidden" value="<%= @painTypeList %>">

<div class="wellbeing-block mainContent" id="wellbeing-container">
        <div class="sectionTitle wellbeingBodyLogo wellbeingColor">
            <%=t 'wellbeing'%>
        </div>
        <div class="contentBg wellbeingStyle">
            <div style="padding: 10px;">
                <div class="dataFormContainer">
                    <div class="dataFormTitle">
                        <%= image_tag "sleep40.png" %><br/>
                      <%=t 'sleep'%>
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", id: "sleep-create-form", remote: true, class: "resource-create-form lifestyle-form") do %>
                        <div class="dataForm">
                            <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
                            <input type="hidden" name="lifestyle[group]" value="sleep"/>

                            <label for="sleep_scale" style="margin-left: 20px;">Quality</label>
                            <br/>
                            <div class="dataScale">
                                <div id="sleep_scale" class="dataFormField"></div>
                            </div>
                            <div id="sleep_percent" class="dataFormFieldUnitHalf">Fairly good</div>

                            <input id='sleep_start_datepicker' type='text' class="dataFormField" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                            <div class="dataFormFieldUnit">start</div>

                            <input id='sleep_end_datepicker' type='text' class="dataFormField" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                            <div class="dataFormFieldUnit">end</div>

                            <input id="sleep_amount" type="hidden" name="lifestyle[amount]" />

                        </div>
                        <button class="dataFormField"><%=t 'button_add'%></button>
                    <% end %>
                </div>
                <div class="dataFormSeparator"></div>

                <div class="dataFormContainer">
                    <div class="dataFormTitle">
                        <%= image_tag "stress40.png" %><br/>
                        <%=t 'stress'%>
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "stress-create-form", class: "resource-create-form lifestyle-form") do %>
                        <div class="dataForm">
                            <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
                            <input type="hidden" name="lifestyle[group]" value="stress"/>

                            <label for="stress_scale" style="margin-left: 20px;">Intensity</label>
                            <div class="dataScale">
                                <div id="stress_scale" class="dataFormField"></div>
                            </div>

                            <div id="stress_percent" class="dataFormFieldUnitHalf">Average</div>
                            <input id="stress_amount" type="hidden" name="lifestyle[amount]"/>


                            <input id='stress_datepicker' type='text' class="dataFormField" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F") %>"/>
                            <div class="dataFormFieldUnit">day</div>

                        </div>

                        <button class="dataFormField"><%=t 'button_add'%></button>

                    <% end %>
                </div>
                <div class="dataFormSeparator"></div>

                  <div class="dataFormContainer">
                    <div class="dataFormTitle">
                      <%= image_tag "illness40.png" %><br/>
                      <%=t 'illness'%>
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "illness-create-form", class: "resource-create-form lifestyle-form") do %>
                        <div class="dataForm">
                          <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
                          <input type="hidden" name="lifestyle[group]" value="illness"/>

                          <input id="illness_name" type="search" name="illness_name" class="dataFormField" placeholder="Type at least 3 characters">
                          <input id="illnessname" name="lifestyle[illness_type_id]" type="hidden">

                          <label for="illness_scale" style="margin-left: 20px;">Intensity</label>
                          <div class="dataScale">
                            <div id="illness_scale" class="dataFormField"></div>
                          </div>

                          <div id="illness_percent" class="dataFormFieldUnitHalf">Mild</div>
                          <input id="illness_amount" type="hidden" name="lifestyle[amount]"/>


                          <input id='illness_start_datepicker' type='text' class="dataFormField" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F") %>"/>
                          <div class="dataFormFieldUnit">start</div>

                          <input id='illness_end_datepicker' type='text' class="dataFormField" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F") %>"/>
                          <div class="dataFormFieldUnit">end</div>
                        </div>

                        <button class="dataFormField"><%=t 'button_add'%></button>

                    <% end %>
                  </div>
                  <div class="dataFormSeparator"></div>

                  <div class="dataFormContainer">
                    <div class="dataFormTitle">
                      <%= image_tag "pain40.png" %><br/>
                      <%=t 'pain'%>
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "pain-create-form", class: "resource-create-form lifestyle-form") do %>
                        <div class="dataForm">
                          <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
                          <input type="hidden" name="lifestyle[group]" value="pain"/>

                          <input id="pain_name" type="search" name="lifestyle[pain_type_name]" class="dataFormField" placeholder="Select...">

                          <label for="pain_scale" style="margin-left: 20px;">Intensity</label>
                          <div class="dataScale">
                            <div id="pain_scale" class="dataFormField"></div>
                          </div>

                          <div id="pain_percent" class="dataFormFieldUnitHalf">Mild</div>
                          <input id="pain_amount" type="hidden" name="lifestyle[amount]"/>


                          <input id='pain_start_datepicker' type='text' class="dataFormField" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                          <div class="dataFormFieldUnit">start</div>

                          <input id='pain_end_datepicker' type='text' class="dataFormField" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                          <div class="dataFormFieldUnit">end</div>
                        </div>

                        <button class="dataFormField"><%=t 'button_add'%></button>

                    <% end %>
                  </div>
                  <div class="dataFormSeparator"></div>

                  <div class="dataFormContainer">
                    <div class="dataFormTitle">
                      <%= image_tag "period40.png" %><br/>
                      <%=t 'periods'%>
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "period-create-form", class: "resource-create-form lifestyle-form") do %>
                        <div class="dataForm">
                          <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
                          <input type="hidden" name="lifestyle[group]" value="period"/>

                          <input id='periods_start_datepicker' type='text' class="dataFormField" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                          <div class="dataFormFieldUnit">start</div>

                          <input id='periods_end_datepicker' type='text' class="dataFormField" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                          <div class="dataFormFieldUnit">end</div>

                          <label for="periods_scale" style="margin-left: 20px;">Intensity</label>
                          <div class="dataScale">
                            <div id="periods_scale" class="dataFormField"></div>
                          </div>
                          <div id="periods_percent" class="dataFormFieldUnitHalf">Mild pain</div>

                          <input id="periods_amount" type="hidden" name="lifestyle[amount]"/>
                          <br/>

                          <label for="periods_volume_scale" style="margin-right: 20px; margin-left: 20px;">Volume</label>
                          <div class="dataScale">
                            <div id="periods_volume_scale" class="dataFormField"></div>
                          </div>

                          <div id="periods_volume_percent" class="dataFormFieldUnitHalf">Moderate</div>
                          <input id="periods_volume_amount" type="hidden" name="lifestyle[period_volume]"/>
                        </div>

                        <button class="dataFormField"><%=t 'button_add'%></button>

                    <% end %>
                  </div>
                  <div class="dataFormSeparator"></div>

                <div style="clear: both"></div>
            </div>
        </div>

        <div class="sectionTitle wellbeingBodyLogo wellbeingColor" style="margin-top: 40px;">
            <span class="hisTitle"><%=t 'history_link'%></span>
        </div>

        <table class="historyTable"  cellpadding="0" cellspacing="0">
            <tbody id="recentResourcesTable">
            </tbody>
        </table>
    </div>
</div>

<script>
    pages_menu();
    wellbeing_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    Well-being | SmartDiab
<% end %>
