<input id="sleepList" type="hidden" value="<%=t :sleepList%>">
<input id="stressList" type="hidden" value="<%=t :stressList %>">
<input id="illnessList" type="hidden" value="<%=t :illnessList %>">
<input id="painList" type="hidden" value="<%=t :painList %>">
<input id="periodPainList" type="hidden" value="<%=t :periodPainList %>">
<input id="periodVolumeList" type="hidden" value="<%=t :periodVolumeList %>">
<input id="painTypeList" type="hidden" value="<%=t :painTypeList %>">
<input id="popup-messages" value="<%=@values%>" type="hidden" />

<div class="wellbeing-block mainContent" id="wellbeing-container">
        <input id="data-lang-wellbeing" value="<%=I18n.locale%>" type="hidden" />
        <div class="sectionTitle wellbeingBodyLogo wellbeingColor">
            <%=t 'wellbeing'%>
        </div>
        <div class="contentBg">
            <div style="padding: 10px;">
                <div class="dataFormContainer wellbeingStyle">
                    <div class="dataFormTitle">
                        <%= image_tag "sleep40.png" %><br/>
                      <%=t 'sleep'%>
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", id: "sleep-create-form", remote: true, class: "resource-create-form lifestyle-form") do %>
                        <%= render "forms/wellbeing_sleep" %>
                        <button id="addWellbeingButton" class="dataFormField"><%=t 'button_add'%></button>
                    <% end %>
                </div>
                <div class="dataFormSeparator wellbeingStyle"></div>

                <div class="dataFormContainer wellbeingStyle">
                    <div class="dataFormTitle">
                        <%= image_tag "stress40.png" %><br/>
                        <%=t 'stress'%>
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "stress-create-form", class: "resource-create-form lifestyle-form") do %>
                      <%= render "forms/wellbeing_stress" %>
                      <button class="dataFormField"><%=t 'button_add'%></button>

                    <% end %>
                </div>
                <div class="dataFormSeparator wellbeingStyle"></div>

                  <div class="dataFormContainer wellbeingStyle">
                    <div class="dataFormTitle">
                      <%= image_tag "illness40.png" %><br/>
                      <%=t 'illness'%>
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "illness-create-form", class: "resource-create-form lifestyle-form") do %>
                        <%= render "forms/wellbeing_illness" %>
                        <button class="dataFormField"><%=t 'button_add'%></button>
                    <% end %>
                  </div>
                  <div class="dataFormSeparator wellbeingStyle"></div>

                  <div class="dataFormContainer wellbeingStyle">
                    <div class="dataFormTitle">
                      <%= image_tag "pain40.png" %><br/>
                      <%=t 'pain'%>
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "pain-create-form", class: "resource-create-form lifestyle-form") do %>
                        <%= render "forms/wellbeing_pain" %>
                        <button class="dataFormField"><%=t 'button_add'%></button>

                    <% end %>
                  </div>
                  <div class="dataFormSeparator wellbeingStyle"></div>

                  <% if current_user.profile.nil? || current_user.profile.sex=='female' %>
                      <div class="dataFormContainer wellbeingStyle">
                        <div class="dataFormTitle">
                          <%= image_tag "period40.png" %><br/>
                          <%=t 'periods'%>
                        </div>
                        <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "period-create-form", class: "resource-create-form lifestyle-form") do %>
                            <%= render "forms/wellbeing_period" %>
                            <button class="dataFormField"><%=t 'button_add'%></button>

                        <% end %>
                      </div>
                      <div class="dataFormSeparator wellbeingStyle"></div>
                    <% end %>
                <div class="clearBoth"></div>
            </div>
        </div>

        <div class="sectionTitle wellbeingBodyLogo wellbeingColor" style="margin-top: 40px;">
            <span class="hisTitle"><%=t 'history_link'%></span>
        </div>

        <table class="historyTable"  cellpadding="0" cellspacing="0">
            <tbody id="recentResourcesTable">
            </tbody>
        </table>
    </div>
</div>

<script>
    pages_menu();
    wellbeing_loaded();
</script>
<% content_for :menu do %>
    <%= render "menu" %>
<% end %>
<% content_for :title_text do %>
    Well-being | SmartDiab
<% end %>
