<div class="wellbeing-block mainContent" id="wellbeing-container">


        <div class="sectionTitle wellbeingBodyLogo wellbeingColor">
            Well-Being
        </div>
        <div class="contentBg wellbeingStyle">
            <div style="padding: 10px;">
                <div class="dataFormContainer">
                    <div class="dataFormTitle">
                        <%= image_tag "sleep40.png" %><br/>
                        Sleep
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/measurements", remote: true, id: "bp-create-form", class: "resource-create-form") do %>
                        <div class="dataForm">
                            <input type="hidden" name="measurement[source]" value="smartsport">

                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='sleep_start_datepicker'>
                                            <input type='text' class="form-control" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='sleep_end_datepicker'>
                                            <input type='text' class="form-control" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input id="sleep_scale" type="text" name="measurement[pulse]" class="dataFormField"/>
                            <div class="dataFormFieldUnit">%</div>
                            <br>


                        </div>
                        <div class="dataFormButton">
                            <button class="sendForm">Add</button>
                        </div>
                    <% end %>
                </div>
                <div class="dataFormSeparator"></div>

                <div class="dataFormContainer">
                    <div class="dataFormTitle">
                        <%= image_tag "stress40.png" %><br/>
                        Stress
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/measurements", remote: true, id: "bp-create-form", class: "resource-create-form") do %>
                        <div class="dataForm">
                            <input type="hidden" name="measurement[source]" value="smartsport">

                            <input id="stress_scale" type="text" name="measurement[systolicbp]" class="dataFormField"/>
                            <div class="dataFormFieldUnit">%</div>
                            <br>

                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group">
                                        <div class='input-group date' id='stress_datepicker'>
                                            <input type='text' class="form-control" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="dataFormButton">
                            <button class="sendForm">Add</button>
                        </div>
                    <% end %>
                </div>
                <div class="dataFormSeparator"></div>

                <div style="clear: both"></div>
            </div>

        </div>

        <div class="sectionTitle wellbeingBodyLogo wellbeingColor" style="margin-top: 40px;">
            <span>History</span> | <span>Favorites</span>
        </div>

        <table class="historyTable"  cellpadding="0" cellspacing="0">
            <tbody id="recentMeasTable">

            <%= render partial: "shared/meas_item", collection: @measurements %>

            </tbody>
        </table>
    </div>

</div>

<% content_for :page_logic do %>
    wellbeing_loaded()
<% end %>
<% content_for :title_text do %>
    Well-being | SmartDiab
<% end %>