<div class="wellbeing-block mainContent" id="wellbeing-container">
        <div class="sectionTitle wellbeingBodyLogo wellbeingColor">
            Well-Being
        </div>
        <div class="contentBg wellbeingStyle">
            <div style="padding: 10px;">
                <div class="dataFormContainer">
                    <div class="dataFormTitle">
                        <%= image_tag "sleep40.png" %><br/>
                        Sleep
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "bp-create-form", class: "resource-create-form lifestyle-form") do %>
                        <div class="dataForm">
                            <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
                            <input type="hidden" name="lifestyle[group]" value="sleep"/>

                            <label for="sleep_scale" style="margin-left: 20px;">Quality</label>
                            <div class="dataScale">
                                <div id="sleep_scale" class="dataFormField"></div>
                            </div>
                            <div id="sleep_percent" class="dataFormFieldUnit">50%</div>

                            <input id='sleep_start_datepicker' type='text' class="dataFormField" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                            <div class="dataFormFieldUnit">start</div>

                            <input id='sleep_end_datepicker' type='text' class="dataFormField" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
                            <div class="dataFormFieldUnit">end</div>

                            <input id="sleep_amount" type="hidden" name="lifestyle[amount]" />

                        </div>
                        <button class="dataFormField">Add</button>
                    <% end %>
                </div>
                <div class="dataFormSeparator"></div>

                <div class="dataFormContainer">
                    <div class="dataFormTitle">
                        <%= image_tag "stress40.png" %><br/>
                        Stress
                    </div>
                    <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "bp-create-form", class: "resource-create-form lifestyle-form") do %>
                        <div class="dataForm">
                            <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
                            <input type="hidden" name="lifestyle[group]" value="stress"/>

                            <label for="stress_scale" style="margin-left: 20px;">Intensity</label>
                            <div class="dataScale">
                                <div id="stress_scale" class="dataFormField"></div>
                            </div>

                            <div id="stress_percent" class="dataFormFieldUnit">50%</div>
                            <input id="stress_amount" type="hidden" name="lifestyle[amount]"/>


                            <input id='stress_datepicker' type='text' class="dataFormField" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F") %>"/>
                            <div class="dataFormFieldUnit">day</div>

                        </div>

                        <button class="dataFormField">Add</button>

                    <% end %>
                </div>
                <div class="dataFormSeparator"></div>

                <div style="clear: both"></div>
            </div>

        </div>

        <div class="sectionTitle wellbeingBodyLogo wellbeingColor" style="margin-top: 40px;">
            <span>History</span> | <span>Favorites</span>
        </div>

        <table class="historyTable"  cellpadding="0" cellspacing="0">
            <tbody id="recentResourcesTable">
                <%= render partial: "shared/lifestyle_item", collection: @lifestyles %>
            </tbody>
        </table>
    </div>
</div>

<% content_for :page_logic do %>
    wellbeing_loaded()
<% end %>
<% content_for :title_text do %>
    Well-being | SmartDiab
<% end %>