<div data-role="page" id="dietPage" >

  <div data-role="header" id="dietHeader" class="diet-style">
    <h1>Diet</h1>
    <a href="#menuPanel" data-icon="carat-r" data-iconpos="notext" data-shadow="false" data-iconshadow="false" >Open left panel</a>
    <!--<a href="#settingsPage" data-icon="gear" data-iconpos="notext">Settings</a>-->
  </div><!-- /header -->


  <div role="main" class="ui-content">
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "food40.png" %>
        <h3>Food</h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>
            <input type="hidden" name="diet[source]" value="<%= @default_source %>">
            <input type="hidden" name="diet[type]" value="Food">
            <input type="search" id="foodname" name="food_name" placeholder="Food name, eg: chicken soup">
            <ul id="food_autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#foodname"></ul>
            <input id="diet_type_id" name="diet[food_type_id]" type="hidden">
            <input id="diet_name" name="diet[name]" type="hidden">
            <label for="diet_scale">Amount:</label>
            <input id="diet_scale" type="range" name="diet[amount]" min="0.5" max="5" step="0.5" value="2.5">
            <label for="diet_food_datepicker">Time:</label>
            <input id='diet_food_datepicker' type='text' readonly="true" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm">Add Food</button>
        <% end %>
      </div>
    </div>
    <br>
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "drink40.png" %>
        <h3>Drink</h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>
            <input type="hidden" name="diet[source]" value="<%= @default_source %>">
            <input type="hidden" name="diet[type]" value="Drink">
            <input type="search" id="drinkname" name="drink_name" placeholder="Food name, eg: chicken soup">
            <ul id="drink_autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#drinkname"></ul>
            <input id="drink_type_id" name="diet[food_type_id]" type="hidden">
            <input id="drink_name" name="diet[name]" type="hidden">
            <label for="drink_scale">Amount:</label>
            <input id="drink_scale" type="range" name="diet[amount]" min="0.5" max="5" step="0.5" value="2.5">
            <label for="diet_drink_datepicker">Time:</label>
            <input id='diet_drink_datepicker' type='text' readonly="true" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm">Add Drink</button>
        <% end %>
      </div>
    </div>
    <br>
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "smoke40.png" %>
        <h3>Smoking</h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/diets", remote: true, id: "bp-create-form", class: "resource-create-form diet-form") do %>
            <input type="hidden" name="diet[source]" value="<%= @default_source %>">
            <input type="hidden" name="diet[type]" value="Smoke">

            <select id="diet_smoke_type" name="diet[name]">
              <option>1 Cigarette</option>
              <option>1 Cigar</option>
              <option>1 Pipe</option>
            </select>

            <label for="diet_smoking_datepicker">Time:</label>
            <input id='diet_smoking_datepicker' type='text' readonly="true" name="diet[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm">Add Smoking</button>
        <% end %>
      </div>
    </div>
    <br>
    <div class="ui-corner-all custom-corners">
      <div data-role="navbar" data-iconpos="bottom">
        <ul>
          <li><a id="hist-button" href="#" data-icon="grid" class="ui-btn-active">History</a></li>
          <li><a id="fav-button"href="#" data-icon="star">Favs</a></li>
        </ul>
      </div>
      <ul data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true" class="ui-body recentResourcesListview">
        <%= render partial: "shared/diet_item", collection: @diets, as: "diet_item" %>
      </ul>
    </div>
  </div><!-- /content -->

</div>

<div id="editFoodPage" data-role="page" data-theme="a" class="ui-corner-all">
  <div data-role="header">
    <h1 class="diet-group">Food</h1>
    <a href="#dietPage" data-icon="carat-l" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-transition="slide" data-direction="reverse">Back</a>
  </div>
  <div class="ui-content">
    <%= form_tag(  "#", remote: true, id: "updateFoodForm", method: 'patch') do %>
      <div class="ui-field-contain">
        <label for="edit_food_name">Name</label>
        <input id="edit_food_name" type="text" name="food_name" value="" data-theme="a" readonly="true">
        <label id="edit_food_category_label" for="edit_food_category">Category</label>
        <input id="edit_food_category" type="text" name="food_category" value="" data-theme="a" readonly="true">
        <label for="edit_food_date">Date</label>
        <input id="edit_food_date" type="text" name="food_date" value="" data-theme="a" readonly="true">

        <label for="food_amount_edit_scale">Amount:</label>
        <input type="range" name="diet[amount]" id="food_amount_edit_scale" min="0.5" max="5" step="0.5" value="2.5">
        <label for="food_favorite">Favorite</label>
        <input id="food_favorite" type="checkbox" name="diet[favourite]" value="" data-theme="a" data-role="flipswitch">
      </div>
      <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Update</button>
    <% end %>
    <%= form_tag(  "#", remote: true, id: "deleteFoodForm", method: 'delete') do %>
      <button type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-delete ui-icon-check">Delete</button>
    <% end %>

  </div>
</div>

<!--diet_loaded()-->
