<div data-role="page" id="geneticsPage" >
  <input id="relativeList" type="hidden" value="<%= @relativeList %>">
  <input id="diseaseList" type="hidden" value="<%= @diseaseList %>">
  <input id="data-lang-genetics" value="<%=I18n.locale%>" type="hidden" />

  <div data-role="header" id="geneticsHeader" class="genetics-style">
    <h1><%=t 'genetics'%></h1>
    <a href="#menuPanel" data-icon="carat-r" data-iconpos="notext" data-shadow="false" data-iconshadow="false" >Open left panel</a>
  </div>

  <div role="main" class="ui-content">
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "family40.png" %><br/>
        <h3><%=t 'family_hist'%></h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/family_histories", remote: true, id: "familyhist-create-form", class: "resource-create-form family-history-form") do %>

            <input type="hidden" name="family_history[source]" value="<%= @default_source %>">
            <input type="search" id="gen_hist_relative" name="gen_hist_relative" placeholder="<%=t 'relative'%>">
            <ul id="relative_autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#gen_hist_relative"></ul>
            <input id="relative" name="family_history[relative]" type="hidden">
            <input type="search" id="gen_hist_disease" name="gen_hist_disease" placeholder="<%=t 'diabetes'%>">
            <ul id="disease_autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#gen_hist_disease"></ul>
            <input id="disease" name="family_history[disease]" type="hidden">
            <textarea id="gen_hist_note" type="text" name="family_history[note]" rows="5" class="dataFormArea" placeholder="<%=t 'genetics_history'%>"></textarea>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>

        <% end %>
      </div>
    </div>
    <br>
     <div class="ui-corner-all custom-corners">
      <div data-role="navbar" data-iconpos="bottom">
        <div class="sectionTitle geneticsBodyLogo geneticsColor">
          <span><%=t 'history_link'%></span>
        </div>
      </div>
      <ul id="geneticsListView" data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true" class="ui-body recentResourcesListview">
        <%= render partial: "shared/family_history_item", collection: @family_histories, as: "family_history_item" %>
      </ul>

    </div>
  </div><!-- /content -->

  <div data-role="popup" id="successGeneticsPopup" class="ui-content" style="max-width:280px" data-history="false" data-theme="b">
    <p>Item successfully created.</p>
  </div>

  <div data-role="popup" id="failureGeneticsPopup" class="ui-content" style="max-width:280px" data-history="false" data-theme="b">
    <p>Failed to create item.</p>
  </div>

</div>
