<div data-role="page" id="labresultPage" >
  <input id="data-lang-labresult" value="<%=I18n.locale%>" type="hidden" />
  <div data-role="header" id="labresultHeader" class="labresult-style">
    <h1><%=t 'lab_results'%></h1>
    <a href="#menuPanel" data-icon="carat-r" data-iconpos="notext" data-shadow="false" data-iconshadow="false" >Open left panel</a>
  </div>


  <div role="main" class="ui-content">
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "test_tube40.png" %><br/>
        <h3>HbA1c</h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/lab_results", remote: true, id: "hba1c-create-form", class: "resource-create-form labresult-form") do %>
            <input type="hidden" name="labresult[source]" value="<%= @default_source %>" />
            <input type="hidden" name="labresult[category]" value="hba1c" />
            % <input id="hba1c" type="text" name="labresult[hba1c]" placeholder="HbA1c"/>
            <input id='hba1c_datepicker' type='text' readonly="true" name="labresult[date]" value="<%= Date.current.strftime("%F") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>
        <% end %>
      </div>
    </div>
    <br>
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "water40.png" %><br/>
        <h3>LDL-chol</h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/lab_results", remote: true, id: "ldlchol-create-form", class: "resource-create-form labresult-form") do %>
            <input type="hidden" name="labresult[source]" value="<%= @default_source %>" />
            <input type="hidden" name="labresult[category]" value="ldl_chol" />
            mmol/L <input id="ldl_chol" type="text" name="labresult[ldl_chol]" placeholder="LDL-chol"/>
            <input id='ldl_chol_datepicker' type='text' readonly="true" name="labresult[date]" value="<%= Date.current.strftime("%F") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>
        <% end %>
      </div>
    </div>
    <br>
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "kidney40.png" %><br/>
        <h3>eGFR-EPI</h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/lab_results", remote: true, id: "egfrepi-create-form", class: "resource-create-form labresult-form") do %>
            <input type="hidden" name="labresult[source]" value="<%= @default_source %>" />
            <input type="hidden" name="labresult[category]" value="egfr_epi" />
            ml/min/1.73m<input id="egfr_epi" type="text" name="labresult[egfr_epi]" placeholder="eGFR-EPI"/>
            <input id='egfr_epi_datepicker' type='text' readonly="true" name="labresult[date]" value="<%= Date.current.strftime("%F") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>
        <% end %>
      </div>
    </div>
    <br>
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "ketone40.png" %><br/>
        <h3>Ketone</h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/lab_results", remote: true, id: "ketone-create-form", class: "resource-create-form labresult-form") do %>
            <input type="hidden" name="labresult[source]" value="<%= @default_source %>" />
            <input type="hidden" name="labresult[category]" value="ketone" />
            <select id="ketone" name="labresult[ketone]">
              <option value="negative">Negatív</option>
              <option value="+">+</option>
              <option value="++">++</option>
              <option value="+++">+++</option>
              <option value="++++">++++</option>
              <option value="+++++">+++++</option>
            </select>

            <input id='ketone_datepicker' type='text' readonly="true" name="labresult[date]" value="<%= Date.current.strftime("%F") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>
        <% end %>
      </div>
    </div>
    <br>
    <div class="ui-corner-all custom-corners">
      <div data-role="navbar" data-iconpos="bottom">
        <div class="sectionTitle labresulBodyLogo labresultColor">
          <span><%=t 'history_link'%></span>
        </div>
      </div>
      <ul id="labresultListView" data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true" class="ui-body recentResourcesListview">
        <%= render partial: "shared/labresult_item", collection: @labresults, as: "labresult_item" %>
      </ul>

    </div>
  </div><!-- /content -->

  <div data-role="popup" id="successLabresultPopup" class="ui-content" style="max-width:280px" data-history="false" data-theme="b">
    <p>Item successfully created.</p>
  </div>

  <div data-role="popup" id="failureLabresultPopup" class="ui-content" style="max-width:280px" data-history="false" data-theme="b">
    <p>Failed to create item.</p>
  </div>

</div>





