<div data-role="page" id="medicationPage" >

  <div data-role="header" id="medicationHeader" class="medication-style">
    <h1>Medication</h1>
    <a href="#menuPanel" data-icon="carat-r" data-iconpos="notext" data-shadow="false" data-iconshadow="false" >Open left panel</a>
  </div>


  <div role="main" class="ui-content">
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "oral40.png" %>
        <h3><%=t 'drugs'%></h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/medications", remote: true, id: "oral-med-create-form", class: "resource-create-form medication-form") do %>
            <input type="hidden" name="medication[source]" value="<%= @default_source %>">
            <input type="search" id="oral_medication_name" name="oral_medication_name" placeholder="<%=t 'drug_placeholder'%>">
            <ul id="medication_autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#oral_medication_name"></ul>
            <input id="medname" name="medication[medication_type_id]" type="hidden">
            <input id="medication_amount" type="text" name="medication[amount]" placeholder="<%=t 'amount_taken'%>"/>
            <label for="medications_datepicker">Time:</label>
            <input id='medications_datepicker' type='text' readonly="true" name="medication[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>
        <% end %>
      </div>
    </div>
    <br>
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "insulin40.png" %><br/>
        <h3><%=t 'insulin' %></h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/medications", remote: true, id: "insulin-create-form", class: "resource-create-form medication-form") do %>
            <input type="hidden" name="medication[source]" value="<%= @default_source %>">
            <input type="search" id="insulin_name" name="insulin_name" placeholder="<%=t 'insulin_placeholder'%>">
            <ul id="insulin_autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#insulin_name"></ul>
            <input id="insname" name="medication[medication_type_id]" type="hidden">
            <input id="medication_insulin_dosage" type="text" name="medication[amount]" placeholder="<%=t 'insulin_dosage'%>"/>
            <label for="medications_insulin_datepicker">Time:</label>
            <input id="medications_insulin_datepicker" type="text" readonly="true" name="medication[date]" value='<%= DateTime.current.strftime("%F %R") %>'>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>
        <% end %>
      </div>
    </div>
    <br>
    <div class="ui-corner-all custom-corners">
      <div data-role="navbar" data-iconpos="bottom">
        <ul>
          <li><a id="hist-medication-button" href="#" data-icon="grid" class="ui-btn-active">History</a></li>
          <li><a id="fav-medication-button"href="#" data-icon="star">Favs</a></li>
        </ul>
      </div>
      <ul id="medicationListView" data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true" class="ui-body recentResourcesListview">
        <%= render partial: "shared/medication_item", collection: @medications, as: "medication_item" %>
      </ul>

    </div>
  </div><!-- /content -->

  <div data-role="popup" id="successMedicationPopup" class="ui-content" style="max-width:280px" data-history="false" data-theme="b">
    <p>Item successfully created.</p>
  </div>

  <div data-role="popup" id="failureMedicationPopup" class="ui-content" style="max-width:280px" data-history="false" data-theme="b">
    <p>Failed to create item.</p>
  </div>

</div>
