<div id="menuTemplate" style="display: none">
<div data-role="panel" data-theme="a">
  <ul data-role="listview" data-count-theme="b" data-inset="true">
    <li><a href="#dashboardPage"><%= image_tag "menu_dashboard.png", alt: "Dashboard", class: "ui-li-icon ui-corner-none" %>Dashboard</a></li>
    <li><a href="#dietPage"><%= image_tag "menu_diet.png", alt: "Diet", class: "ui-li-icon ui-corner-none" %>Diet <span class="ui-li-count">12</span></a></li>
    <li><a href="#exercisePage"><%= image_tag "menu_exercise.png", alt: "Exercise", class: "ui-li-icon ui-corner-none" %>Exercise <span class="ui-li-count">47</span></a></li>
    <li><a href="#healthPage"><%= image_tag "menu_health.png", alt: "Exercise", class: "ui-li-icon ui-corner-none" %>Health</a></li>
    <li><a href="#medicationPage"><%= image_tag "menu_medication.png", alt: "Exercise", class: "ui-li-icon ui-corner-none" %>Medication</a></li>
    <li><a href="#wellbeingPage"><%= image_tag "palmtree60.png", alt: "Exercise", class: "ui-li-icon ui-corner-none" %>Well-Being</a></li>
    <li><a href="#geneticsPage"><%= image_tag "menu_genetics.png", alt: "Exercise", class: "ui-li-icon ui-corner-none" %>Genetics</a></li>
    <li><a href="#analyticsPage"><%= image_tag "analytics60.png", alt: "Exercise", class: "ui-li-icon ui-corner-none" %>Analytics</a></li>

    <li><a href="#settingsPage">Settings</a></li>
  </ul>
  <!--<a href="#diet-header" data-rel="close" >Close</a>-->
</div><!-- /panel -->
</div>
