<div id="menuTemplate" style="display: none">
<div data-role="panel" data-theme="a">
  <ul data-role="listview" data-count-theme="b" data-inset="true">
    <li><a href="#dashboardPage"><%= image_tag "menu_dashboard.png", alt: (t 'menu_dashboard'), class: "ui-li-icon ui-corner-none" %><%=t 'menu_dashboard' %></a></li>
    <li><a href="#dietPage"><%= image_tag "menu_diet.png", alt: (t 'menu_diet'), class: "ui-li-icon ui-corner-none" %><%=t 'menu_diet' %> <span class="ui-li-count"><%=@counts[0]%></span></a></li>
    <li><a href="#exercisePage"><%= image_tag "menu_exercise.png", alt: (t 'menu_exercise'), class: "ui-li-icon ui-corner-none" %><%=t 'menu_exercise' %> <span class="ui-li-count"><%=@counts[1]%></span></a></li>
    <li><a href="#healthPage"><%= image_tag "menu_health.png", alt: (t 'menu_health'), class: "ui-li-icon ui-corner-none" %><%=t 'menu_health' %> <span class="ui-li-count"><%=@counts[2]%></span></a></li>
    <li><a href="#medicationPage"><%= image_tag "menu_medication.png", alt: (t 'menu_medication'), class: "ui-li-icon ui-corner-none" %><%=t 'menu_medication' %> <span class="ui-li-count"><%=@counts[3]%></span></a></li>
    <li><a href="#wellbeingPage"><%= image_tag "palmtree60.png", alt: (t 'menu_wellbeing'), class: "ui-li-icon ui-corner-none" %><%=t 'menu_wellbeing' %> <span class="ui-li-count"><%=@counts[4]%></span></a></li>
    <li><a href="#geneticsPage"><%= image_tag "menu_genetics.png", alt: (t 'menu_genetics'), class: "ui-li-icon ui-corner-none" %><%=t 'menu_genetics' %> <span class="ui-li-count"><%=@counts[5]%></span></a></li>
    <li><a href="#labresultPage"><%= image_tag "menu_labresults.png", alt: (t 'menu_labresults'), class: "ui-li-icon ui-corner-none" %><%=t 'menu_labresults' %> <span class="ui-li-count"><%=@counts[6]%></span></a></li>
    <li><a href="#analyticsPage"><%= image_tag "analytics60.png", alt: (t 'menu_analytics'), class: "ui-li-icon ui-corner-none" %><%=t 'menu_analytics' %></a></li>

    <li><a href="#settingsPage"><%= image_tag "unknown.jpeg", alt: (t 'menu_profile'), class: "ui-li-icon ui-corner-none" %><%=t 'menu_profile' %></a></li>
  </ul>
  <!--<a href="#diet-header" data-rel="close" >Close</a>-->
</div><!-- /panel -->
</div>
