<div data-role="page" id="wellbeingPage" >
  <input id="data-lang-wellbeing" value="<%=I18n.locale%>" type="hidden" />
  <div data-role="header" id="wellbeingHeader" class="wellbeing-style">
    <h1><%=t 'wellbeing'%></h1>
    <a href="#menuPanel" data-icon="carat-r" data-iconpos="notext" data-shadow="false" data-iconshadow="false" >Open left panel</a>
  </div>

  <input id="sleepList" type="hidden" value="<%=t :sleepList%>">
  <input id="stressList" type="hidden" value="<%=t :stressList %>">
  <input id="illnessList" type="hidden" value="<%=t :illnessList %>">
  <input id="painList" type="hidden" value="<%=t :painList %>">
  <input id="periodPainList" type="hidden" value="<%=t :periodPainList %>">
  <input id="periodVolumeList" type="hidden" value="<%=t :periodVolumeList %>">
  <input id="painTypeList" type="hidden" value="<%=t :painTypeList %>">
  <input id="popup-messages" value="<%=@values%>" type="hidden" />

  <div role="main" class="ui-content">
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "sleep40.png" %><br/>
        <h3><%=t 'sleep'%></h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "sleep-create-form", class: "resource-create-form lifestyle-form") do %>

            <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
            <input type="hidden" name="lifestyle[group]" value="sleep"/>
            <label for="sleep_scale" style="margin-left: 20px;"><%=t :quality%></label>
            <input id="sleep_scale" type="range" name="lifestyle[amount]" min="0" max="3" value="2">
            <br/><br/>
            <label for="sleep_start_datepicker"><%=t :start%></label>
            <input id='sleep_start_datepicker' type='text' readonly="true" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
            <label for="sleep_end_datepicker"><%=t :end%></label>
            <input id='sleep_end_datepicker' type='text' readonly="true" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>

        <% end %>
      </div>
    </div>

    <br>

    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "stress40.png" %><br/>
        <h3><%=t 'stress'%></h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "stress-create-form", class: "resource-create-form lifestyle-form") do %>

            <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
            <input type="hidden" name="lifestyle[group]" value="stress"/>
            <label for="stress_scale" style="margin-left: 20px;"><%=t :intensity%></label>
            <input id="stress_scale" type="range" name="lifestyle[amount]" min="0" max="3" value="1">
            <br/><br/>
            <label for="stress_datepicker" style="margin-left: 20px;"><%=t :day%></label>
            <input id='stress_datepicker' type='text' readonly="true" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>

        <% end %>
      </div>
    </div>

    <br/>

    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "illness40.png" %><br/>
        <h3><%=t 'illness'%></h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "illness-create-form", class: "resource-create-form lifestyle-form") do %>

            <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
            <input type="hidden" name="lifestyle[group]" value="illness"/>
            <input type="search" id="illness_name" name="illness_name" placeholder="<%=t 'illness_placeholder'%>">
            <ul id="illness_autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#illness_name"></ul>
            <input id="illnessname" name="lifestyle[illness_type_id]" type="hidden">
            <label for="illness_scale" style="margin-left: 20px;"><%=t :intensity%></label>
            <input id="illness_scale" type="range" name="lifestyle[amount]" min="0" max="4" value="1">
            <br/><br/>
            <label for="illness_start_datepicker"><%=t :start%></label>
            <input id='illness_start_datepicker' type='text' readonly="true" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F") %>"/>
            <label for="illness_end_datepicker"><%=t :end%></label>
            <input id='illness_end_datepicker' type='text' readonly="true" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>

        <% end %>
      </div>
    </div>

    <br>

    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "pain40.png" %><br/>
        <h3><%=t 'pain'%></h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "pain-create-form", class: "resource-create-form lifestyle-form") do %>

            <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
            <input type="hidden" name="lifestyle[group]" value="pain"/>
            <input type="search" id="pain_name" name="pain_name" placeholder="<%=t 'pain_placeholder'%>">
            <ul id="pain_autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#pain_name"></ul>
            <input id="painname" name="lifestyle[pain_type_name]" type="hidden">
            <label for="pain_scale" style="margin-left: 20px;"><%=t :intensity%></label>
            <input id="pain_scale" type="range" name="lifestyle[amount]" min="0" max="4" value="1">
            <br/><br/>
            <label for="pain_start_datepicker"><%=t :start%></label>
            <input id='pain_start_datepicker' type='text' readonly="true" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
            <label for="pain_end_datepicker"><%=t :end%></label>
            <input id='pain_end_datepicker' type='text' readonly="true" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>

        <% end %>
      </div>
    </div>

    <br>

    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <%= image_tag "period40.png" %><br/>
        <h3><%=t 'periods'%></h3>
      </div>
      <div class="ui-body ui-body-a">
        <%= form_tag( "/users/#{current_user.id}/lifestyles", remote: true, id: "period-create-form", class: "resource-create-form lifestyle-form") do %>

            <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
            <input type="hidden" name="lifestyle[group]" value="period"/>
            <label for="periods_start_datepicker"><%=t :start%></label>
            <input id='periods_start_datepicker' type='text' readonly="true" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F") %>"/>
            <label for="periods_end_datepicker"><%=t :end%></label>
            <input id='periods_end_datepicker' type='text' readonly="true" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F") %>"/>
            <label for="period_scale" style="margin-left: 20px;"><%=t :pain%></label>
            <input id="period_scale" type="range" name="lifestyle[amount]" min="0" max="4" value="1">
            <br/><br/>
            <label for="periods_volume_scale" style="margin-left: 20px;"><%=t :amount%></label>
            <input id="periods_volume_scale" type="range" name="lifestyle[period_volume]" min="0" max="4" value="1">
            <br/><br/>
            <button class="ui-shadow ui-btn ui-corner-all sendForm"><%=t 'button_add'%></button>

        <% end %>
      </div>
    </div>


    <div class="ui-corner-all custom-corners">
      <div data-role="navbar" data-iconpos="bottom"></div>
      <ul id="lifestyleListView" data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true" class="ui-body recentResourcesListview">
        <%= render partial: "shared/lifestyle_item", collection: @lifestyles, as: "lifestyle_item" %>
      </ul>

    </div>
  </div><!-- /content -->

  <div data-role="popup" id="successLifestylePopup" class="ui-content" style="max-width:280px" data-history="false" data-theme="b">
    <p>Item successfully created.</p>
  </div>

  <div data-role="popup" id="failureLifestylePopup" class="ui-content" style="max-width:280px" data-history="false" data-theme="b">
    <p>Failed to create item.</p>
  </div>

</div>













