<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sensor_measurement.user.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @sensor_measurement.group %>
</p>


<p>
  <strong>Start time:</strong>
  <%= @sensor_measurement.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @sensor_measurement.duration %>
</p>

<p>
  <strong>Sensors:</strong>
  <%= @sensor_measurement.sensors %>
</p>


