<div class="dataForm activity_exercise <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="activity[source]" value="<%= @default_source %>">
  <input type="hidden" name="activity[group]" value="sport">

  <input type="search" name="activity[activity]" class="dataFormField activity_exercise_name" placeholder="<%=t :activity_name_placeholder%>" disabled>
  <input class="activity_exercise_type_id" name="activity[activity_type_name]" type="hidden">

  <label for="activity_exercise_scale" style="margin-left: 20px;"><%=t :intensity%></label>
  <br/>
  <div class="dataScale">
    <div class="dataFormField activity_exercise_scale"></div>
  </div>
  <div class="dataFormFieldUnit activity_exercise_percent"><%=t :activity_intensity_moderate%></div>
  <input class="activity_exercise_intensity" type="hidden" name="activity[intensity]"/>

  <input type="text" class="dataFormField activity_exercise_start_datepicker" name="activity[start_time]" value="<%= (DateTime.current-30.minutes).strftime("%F %R") %>"/>
  <div class="dataFormFieldUnit"><%=t :start%></div>

  <input type="text" class="dataFormField activity_exercise_end_datepicker" name="activity[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <div class="dataFormFieldUnit"><%=t :end%></div>

</div>
