<div class="dataForm">
  <input type="hidden" name="activity[source]" value="<%= @default_source %>">
  <input type="hidden" name="activity[group]" value="other">

  <input id="otheractivityname" type="search" name="activity_name" class="dataFormField" placeholder="<%=t :other_activity_name_placeholder%>" disabled>
  <input id="activity_other_type_id" name="activity[activity_type_id]" type="hidden">

  <label for="activity_other_scale" style="margin-left: 20px;"><%=t :intensity%></label>
  <div class="dataScale">
    <div id="activity_other_scale" class="dataFormField"></div>
  </div>
  <div id="activity_other_percent" class="dataFormFieldUnit"><%=t :activity_intensity_moderate%></div>
  <input id="activity_other_intensity" type="hidden" name="activity[intensity]"/>

  <input id='activity_other_start_datepicker' type='text' class="dataFormField" name="activity[start_time]" value="<%= (DateTime.current-30.minutes).strftime("%F %R") %>"/>
  <div class="dataFormFieldUnit"><%=t :start%></div>

  <input id='activity_other_end_datepicker' type='text' class="dataFormField" name="activity[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <div class="dataFormFieldUnit"><%=t :end%></div>

</div>
