<div class="dataForm activity_regular <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="activity[source]" value="<%= @default_source %>">
  <input type="hidden" name="activity[group]" value="other">

  <input type="search" name="activity[activity]" class="dataFormField activity_regular_name" placeholder="<%=t :other_activity_name_placeholder%>" disabled>
  <input class="activity_regular_type_id" name="activity[activity_type_id]" type="hidden">

  <label style="margin-left: 20px;"><%=t :intensity%></label>
  <div class="dataScale">
    <div class="dataFormField activity_regular_scale"></div>
  </div>
  <div class="dataFormFieldUnit activity_regular_percent"><%=t :activity_intensity_moderate%></div>
  <input class="activity_regular_intensity" type="hidden" name="activity[intensity]"/>

  <input type="text" class="dataFormField activity_regular_start_datepicker" name="activity[start_time]" value="<%= (DateTime.current-30.minutes).strftime("%F %R") %>"/>
  <div class="dataFormFieldUnit"><%=t :start%></div>

  <input type="text" class="dataFormField activity_regular_start_datepicker" name="activity[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <div class="dataFormFieldUnit"><%=t :end%></div>

</div>
