<%
   defaultHidden = local_assigns.fetch(:locals, {})[:defaultHidden]
   showButton = local_assigns.fetch(:locals, {})[:showButton]
   buttonClass = local_assigns.fetch(:locals, {})[:buttonClass]
   elementName = local_assigns.fetch(:locals, {})[:elementName]
   style = local_assigns.fetch(:locals, {})[:style]
   title = local_assigns.fetch(:locals, {})[:title]
   img = local_assigns.fetch(:locals, {})[:img]
   elementId = local_assigns.fetch(:locals, {})[:elementId]
   eid = local_assigns.fetch(:locals, {})[:eid]
   separator = local_assigns.fetch(:locals, {})[:separator]
   initFn = local_assigns.fetch(:locals, {})[:initFn]
   initSelector = local_assigns.fetch(:locals, {})[:initSelector]
   customFormId = local_assigns.fetch(:locals, {})[:customFormId]
   resource = local_assigns.fetch(:locals, {})[:resource]
   cfe = ""
   if eid!=nil
     cfe = "cfe-#{eid}"
   end
   if separator==nil
     separator = true
   end
   if buttonClass == nil
     buttonClass = ""
   end
   if resource == nil
     elNamePl = elementName.split('_')[0].pluralize
     elName = elementName.split('_')[0]
   else
     elNamePl = resource
     elName = resource
   end
%>

<div class="dataFormContainer formElement <%= style %> <% if defaultHidden%>hidden<%end%> <%= elementName+'_elem'%>">
  <div class="dataFormTitle">
    <%= image_tag img %>
    <span><%=t title %></span>
  </div>
  <div class="clearBoth"></div>
  <%= form_tag( root_path+"users/#{current_user.id}/#{elNamePl}", remote: true, class: "resource-create-form #{elName}-form "+elementName+"-create-form "+cfe, id: elementId) do %>
      <%= token_tag %>
      <%= render "forms/#{elementName}" %>
      <input type="hidden" name="elementName" value="<%= elementName %>">
      <%if customFormId %>
        <input type="hidden" name="customFormId" value="<%= customFormId %>">
      <%end%>
      <% if showButton %>
      <button class="dataFormField <%= buttonClass %>"><%=t 'button_add'%></button>
      <% end %>
  <% end %>
</div>
<% if separator %>
<div class="dataFormSeparator <%= style %> <% if defaultHidden%>hidden<%end%> <%= elementName+'_elem'%>"></div>
<% end %>
<% if initFn!=nil %>
    <script>

    var fn = window['<%= initFn %>'];
    if(typeof fn === 'function') {
        console.log("calling init: <%= initFn %>, with selector: <%= initSelector %>");
        fn("<%= initSelector%>");
    } else {
        console.log("<%= initFn %> missing (selector: <%= initSelector %>)");
    }
    </script>
<% end %>
