<%
   defaultHidden = local_assigns.fetch(:locals, {})[:defaultHidden]
   showButton = local_assigns.fetch(:locals, {})[:showButton]
   elementName = local_assigns.fetch(:locals, {})[:elementName]
   style = local_assigns.fetch(:locals, {})[:style]
   title = local_assigns.fetch(:locals, {})[:title]
   img = local_assigns.fetch(:locals, {})[:img]
   elementId = local_assigns.fetch(:locals, {})[:elementId]
   eid = local_assigns.fetch(:locals, {})[:eid]
   cfe = ""
   if eid!=nil
     cfe = "cfe-#{eid}"
   end
%>
<div class="dataFormContainer <%= style %> <% if defaultHidden%>hidden<%end%> <%= elementName+'_elem'%>">
  <div class="dataFormTitle">
    <%= image_tag img %><br/>
    <%=t title %>
  </div>
  <div class="clearBoth"></div>
  <%= form_tag( "/users/#{current_user.id}/#{elementName.split('_')[0].pluralize}", remote: true, class: "resource-create-form #{elementName.split('_')[0]}-form "+elementName+"-create-form "+cfe, id: elementId) do %>
      <%= token_tag %>
      <%= render "forms/#{elementName}" %>
      <input type="hidden" name="elementName" value="<%= elementName %>">
      <% if showButton %>
      <button id="addFoodButton" class="dataFormField"><%=t 'button_add'%></button>
      <% end %>
  <% end %>
</div>
<div class="dataFormSeparator <%= style %> <% if defaultHidden%>hidden<%end%> <%= elementName+'_elem'%>"></div>
