<div class="dataForm wellbeing_pain <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
  <input type="hidden" name="lifestyle[group]" value="pain"/>

  <input type="search" name="lifestyle[pain_type_name]" class="dataFormField pain_type_name" placeholder="<%=t 'pain_placeholder'%>">
  <input class="pain_type_id" name="lifestyle[illness_type_id]" type="hidden">

  <label style="margin-left: 20px;"><%=t 'intensity'%></label>
  <div class="dataScale">
    <div class="dataFormField pain_scale"></div>
  </div>

  <div class="dataFormFieldUnitHalf pain_percent"><%=t 'pain_amount_mild'%></div>
  <input class="pain_amount" type="hidden" name="lifestyle[amount]"/>

  <textarea class="dataFormTextArea pain_details" name="lifestyle[details]" placeholder="<%=t 'lifestyle_details'%>"></textarea>
  <div class="dataFormAreaUnit"></div>

  <input type='text' class="dataFormField pain_start_datepicker default_datetime_picker" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <div class="dataFormFieldUnit"><%=t 'start'%></div>

  <input type='text' class="dataFormField pain_end_datepicker default_datetime_picker" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <div class="dataFormFieldUnit"><%=t 'end'%></div>
</div>
