<div class="dataForm wellbeing_illness <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
  <input type="hidden" name="lifestyle[group]" value="illness"/>

  <input type="search" name="lifestyle[name]" class="dataFormField illness_name" placeholder="<%=t 'illness_placeholder'%>">
  <input class="illness_type_id" name="lifestyle[lifestyle_type_name]" type="hidden">

  <label style="margin-left: 20px;"><%=t 'intensity'%></label>
  <div class="dataScale">
    <div class="dataFormField illness_scale"></div>
  </div>

  <div class="dataFormFieldUnitHalf illness_percent"><%=t 'illness_amount_mild'%></div>
  <input class="illness_amount" type="hidden" name="lifestyle[amount]"/>

  <textarea class="dataFormTextArea illness_details" name="lifestyle[details]" placeholder="<%=t 'lifestyle_details'%>"></textarea>
  <div class="dataFormAreaUnit"></div>

  <input type='text' class="dataFormField illness_start_datepicker default_date_picker" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F") %>"/>
  <div class="dataFormFieldUnit"><%=t 'start'%></div>

  <input type='text' class="dataFormField illness_end_datepicker default_date_picker" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F") %>"/>
  <div class="dataFormFieldUnit"><%=t 'end'%></div>
</div>