<div class="dataForm wellbeing_stress <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
  <input type="hidden" name="lifestyle[name]" value="stress">

  <label style="margin-left: 20px;"><%=t 'intensity'%></label>
  <div class="dataScale">
    <div class="dataFormField stress_scale"></div>
  </div>

  <div class="dataFormFieldUnitHalf stress_percent"><%=t 'stress_amount_average'%></div>
  <input class="stress_amount" type="hidden" name="lifestyle[amount]"/>

  <input type='text' class="dataFormField stress_datepicker default_date_picker" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F") %>"/>
  <div class="dataFormFieldUnit"><%=t 'day'%></div>

</div>
