<div class="dataForm health_blood_glucose <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="measurement[source]" value="<%= @default_source %>">
  <input type="hidden" name="measurement[meas_type]" value="blood_sugar" />
  <input id="glucose" type="number" step="0.1" name="measurement[blood_sugar]" class="dataFormField" placeholder="<%=t 'glucose_placeholder' %>"/>

  <div class="dataFormFieldUnit">mmol/L</div>
  <br/>
  <span style="margin-left: 20px; float: left;"><%=t 'stress_level'%></span>
  <br/>
  <div class="dataScale">
    <div class="dataFormField bg_stress_scale"></div>
  </div>

  <div class="dataFormFieldUnitHalf bg_stress_percent"><%=t 'stress_amount_average'%></div>
  <input class="bg_stress_amount" type="hidden" name="measurement[stress_amount]"/>

  <br>
  <span style="margin-left: 20px;float: left;"><%=t 'blood_sugar_time'%></span>
  <div class="dataScale">
    <div class="dataFormField bg_time_scale"></div>
  </div>
  <div class="dataFormFieldUnitHalf bg_time_unit"><%=t 'indep_meal'%></div>
  <input class="bg_time_val" type="hidden" name="measurement[blood_sugar_time]"/>

  <input id='bloodsugar_datepicker' type='text' class="dataFormField defaultDatePicker" name="measurement[date]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <br>
</div>