<div class="dataForm medication_drugs <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="medication[source]" value="<%= @default_source %>">

  <input type="search" name="medication[name]" class="dataFormField oral_medication_name" placeholder="<%=t 'drug_placeholder'%>"/>
  <input class="oral_medication_id" name="medication[medication_type_id]" type="hidden">

  <input type="text" name="medication[amount]" class="dataFormField medication_drug_amount" placeholder="<%=t 'amount_taken'%>"/>

  <div class="dataFormFieldUnit"><%=t 'piece'%></div>
  <br>

  <input type="text"  name="medication[date]" class="dataFormField medication_drugs_datepicker" value='<%= DateTime.current.strftime("%F %R") %>'>
  <br>

</div>
