<div class="dataForm wellbeing_sleep <% if local_assigns.fetch(:locals, {})[:defaultHidden] %>hidden<% end %>">
  <input type="hidden" name="lifestyle[source]" value="<%= @default_source %>"/>
  <input type="hidden" name="lifestyle[group]" value="sleep"/>

  <label for="sleep_scale" style="margin-left: 20px;"><%=t 'quality'%></label>
  <br/>
  <div class="dataScale">
    <div id="sleep_scale" class="dataFormField"></div>
  </div>
  <div id="sleep_percent" class="dataFormFieldUnitHalf"><%=t 'sleep_fairly_good'%></div>

  <input id='sleep_start_datepicker' type='text' class="dataFormField" name="lifestyle[start_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <div class="dataFormFieldUnit"><%=t 'start'%></div>

  <input id='sleep_end_datepicker' type='text' class="dataFormField" name="lifestyle[end_time]" value="<%= DateTime.current.strftime("%F %R") %>"/>
  <div class="dataFormFieldUnit"><%=t 'end'%></div>

  <input id="sleep_amount" type="hidden" name="lifestyle[amount]" />

</div>
