<input id="popup-messages" value="<%=@values%>" type="hidden" />

<div style="position:absolute;left:47%;margin-left:-240px;top:100px;">

  <div style="width: 600px;height: 128px;color: grey;">
    <%= image_tag "logo-login.png", id:"loginLogo", class: "loginLogo", alt:"Login" %>
    <div style="padding-top: 15px;">
        <span style="font-family: 'Open Sans', sans-serif;font-size: 18px;"><%=t 'fill_personal_info' %></span><br>
    </div>
  </div>
</div>


<div id="registerDiv" class="registerDiv">
  <div>
    <%= form_tag("/users/#{current_user.id}/profile", :method => :post, :remote => true, :id=> 'profileForm') do %>
        <input name="lang" value="<%=I18n.locale%>" type="hidden" />
        <input type="hidden" id="user_id" name="profile[user_id]" value="<%= @current_user.id %>">
        <% if I18n.locale.to_s == "hu" %>
            <input id="lastname_field" name="profile[lastname]" type="text" class="loginField" placeholder="<%=t 'lastname' %>"/><br>
            <input id="firstname_field" name="profile[firstname]" type="text" class="loginField" placeholder="<%=t 'firstname' %>"/><br>
        <% else %>
            <input id="firstname_field" name="profile[firstname]" type="text" class="loginField" placeholder="<%=t 'firstname' %>"/><br>
            <input id="lastname_field" name="profile[lastname]" type="text" class="loginField" placeholder="<%=t 'lastname' %>"/><br>
        <% end %>
        <input id="weight_field" name="profile[weight]" type="text" class="loginField" placeholder="<%=t 'body_weight' %>"/>
        <div class="profileFormFieldUnit">kg</div><br>
        <input id="height_field" name="profile[height]" type="text" class="loginField" placeholder="<%=t 'height' %>"/>
        <div class="profileFormFieldUnit">cm</div><br>

        <fieldset class="profileField">
          <label><%=t :default_lang%>:</label><br/>
          <div class="loginRow">
            <input type="radio"  name="profile[default_lang]" value="en"/><span>English</span>
            <input type="radio"  name="profile[default_lang]" value="hu"/><span>Magyar</span>
          </div>
          <label><%=t :sex%>:</label><br/>
          <div class="loginRow">
            <input type="radio"  name="profile[sex]" value="male"/><span><%=t :male %></span>
            <input type="radio"  name="profile[sex]" value="female"/><span><%=t :female %></span>
          </div>
          <label><%=t :smoke_question%>:</label><br/>
          <div class="loginRow">
            <input type="radio"  name="profile[smoke]" value="1"/><span><%=t :answer_yes %></span>
            <input type="radio"  name="profile[smoke]" value="0"/><span><%=t :answer_no %></span>
          </div>
          <label><%=t :insulin_question%>:</label><br/>
          <div class="loginRow">
            <input type="radio"  name="profile[insulin]" value="1"/><span><%=t :answer_yes %></span>
            <input type="radio"  name="profile[insulin]" value="0"/><span><%=t :answer_no %></span>
          </div>

        </fieldset>

        <label for="profile_dateofbirth" style="color: #A5A5A5;"><%=t :date_of_birth%>:</label>
        <%=select("profile", "dateofbirth", options_for_select((1900..2015).step(1)), :include_blank => true)%>
        <!--<input id='profile_birth_datepicker' type='text' class="loginField" name="profile[dateofbirth]" value="<!%= DateTime.new(1980,1,1).strftime("%F") %>"/>-->
        <br/><br/>

        <input type="submit" class="loginButton animButton" value="<%=t 'save' %>"/>
    <% end %>
    <%= form_tag("/users/#{current_user.id}/profile", :method => :post, :remote => true, :id=> 'emptyProfileForm') do %>
        <input name="lang" value="<%=I18n.locale%>" type="hidden" />
        <input type="hidden" id="user_id" name="profile[user_id]" value="<%= @current_user.id %>">
        <input type="submit" class="skipButton animButton" value="<%=t 'skip' %>"/>
    <%end%>
  </div>
</div>

<%= render partial: 'shared/popups' %>

<script>
    pages_menu()
    profile_loaded()
</script>
