<div class="signin container">

    <div class="sidebar">
        <div class="main-logo">SmartSport</div>
        <div class="register-link-holder"><a href="<%= new_user_path %>" class="register-link">Create a new user account</a></div>
        <%= form_tag user_sessions_path, :method => :post do %>
            <div class="field">
                <label for="email">Email address</label> <br/>
                <%= text_field_tag :email, "", { :class => 'login-input'} %>
            </div>
            <div class="field">
                <label for="password">Password</label><br />
                <%= password_field_tag :password, "", { :class => 'login-input'} %>
            </div>
            <div class="button-holder">
                <%= submit_tag "Login",  { :class => 'login-submit'} %>
            </div>
        <% end %>
    </div>

    <div class="login-image-holder">&nbsp;</div>

</div>