<!DOCTYPE html>

<html>
<head>
    <title>Login | SmartDiab</title>
    <%= stylesheet_link_tag 'application_mobile', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application_mobile', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'logo-login.png' %>

</head>
<body class="bodyBg bgAnimation">

<%= yield %>

<script type="text/javascript">

     //pages_menu()

     $.mobile.loading().hide();
     $.extend(  $.mobile , {
        ajaxEnabled		 : false,
        hashListeningEnabled: false
    });


     $( window ).on( "orientationchange", function( event ) {
         location.reload();
     });



    function rotateLogo() {
        $('#loginLogo').animate({borderSpacing: -360}, {
            step: function (now, fx) {
                $(this).css('-webkit-transform', 'rotate(' + now + 'deg)');
                $(this).css('-moz-transform', 'rotate(' + now + 'deg)');
                $(this).css('transform', 'rotate(' + now + 'deg)');
            },
            duration: 2000
        }, 'linear');
    }

    var colorIndex = 0;

    function changeColor() {
        var backgrounds = ['#9DCFFE', '#74CED7', '#ffd29b'];
        var buttonBackgrounds = ['#4FBDF2', '#5DD09A', '#FE9A6C'];

        if (colorIndex < 2) {
            colorIndex++
        } else {
            colorIndex = 0;
        }


        $('body').animate({backgroundColor: backgrounds[colorIndex]}, 2000);
        $('.loginButton').animate({
            backgroundColor: buttonBackgrounds[colorIndex],
            borderColor: buttonBackgrounds[colorIndex]
        }, 2000);
        $('.loginField').animate({borderColor: buttonBackgrounds[colorIndex]}, 2000);

    }


    $(function () {

        $('#username_field').watermark('User name');
        $('#password_field').watermark('Password');
        $('#username_field').focus();

        setInterval(function () {
            rotateLogo();
            changeColor();
        }, 1000 * 30); // where X is your every X minutes
        rotateLogo();
        $('#loginLogo').click(function () {
            rotateLogo();
            changeColor();
        });


    });

</script>



</body>
</html>