<!DOCTYPE html>

<html>
<head>
    <title>Login | <%= t :project_name %></title>
    <script type="text/javascript">window.url_prefix = "<%= root_path %>";</script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'logo-login.png' %>
</head>
<body class="bodyBg bgAnimation">

<%= yield %>


<%= render partial: 'shared/popups' %>

<script type="text/javascript">

pages_menu()

</script>

</body>
</html>