<!DOCTYPE html>

<html>
<head>
    <title><%= yield :title_text %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'logo-login.png' %>

</head>
<body class="nobgAnimation">
    <%= yield :menu %>

    <div class="topBanner">
      <div class="left">
        <%= image_tag "logo-login.png", alt: "Login", style: "margin-top: 10px; width: 40px; float: left;", id: "headerLoginLogo", class: "loginLogo" %>
        <span class="logoTitle">SmartDiab</span>
      </div>
      <div class="right">
        <%= image_tag current_user.avatar.url(:medium), style: "width: 40px; height: 40px; float: left;border-radius: 30px" %>

        <div style="float: right;width: 30px;text-align: center;">
          <%= form_tag logout_path, :method => :post do %>
              <input type="image" src="<%= image_url "menu/logout.png" %>"  style="width: 20px;padding-top: 15px;">
          <% end %>
        </div>

        <div style="float: right;width: 30px;text-align: center;"><%= image_tag "menu/settings.png", style: "width: 20px;padding-top: 15px", id:"settings-link"%></div>
        <div style="float: right;height: 50px;line-height: 50px;color: #3d3d3d;font-size: 13px;padding-left: 5px"><%= current_user.name %></div>
      </div>
    </div>


    <div  style="margin-left: 220px; margin-top: 60px;margin-right: 80px;">
        <div style="margin-left: 40px;margin-top: 80px;">
            <input id="current-user-id" value="<%= current_user.id %>" type="hidden" >
            <%= yield %>

        </div>
    </div>

    <div id="infoPopup" class="dataCaptured hidden">
      <div class="inner">
        <center>
          <i class="fa fa-check-circle-o fa-5x info-icon"></i>
        </center>
        <div style="text-align: center;font-size: 24px;padding-top: 20px;">Done</div>
        <div style="text-align: center;padding-left: 20px;padding-right: 20px;padding-top: 20px;color: #bababa;">
          <span class="msg">Blood Pressure 120/80/60</span>
        </div>
      </div>
      <div class="bottom">
        <center>
          <button id="infoOkButton" style="background: #8982c8;border: none;color: #ffffff;width: 90px; height: 40px;margin-top: 10px;">OK</button>
        </center>
      </div>
    </div>

    <div id="errorPopup" class="dataCaptured hidden">
      <div class="inner">
        <center>
          <i class="fa fa-times-circle-o fa-5x error-icon"></i>
        </center>
        <div style="text-align: center;font-size: 24px;padding-top: 20px;">Failed</div>
        <div style="text-align: center;padding-left: 20px;padding-right: 20px;padding-top: 20px;color: #bababa;">
          <span class="msg">Blood Pressure 120/80/60</span>
        </div>
      </div>
      <div class="bottom">
        <center>
          <button id="errorOkButton" style="background: #8982c8;border: none;color: #ffffff;width: 90px; height: 40px;margin-top: 10px;">OK</button>
        </center>
      </div>
    </div>


</body>
</html>
