<!DOCTYPE html>

<html>
<head>
    <title><%= yield :title_text %></title>
    <%= stylesheet_link_tag 'application_mobile', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application_mobile', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'logo-login.png' %>
    <link rel="apple-touch-icon" href="<%= image_path('logo-login.png')%>">
    <link rel="apple-touch-icon-precomposed" href="<%= image_path('logo-login.png')%>">

  <script>
      console.log("pages main script executing...");
      pages_mobile_menu();
      $(document).on("pagebeforecreate", "body", function(e) {
          console.log("pagebeforecreate: "+e.target.id);
          if( $("body")[0].dataset == undefined || $("body")[0].dataset.spinited==undefined || $("body")[0].dataset.spinited!="true" ) {
              console.log("init");
              $("body").attr("data-spinited", "true");
              tmp = $("#menuTemplate").html();
              $.mobile.pageContainer.prepend(tmp);
              $.mobile.pageContainer.children().first().attr("id", "menuPanel");
              $("#menuPanel").panel().enhanceWithin();
          }
      });

      $(document).on("pagebeforecreate", "#dashboardPage", function(e) {
          console.log("dashboardPage pagebeforecreate called");
      });
      $(document).on("pagebeforecreate", "#dietPage", function(e) {
          console.log("dietPage pagebeforecreate called");
          diet_loaded();
      });
      $(document).on("pagebeforecreate", "#exercisePage", function(e) {
          console.log("exercisePage pagebeforecreate called");
          exercise_loaded();
      });
      $(document).on("pagebeforecreate", "#healthPage", function(e) {
          console.log("healthPage pagebeforecreate called");
          health_loaded();
      });
      $(document).on("pagebeforecreate", "#medicationPage", function(e) {
          console.log("medicationPage pagebeforecreate called");
          medications_loaded();
      });
      $(document).on("pagebeforecreate", "#wellbeingPage", function(e) {
          console.log("wellbeingPage pagebeforecreate called");
          wellbeing_loaded();
      });
      $(document).on("pagebeforecreate", "#geneticsPage", function(e) {
          console.log("geneticsPage pagebeforecreate called");
          genetics_loaded();
      });
      $(document).on("pagebeforecreate", "#labresultPage", function(e) {
          console.log("labresultPage pagebeforecreate called");
          labresults_loaded();
      });
      $(document).on("pagecontainerbeforeshow", function(e, ui) {
          if(ui.toPage[0].id=="editFoodPage") {
              show_food(e, ui);
          }
      });

      $(document).on("ajax:success", "#logoutFormMobile", function(e, data, status, xhr) {
          form_id = e.currentTarget.id;
          console.log( "success " + form_id);
          document.location = '/'
//          $.mobile.changePage("/login");
//          $.mobile.navigate("#dietPage");
      }).on("ajax:error", function(e, xhr, status, error) {
          console.log( e);
          console.log( xhr);
          console.log( error);
          $("#failurePopup").popup("open");
      });

  </script>

</head>

    <body>
    <input id="current-user-id" value="<%= current_user.id %>" type="hidden" >

    <%= yield %>

    </body>
</html>
