<!DOCTYPE html>
<html>
<head>
    <title>SmartDiab</title>
    <%= stylesheet_link_tag 'application_mobile', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" href="<%= asset_path('logo.png') %>" />
</head>
<body>

<div class="content clearfix">
    <input id="current-user-id" value="<%= current_user.id %>" class="hidden" >
    <input id="current-user-name" value="<%= current_user.username %>" class="hidden" >
    <input id="shown-user-id" type="hidden" value="<%= if @shown_user then @shown_user.id else '' end %>">
    <!--<div class="contenthead-spaceonly"></div>-->

    <div id="browser-list-header-tab" class="browser-list-header clearfix">

    </div>

    <script type="text/javascript">
        pages_menu();
    </script>
    <%= yield %>
</div>

</body>

</html>

