<!DOCTYPE html>

<html>
<head>
    <title><%= yield :title_text %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'logo-login.png' %>

</head>
<body class="nobgAnimation">
    <%= yield :background_style %>
    <%= yield :menu %>

    <div class="topBanner">
      <div class="left">
        <%= image_tag "logo-login.png", alt: "Login", style: "margin-top: 10px; width: 40px; float: left;", id: "headerLoginLogo", class: "loginLogo" %>
        <span class="logoTitle">SmartDiab</span>
      </div>
      <div class="right">
        <%= image_tag current_user.avatar.url(:medium), style: "width: 40px; height: 40px; float: left;border-radius: 30px" %>

        <div style="float: right;width: 30px;text-align: center;">
          <%= form_tag logout_path, :method => :post, :id => 'logoutForm', :remote => true do %>
              <input type="image" src="<%= image_url "menu/logout.png" %>"  style="width: 20px;padding-top: 15px;">
          <% end %>
        </div>
        <div id="langswitcher" class="langSwitcherTop" ><%= @lang_label %></div>
        <div style="float: right;width: 30px;text-align: center;"><%= image_tag "menu/settings.png", style: "width: 20px;padding-top: 15px", id:"settings-link"%>
          <input id="settings-url" value=<%= url_for( :action => 'settings', :locale => I18n.locale ) %> type="hidden" >
        </div>

        <div style="float: right;height: 50px;line-height: 50px;color: #3d3d3d;font-size: 13px;padding-left: 5px"><%= @display_name %></div>
      </div>
    </div>


    <div  style="margin-left: 220px; margin-top: 60px;margin-right: 80px;">
        <div style="margin-left: 40px;margin-top: 80px;">
            <input id="current-user-id" value="<%= current_user.id %>" type="hidden" >
            <%= yield %>

        </div>
    </div>

    <%= render partial: 'shared/popups' %>

    <div id="openModal" class="modalDialog">
      <div>
          <div class="table-toolbar">
              <span id="close-health-data" class="right page-control modalClose"><i class="fa fa-times fa-2x"></i></span>
              <span id="download-health-data" class="right page-control"><i class="fa fa-download fa-2x"></i></span>
          </div>
          <br/>
          <br/>
          <div id="health-data-container">
            <table id="health-data" class="display" cellspacing="0" width="100%"></table>
          </div>
      </div>
    </div>
</body>
</html>
